@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
	font-family: 'Roboto', sans-serif !important;
	margin: 0px;
    padding: 0px;
    font-size: 14px !important;
    font-weight: 400 !important;
    background-color: #1C2932;
}
a, button {
    color: #FFF;
}
a:hover{
    color: #F1B90C;
}
ul, li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
label {
    font-weight: 700;
}
a:hover{
    text-decoration: none;
}
/*text style*/
.text-success{
    color: #45bb0b;
}
#main {
    padding: 30px 0 30px 400px;
}
.box_sidebar .link_wrapper i{
	font-size: 1.5rem;
}
.clear20{
  width: 100%;
  height: 20px;
}
#header {
    /* background-image: linear-gradient(141deg, #252e33 0%, #10161b 51%, #0A1116 75%); */
    background-color: #293946;
}
#header::after {
    background: #1C2932;
}
#header::before {
    background-color: #293946;
}
#header .user_data .user_navigation {
    margin: 5px 0 8px 0;
}
#header .user_data .user_navigation .link {
    width: 90%;
    font-size: 14px !important;
    padding: 12px 8px 12px 20px;
    justify-content: flex-start;
    border-left: 3px solid #F1B90C;
}
#header .user_data .user_navigation .link .icon {
    margin: 0 6px 0 0px;
}
#header .navigation {
    min-height: 100vh !important;
    background-color: #1C2932;
}
#header .user_data .user_navigation .link {
    background: #1C2932;
}
.fa, .fas {
    font-weight: 700 !important;
}
.user_data .user_preview .code{
    color: #FFF;
    font-weight: 700;
    margin-left: 0.5em;
}
.box__code{
    display: flex;
    flex-direction: row;
    color: #FFF;
}
#btnCopyCode i{
    color: #FFF;
    margin-left: 10px;
    font-size: 1.2rem;
}
#header .navigation .link_list .link_wrapper a {
    font-weight: 400 !important;
}
.card_dash.commission .card_dash-box {
    width: 24%;
    margin: 0 0.5%;
}
.card_dash .card_dash-box .card_dash-container .card_dash-left img{
    width: 50px;
}
.card_dash .card_dash-box {
    border-bottom: none;
}
.box__code{
    margin: 10px 0px 30px;
}
.verified{
    display: flex;
    flex-direction: row;
}
.verified img{
    margin-right: 5px;
}
#header .user_data .user_preview .avatar {
    width: 100px;
    height: 100px;
}
.clear{
    clear: both;
}
.clear.height20{
    height: 20px;
}
.clear.height10{
    height: 10px;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }
.clearfix { display: inline-block; }
.clearfix { display: block; }
a{
    text-decoration: none;
}
.text__success{
    color: #83A51A;
}
.link__style{
    color: #FFF;
    display: table;
    margin: 10px auto;
}
.border__body{
    border: 1px solid rgba(0,0,0,.125);
}
.link__style:hover{
    color: #FFF;
}
.fs__1{
    font-size: 1.5rem;
}
.fs__1:hover{
    color: #DF5826;
    cursor: pointer;
}
.fs__2{
    font-size: 2rem;
}
.box__unique{
    position: relative;
}
.exchange select option{
    color: #333;
}
#messagesCopy{
    position: absolute;
    top: 50%;
    left: 100%;
}
#messagesCopy span{
    background-color: #77C454;
    color: #FFF;
    font-size: 0.85rem;
    padding: 3px 10px;
    border-radius: 4px;
    position: relative;
}
.img__level{
    margin-top: -20px;
}
.card_dash .card_dash-box{
    background-image: linear-gradient(264deg, rgb(53, 71, 86), rgb(65, 91, 112), rgb(65, 91, 112)) !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #FFF !important;
}
/*------- css alert -  main ---- */
.alert-success {
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-image: url('../../dashboard/images/icCheck.png');
    background-size: 25px;
    background-position: 5px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.box__qrcode{
    text-align: center;
}

.box__balance__token{
    background-color: #fe4602;
    background-image: linear-gradient(141deg, #fc840d 0%, #fd6107 51%, #fe4602 75%);
    padding: 20px;
    text-align: center;
    border: 2px solid #F8A101;
    border-radius: 5px;
}
.box__balance__token .number{
    font-size: 2.5rem;
    margin: 10px 0px;
}
.anu__btn{
    background-color: #fe4602;
    background-image: linear-gradient(141deg, #fc840d 0%, #fd6107 51%, #fe4602 75%);
    color: #FFF;
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    font-weight: 500;
    border-radius: 40px;
    margin: 10px 0px;
    text-transform: uppercase;
    font-size: 1rem;
    position:relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 20px;
}
.tools__balance .anu__btn{
    width: 49%;
    float: left;
}
.tools__balance .anu__btn.btn__mr{
    margin-right: 2%;
}
.btn__deposite{
    background-color: #45bb0b;
    background-image: linear-gradient(141deg, #3ea00d 0%, #4b9f21 51%, #61c52f 75%);
}
.btn__withdraw{
    background-color: #cc0a1d;
    background-image: linear-gradient(141deg, #cc0a1d 0%, #da2f3f 51%, #e84554 75%);
}
.anu__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.3);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
    border-radius: 40px;
}
.anu__btn:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.box__balance{
    background-image: url('../../images/bg.png');
    background-size: cover;
    background-position: center;
    background-color: #24323F;
    background-color: linear-gradient(#24323F 0%, #36424c 100%);
    padding: 20px;
    text-align: center;
    border: 2px solid #374e64;
    border-radius: 5px;
}
.box__balance .number{
    font-size: 2.5rem;
    margin: 10px 0px;
}
/*Deposite*/
.box__address__wallet{
    border: 1px solid #f5f5f5;
    position: relative;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
}
.box__deposite .title{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.box__deposite .title strong{
    color: #DF5826;
    font-weight: 900;
}
.box__deposite .box__qrcode{
    margin: 25px 0px;
}
.box__address__wallet #btnCopy, .box__address__wallet #btnCopyReferral{
    background-image: linear-gradient(264deg, #f7da42, #ffbc34, #f7da42);
    background-size: cover;
    color: #FFF;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
    min-width: 80px;
}
.box__address__wallet .item_wallet{
    padding-left: 15px;
}
.box__deposite .box__notify{
    margin: 20px 0px 0px;
}
.box__deposite .box__choose__coin{
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.box__deposite .box__choose__coin .btn__choose{
    background: linear-gradient(#24323F 0%, #36424c 100%);
    color: #FFF;
    padding: 7px 20px;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    margin: 10px 0px;
    text-transform: uppercase;
    font-size: 1rem;
    box-shadow: 0 5px #5a6c7c;
    position:relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
.box__deposite .box__choose__coin .btn__choose.active{
    background: linear-gradient(#ED8221 0%, #de5326 100%);
}
/*Buy token*/
.box__buytoken .title{
    font-size: 1.4rem;
}
.box__pay{
    border: 1px solid #00487B;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.box__pay .item__pay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
}
.box__pay .item__pay .name{
    width: 50%;
} 
.box__pay .item__pay .number{
    width: 50%;
    text-align: right;
    font-size: 1.2rem;
} 
/*style select2*/
.select2-container .select2-selection--single {
    height: 50px !important;
    background-color: transparent !important;
    border: 1px solid #80bdff !important;
    border-radius: 30px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px !important;
}
/*exchange*/
#loadInfo{
    font-size: 12px;
    font-style: italic;
    margin: 0px !important;
}
.nav-link{
    font-size: 1rem;
}
.nav-link i{
    margin-right: 10px;
}
.nav-link.active{
    font-weight: 900;
    color: #F1B90C;
}
.nav-item.border-b{
    border-bottom: 1px solid #1C2932;
}
.card{
    -webkit-box-shadow: 0 6px 6px -6px #3b4449;
    -moz-box-shadow: 0 6px 6px -6px #3b4449;
    box-shadow: 0 6px 6px -6px #3b4449;
    background-color: #293946;
    border: 1px solid #293946;
    color: #FFF;
    border-radius: 30px;
    border-left: 3px solid #F1B90C;
}
.base_wrapper .base_title {
    color: #F1B90C;
    text-transform: uppercase;
    padding-bottom: 15px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #333;
}
.card-title {
    font-weight: 700;
}
.card-body-3,.card-body-withdraw{
    padding: 30px 50px;
}
.form-group .form-control {
    border-radius: 30px;
    min-height: 42px;
    padding: 0px 22px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    background: transparent;
    color: #FFF !important;
    border: 1px solid #80bdff;
}
.big_button {
    padding: 14px 30px;
    background: #1C2932;
    border-radius: 30px;
    border-left: 3px solid #F1B90C;
    width: 100%;
    font-weight: 700;
    font-size: 1.1rem;
}
.m-auto{
    display: table;
    margin: auto;
}
.identity-content {
    text-align: center;
}
.identity-content .icon {
    display: flex;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    margin: 0 auto;
    background: #77C454;
    color: #49842e;
    font-size: 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.identity-content h4 {
    max-width: 350px;
    margin: 0 auto 15px;
    font-weight: 700;
}
.identity-content p {
    max-width: 350px;
    margin: 0 auto 30px;
}
.align-items-center{
    min-height: 70vh;
}
.big_button:hover{
    color: #FFF;
}
/*Dashboard*/
.box__btn{
    margin-bottom: 5px;
    width: 24%;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    margin: 0px 0.5%;
}
.box__btn a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 12px 15px;
    color: #fff;
    background-image: linear-gradient(264deg, rgb(53, 71, 86), rgb(65, 91, 112), rgb(65, 91, 112)) !important;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 6px 6px -6px #00487b;
    -moz-box-shadow: 0 6px 6px -6px #00487b;
    box-shadow: 0 6px 6px -6px #00487b;
    display: flex;
    border: 2px solid #FFF;
    width: 50%;
}
.box__btn a.bg_success{
    background-image: linear-gradient(264deg, #10c647, #0cb13f, #099434) !important;
}
.box__btn a.bg_danger{
    background-image: linear-gradient(264deg, #b90f0f, #cd1313, #e12424) !important;
}
.box__btn a.block {
    width: 100%;
}
.box__btn a .icon {
    min-width: 24px;
    max-width: 24px;
    width: 100%;
    min-height: 24px;
    max-height: 24px;
    height: 100%;
    margin: 0 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* sidebar */
#header .navigation {
    padding-top: 15px;
}
::-webkit-input-placeholder { /* Edge */
    color: red;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

::placeholder {
    color: red;
}
.menu_nav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.menu_nav a{
    width: 50%;
    font-size: 1.1rem !important;
    padding: 12px 8px 12px 20px;
    justify-content: flex-start;
    border-left: 3px solid #F1B90C;
    border-radius: 50px;
    background: #000;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
}
.menu_nav a.active{
    border-left: 5px solid #b2890c;
    background: #F1B90C;
    color: #000;
}
.menu_nav a i{
    margin-right: 5px;
}
.menu_nav a.right{
    margin-left: 10px;
}
.table thead th {
    border-bottom: 2px solid #ddd;
}
.table td, .table th {
    border-top: 1px solid #333;
}
.play_now {
    background-image: linear-gradient(264deg, #f7da42, #ffbc34, #f7da42);
    background-size: cover;
    color: #FFF;
    border: none;
    padding: 5px 0px;
    width: 120px;
    display: table;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    z-index: 999;
}
.play_now:hover {
    color: #333;
}
.collect {
    background-image: linear-gradient(264deg, #f7da42, #ffbc34, #f7da42);
    background-size: cover;
    color: #FFF;
    border: none;
    padding: 5px 0px;
    width: 120px;
    display: table;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    z-index: 999;
}
.collect:hover {
    color: #333;
}
footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    color: #F1B90C;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    z-index: 1;
}
@media screen and (max-width: 768px) {
    #header .navigation {
        min-height: auto !important; 
    }
    .card_dash .card_dash-box {
        width: 48% !important;
    }
    .box__btn{
        margin-bottom: 5px;
        width: 48%;
    }
    #main {
        padding: 70px 0px 10px 0px !important; 
    }
    img{
        max-width: 100% ! important;
    }
    #header .navigation .mobile_menu_control {
        z-index: 9;
    }
    #header .navigation .link_list {
        z-index: 8;
    }
    footer{
        position: relative;
    }
}
@media screen and (max-width: 560px){
    .box__btn{
        margin-bottom: 5px;
        width: 100%;
    }
    .profile_card{
        margin-bottom: 20px;
    }
    .box__deposite .box__choose__coin .btn__choose {
        color: #FFF;
        padding: 4px 10px;
    }
    .settings_menu{
        margin-bottom: 15px;
    }
    .card_dash .card_dash-box {
        margin: 0px 0px 15px !important;
    }
    #header {
        max-height: 85px !important;
    }
    #main {
        padding: 100px 0px 10px 0px !important;
    }
}
