@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
	font-family: 'Roboto', sans-serif !important;
	margin: 0px;
    padding: 0px;
    font-size: 14px !important;
    font-weight: 400 !important;
    overflow-x: hidden;
    min-height: 100vh;
}
a{
    color: #FFF;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #FFF;
    font-weight: 500;
}
.text-primary {
    color: #FFF !important;
}
.text-primary:hover{
    color: #F1B90C !important;
}
/* logo */
.mini-logo img{
    max-width: 85px;
}
#main-wrapper{
    background-image: linear-gradient(141deg, #1C2932 0%, #1C2932 51%, #1C2932 75%);
    background-color: #0A1116;
    min-height: 100vh;
    color: #FFF;
    /* background-image: url('../../images/bg.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat; */
}
#main-wrapper .authincation{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.box-flex{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.auth-form {
    background-color: #15212a;
    border: 1px solid #222;
}
.card {
    border-radius: 0;
}
.card-header {
    padding: 10px 30px;
    border-bottom: 1px solid #222;
}
.form-group .form-control {
    min-height: 45px;
    color: #FFF !important;
}
.form-group .form-control::placeholder{
    color: #FFF !important;
}
.form-group label span {
    color: #FFF;
    font-family: arial;
}
.form-group label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #FFF;
}