a{
	cursor: pointer;
}
/* notify error validate -optech1 */
.has-error{
	color: #bd0103;
}
/* alert notify add/edit/change data module - otMain */
.myadmin-alert{
	padding: 15px 20px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 99;
}
#boxNotify{
	display: none;
	padding: 15px 20px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 99;
}
#pin-sidebar{
	cursor: pointer;
}
/* END alert notify add/edit/change data module - otMain */
.box___identity__modal img{
	max-height: 250px;
	border: 1px solid #ddd;
}
