@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body{
	font-family: 'Play', sans-serif !important;
	font-size: 14px;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
    background-color: #1c2933;
}
.clear{
	clear: both;
}
.clear.height20{
    height: 20px;
}
.clear.height10{
    height: 10px;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }
.clearfix { display: inline-block; }
.clearfix { display: block; }
a{
	text-decoration: none;
}
.text__success{
    color: #83A51A;
}
.link__style{
    color: #FFF;
    display: table;
    margin: 10px auto;
}
.link__style:hover{
    color: #FFF;
}
/*------- css alert -  main ---- */
.alert-success {
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-image: url('../../dashboard/images/icCheck.png');
    background-size: 25px;
    background-position: 5px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}
/*------- css label input require -  main ---- */
.box__require{
    color: #ffe22b;
    font-weight: 300 !important;
}
/*------- otMain -  main ---- */
#main {
    margin-right: 400px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(.36,.66,.04,1);
    transition-timing-function: cubic-bezier(.36,.66,.04,1);
    -webkit-transition-property: margin-right;
    transition-property: margin-right;
    padding-top: 6.75rem;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#main #header {
    right: 400px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(.36,.66,.04,1);
    transition-timing-function: cubic-bezier(.36,.66,.04,1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    padding-top: 0;
    background-color: #2a3946;
}
#main #header .header-pc {
    background-color: #1c2932;
}
#main #header .logo {
    position: absolute;
    left: 27px;
    top: 2px;
    text-align: center;
    margin: 4px 0;
}
#main #header .logo a {
    display: block;
}
#main #header .main-logo {
    height: 40px;
    display: inline-block;
    vertical-align: top;
}
#main #header .navmt7 {
    margin: 0 auto 0 230px;
    width: 500px;
    white-space: nowrap;
    font-size: 14px;
    line-height: 54px;
}
#main #header .navmt7 ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#main #header .navmt7 ul li{
	float: left;
}
#main #header .navmt7 ul li a{
	color: #FFF;
	text-transform: uppercase;
	font-weight: 700;
	font-weight: 15px;
	margin: 0px 20px;
}
#main #header .right {
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 10;
    height: 2.25rem;
    padding: 0 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#main #header .head-button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 3rem;
    width: 3rem;
    padding: .375rem;
    margin-left: .3125rem;
    border: 2px solid #2d3e4c;
    border-radius: .1875rem;
    background-color: transparent;
    position: relative;
    color: #6e8899;
    background-image: none;
    outline: none;
}
#main #header .head-button:hover {
    color: #ffe22b;
}
#main #header .login-button {
    text-align: left;
    border-radius: .1875rem;
    line-height: 2rem;
    width: auto;
    background-image: linear-gradient(264deg,#f7da42,#ffbc34,#f7da42);
    padding: 5px 10px !important;
    margin: 0 .9375rem 0 1.875rem;
    color: #fff;
    position: relative;
    cursor: pointer;
    float: left;
}
#header .login-button .login-icon {
    display: inline-block;
    width: .75rem;
    height: .75rem;
    margin-right: .5625rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#header .sub-header {
    height: 3rem;
    background-color: #273642;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#header .sub-header #broadcast {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    height: 3rem;
    line-height: 3rem;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    padding-left: 3.4375rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#header .sub-header #broadcast .msg {
    position: absolute;
    top: 0;
    right: 0;
    left: 1.4375rem;
    height: 100%;
}
#header .sub-header #broadcast .msg .text {
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 95%;
    cursor: pointer;
}
#header .sub-header #broadcast .hron-img {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    left: .9375rem;
    top: 50%;
    margin-top: -.625rem;
    color: #ffe22b;
}
#header .sub-header .sub-header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1010px;
    margin: 0 1.125rem 0 1.125rem;
}
/*------- otMain - modal sign in and sign up ---- */
.modalLogin{
    border-radius: 3px;
    -webkit-transition: width .5s cubic-bezier(.36,.66,.04,1),height .5s cubic-bezier(.36,.66,.04,1);
    transition: width .5s cubic-bezier(.36,.66,.04,1),height .5s cubic-bezier(.36,.66,.04,1);
    will-change: transform;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 560px !important;
}
.modalLogin .modal-content{
	background-color: #22303b !important;
}
.modalLogin .modal-body {
    padding: 1.875rem 2.5rem !important;
}
.modalLogin .boxTitle{
	text-align: center;
}
.modalLogin .boxTitle a{
	color: #FFF;
	position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 26%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 25px;
}
.modalLogin .boxTitle a.active{
	color: #ffe22b;
}
.modalLogin .logo{
	margin: 3.5rem 0;
}
.modalLogin .logo img{
    margin: 3.75rem auto .625rem;
    display: block;
    width: 25rem;
}
.modalLogin .slogn {
    text-align: center;
    margin-bottom: 3.5rem;
    color: #6e8899;
}
.modalLogin .login__form{
	width: 70%;
    margin: 1.875rem auto;
}
.modalLogin .login__form .form-item{
	margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 2.75rem;
    border-radius: .2rem;
    overflow: hidden;
    background-color: #273642;
    border-color: #273642;
}
.modalLogin .login__form .form-item.btn-box{
	background-color: transparent;
    border-color: transparent;
}
.modalLogin .login__form .form-item input{
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1rem 1.375rem;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background: transparent;
}
.modalLogin .login__form .form-item input::valid{
	background: transparent;
	background-color: transparent;
}
.modalLogin .login__form .form-item .check_show_pass{
    -ms-flex-item-align: center;
    align-self: center;
    padding-right: 1.375rem;
    cursor: pointer;
}
.modalLogin .login__form .form-item .check_show_pass i{
	font-size: 15px;
	color: #6e8899;
}
.modalLogin .login__form .form-item button{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    color: rgb(255, 255, 255);
    background-size: 200%;
    background-color: transparent;
    background-image: linear-gradient(264deg, rgb(247, 218, 66), rgb(255, 188, 52), rgb(247, 218, 66));
    white-space: nowrap;
    padding: 0px;
    user-select: none;
    border: none;
    transition: background-position 0.5s cubic-bezier(0.36, 0.66, 0.04, 1) 0s;
    line-height: 2.75rem;
    height: 4rem;
    border-radius: .125rem;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
}
.modalLogin .forget{
	display: block;
    margin: 10px auto 0;
    color: #ffe22b;
    text-align: center;
    cursor: pointer;
}
.modalLogin .other-login {
    height: 6.25rem;
    padding-top: .625rem;
}
.modalLogin .other-login .box-title {
    border-top: 1px solid rgba(60,77,91,.5);
    line-height: 0;
    margin-bottom: 1.625rem;
    text-align: center;
}
.modalLogin .other-login .box-title span {
    background-color: #22303b;
    font-size: 12px;
    padding: 0 .4375rem;
    color: #6e8899;
}
.modalLogin .social{
	display: table;
	margin: 0 auto 30px;
}
.modalLogin .social a{
	cursor: pointer;
	float: left;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	line-height: 35px;
	text-align: center;
	margin: 0px 10px;
}
.modalLogin .social a.fb{
	background-color: #227AEE;
}
.modalLogin .social a.google{
	background-color: #FA455E;
}
.modalLogin .social a img{
	width: 28px;
}
.modalLogin .form-item.no-bg {
    background-color: transparent;
}
.modalLogin .form-item.checkbox{
    cursor: pointer;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: unset;
    margin-bottom: 3rem;
    line-height: 1rem;
}
.modalLogin .form-item.checkbox .argument{
    color: #ffe22b;
    margin: 0 .125rem;
}
.modalLogin .form-item .fa-check-square{
    color: #ffe22b;
    position: unset;
    left: unset;
    top: unset;
    margin-top: unset;
    margin-right: .5rem;
    margin-left: .5rem;
    border-radius: .1875rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ffe22b;
    font-size: 2rem;
    padding: .0625rem .0625rem .0625rem .125rem;
    color: transparent;
}
.modalLogin .form-item .label{
    text-align: left;
    white-space: normal;
    font-size: 90%;
}
/*------- otMain -  profile css ---- */
.profileBox {
    width: 450px !important;
    margin: 100px auto;
}
.profileBox .contents {
    background-color: #22303b !important;
    padding: 25px 0px;
    border-radius: 3px;
}
.profileBox .contents .title{
    text-transform: uppercase;
    cursor: pointer;
    font-size: 25px;
    color: #ffe22b;
    text-align: center;
    font-weight: 700
}
.profileBox .login__form {
    width: 80%;
    margin: 1.875rem auto;
}
.profileBox .login__form .form-item {
    margin-bottom: 3rem;
    overflow: hidden;
    width: 100%;
}
.profileBox .login__form .form-item .box__qrcode{
    text-align: center;
    margin-bottom: 15px;
}
.profileBox .login__form .form-item .box__qrcode p{
    color: #FFF;
}
.box__notify__2fa{
    margin-bottom: 10px;
    text-align: center;
}
.profileBox .login__form .form-item label{
    color: #6e8899;
}
.profileBox .login__form .form-item input {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1rem 1.375rem;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background: transparent;
    background-color: #273642;
    border-color: #273642;
    min-height: 2.75rem;
    border-radius: .2rem;
}
.profileBox .login__form .form-item button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    background-size: 200%;
    background-color: transparent;
    background-image: linear-gradient(264deg, rgb(247, 218, 66), rgb(255, 188, 52), rgb(247, 218, 66));
    white-space: nowrap;
    padding: 0px;
    user-select: none;
    border: none;
    transition: background-position 0.5s cubic-bezier(0.36, 0.66, 0.04, 1) 0s;
    line-height: 2.75rem;
    height: 4rem;
    border-radius: .125rem;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
}
/*------- otMain -  notify css ---- */
.notifyBox {
    width: 450px !important;
    margin: 100px auto;
}
.notifyBox .contents {
    background-color: #22303b !important;
    padding: 35px 0px;
    border-radius: 3px;
    text-align: center;
    color: #FFF;
}
.notifyBox .contents img{
    width: 100px;
    margin-bottom: 20px;
}
/* dropdown account - otMain */
.myAccount{
    margin-left: 15px;
}
.myAccount .fullname{
    cursor: pointer;
    color: #FCC438;
    font-weight: 700;
    line-height: 30px;
}
.myAccount .fullname:hover, .myAccount .fullname:focus{
    color: #FCC438;
}
.myAccount .dropdown-menu{
    padding: 5px 15px;
    right: 0px;
    left: auto;
}
.myAccount .dropdown-menu a{
    display: block;
    line-height: 30px;
    color: #333;
    width: 100%;
}
.myAccount .dropdown-menu a.account{
    border-bottom: 1px solid #ddd;
}
/* END dropdown account - otMain */

/*---------------------------- dashboard - otMain ----------------------------*/
.mainDash{
    margin: 30px 0px;
    padding: 0px 20px;
}
.mainDash .item__account{
    background-color: #22303b;
    background-image: linear-gradient(to right, #22303b , rgb(49, 68, 82));
    border: 1px solid #2b3e4d;
    border-radius: 5px;
    padding: 15px 0px;
}
.mainDash .item__account .avatar{
    width: 100%;
}
.mainDash .item__account .info{
    list-style: none;
    color: #FFF;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.mainDash .item__account .info .fullname{
    font-size: 20px;
    font-weight: 700;
}
.mainDash .item__account .info .btn__copy{
    color: #FFF;
    font-size: 17px;
    cursor: pointer;
    margin-left: 5px;
}
.mainDash .item__account .info .box__status{
    position: absolute;
    top: 0px;
    right: 15px;
}
.mainDash .item__account .info .box__status .is__verify{
    background-image: url('../../dashboard/images/icVerify.png');
    background-position: top left;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 22px;
    line-height: 18px;
}
.mainDash .item__account .info .box__status .btn__verify{
    color: #D34C11;
}
.mainDash .item__account__btn{
    background-color: #22303b;
    background-image: linear-gradient(to right, #22303b , rgb(49, 68, 82));
    border: 1px solid #2b3e4d;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px 0px;
}
.mainDash .item__account__btn a{
    color: #FFF;
    min-height: 25px;
    float: left;
    background-position: top left;
    background-size: 25px;
    background-repeat: no-repeat;
    padding-left: 35px;
    line-height: 25px;
}
.mainDash .item__account__btn .key{
    background-image: url('../../dashboard/images/icKey.png');
}
.mainDash .item__account__btn ._2fa{
    background-image: url('../../dashboard/images/ic2FA.png');
}
.mainDash .item__amout__wallet{
    background-color: #22303b;
    background-image: linear-gradient(to right, #22303b , rgb(49, 68, 82));
    border: 1px solid #2b3e4d;
    border-radius: 5px;
    padding: 15px 0px;
    height: 105px;
}
.mainDash .item__amout__wallet{
    color: #FFF;
    text-align: center;
}
.mainDash .item__amout__wallet .title{
    color: rgb(161, 187, 206);
}
.mainDash .item__amout__wallet .amount{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}
.mainDash .box__tools__wallet a{
    border: 1px solid #2b3e4d;
    border-radius: 5px;
    padding: 12px 0px;
    margin: 5px 0px;
    width: 100%;
    text-align: center;
    display: table;
    color: #FFF;
}
.mainDash .box__tools__wallet a.deposite{
    background-color: #22303b;
    background-image: linear-gradient(to right, #09871b , #0aa320);
}
.mainDash .box__tools__wallet a.withdraw{
    background-color: #22303b;
    background-image: linear-gradient(to right, #c2440d , #d64d11);
}
.mainDash .my__referent{
    background-color: #22303b;
    background-image: linear-gradient(to right, #22303b , rgb(49, 68, 82));
    border: 1px solid #2b3e4d;
    border-radius: 5px;
    padding: 15px 0px;
    color: rgb(161, 187, 206);
}
.mainDash .my__referent .info__referent span{
    color: #0AA020;
    font-weight: 700;
    background-image: url(../../dashboard/images/icReferent.png);
    background-position: 0px 3px;
    background-size: 17px;
    background-repeat: no-repeat;
    padding-left: 20px;
    min-height: 25px;
    line-height: 25px;
    float: right;
}
.mainDash .my__referent .btn__referent{
    color: #D34C11;
    background-image: url(../../dashboard/images/icWarning.png);
    background-position: 0px 3px;
    background-size: 17px;
    background-repeat: no-repeat;
    padding-left: 20px;
    min-height: 25px;
    line-height: 25px;
    float: right;
    cursor: pointer;
}
/*---------------------------- END dashboard - otMain ----------------------------*/

/*---------------------------- Custom Button Styling - otMain ----------------------------*/
.btn__orange{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    background-size: 200%;
    background-color: transparent;
    background-image: linear-gradient(264deg, #D34C11, #e0642e, #D34C11);
    white-space: nowrap;
    padding: 0px;
    user-select: none;
    border: none;
    transition: background-position 0.5s cubic-bezier(0.36, 0.66, 0.04, 1) 0s;
    line-height: 2.75rem;
    height: 4rem;
    border-radius: .125rem;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    color: #FFF;
    margin: 10px 0px 0px;
}
.btn__orange:hover{
    color: #FFF;
    text-decoration: none;
    background-image: linear-gradient(264deg, #e0642e, #D34C11, #e0642e);
}
/*---------------------------- END Custom Button Styling - otMain ----------------------------*/

/*---------------------------- Custom File Input Styling - otMain ----------------------------*/
.upload__identity__card .login__form .form-item input {
    position: relative;
    padding-left: 42px;
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  position: absolute;
  left: 5px;
  top: 5px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

/*---------------------------- END Custom File Input Styling - otMain ----------------------------*/

/*---------------------------- Game List ----------------------- */
.game__list{
    margin: 20px 0px;
}
.game__list .title{
    background-color: #22303b;
    background-image: linear-gradient(to right, #22303b , rgb(49, 68, 82));
    border: 1px solid #2b3e4d;
    border-radius: 5px;
    color: rgb(161, 187, 206);
    font-size: 20px;
    line-height: 35px;
    padding-left: 15px;
    font-weight: 700;
}
.game__list .item{
    background-color: #22303b;
    background-image: linear-gradient(to right, #22303b , rgb(49, 68, 82));
    margin: 20px 0px 0;
    border-radius: 5px;
    overflow: hidden;
}
.game__list .item .box__img{
    height: 140px;
    overflow: hidden;
}
.game__list .item .box__img img{
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.game__list .item:hover .box__img img{
    transform: scale(1.1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.game__list .item .item__info{
    padding: 5px 10px;
}
.game__list .item .item__info h3{
    color: #FFF;
    margin: 5px 0px;
    font-size: 16px;
    font-weight: 700;
}
.game__list .item .item__info a
{
    color: #FFF;
}
.game__list .item .item__info .des{
    color: #849bb1;
}
/*---------------------------- END Game List  ----------------------- */

/*---------------------------- Sidebar ----------------------- */
#sidebar {
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 400px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    z-index: 111;
    height: 6.5rem;
    padding-top: 0;
}

#sidebar .topsidebar {
    height: 10vh;
    background: transparent;
    background-image: linear-gradient(90deg, rgb(42, 58, 71), rgb(33, 47, 59));
    border-bottom: 1px solid #6e8899;
    line-height: 10vh;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

#sidebar .content {
    padding: 10px 0px;
    user-select: text;
    height: 75vh;
    display: block;
    overflow-y: scroll;
    background-image: linear-gradient(90deg, rgb(42, 58, 71), rgb(33, 47, 59));
    /* position: relative; */
}
/* chatting - OT1 */
#sidebar .content .contain-itemchat{
    /* chatting */
    width: 100%;
}

#sidebar .boxInput {
    height: 15vh;
    background: transparent;
    background-color: rgb(41, 57, 70);
    padding: 10px 10px;
    box-sizing: border-box;
}

#sidebar .boxInput .sendInput {
    position: relative;
    background-color: rgb(30, 43, 55);
    padding: 0px;
    width: 100%;
    height: 40px;
}

#sidebar .boxInput .sendInput .typeMessage {
    flex: 1 1 0%;
    border-radius: 2px;
    font-size: 14px;
    margin-right: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    line-height: 20px;
    border: none;
    background: transparent;
    outline: none;
    color: #FFF;
}

#sidebar .boxInput .boxControl {
    display: flex;
    position: relative;
    z-index: 10;
    margin-top: 10px;
    height: 36px;
}

#sidebar .boxInput .boxControl .btnTag {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: 2px solid rgb(49, 68, 82);
    background-color: rgb(30, 43, 55);
    position: relative;
    cursor: pointer;
}

#sidebar .boxInput .boxControl .btnTag img {
    width: 100%;
}

#sidebar .boxInput .boxControl .btnGIF {
    margin-left: 20px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#sidebar .boxInput .boxControl .btnGIF button {
    font-family: 'Roboto', sans-serif;
    color: rgb(150, 174, 193);
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none
}

#sidebar .boxInput .boxControl .btnGIF:hover>button {
    color: #FFF
}

#sidebar .boxInput .boxControl .btnEmoji {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

#sidebar .boxInput .boxControl .btnEmoji img {
    width: 100%;
    padding: 5px;
}

#sidebar .boxInput .boxControl .btnSend {
    position: absolute;
    right: 0px;
    top: -2px;
    width: 74px;
    height: 36px;
    border: none;
    border-radius: 2px;
    outline: none;
    background-image: linear-gradient(264deg, rgb(53, 71, 86), rgb(65, 91, 112), rgb(65, 91, 112));
}

#sidebar .boxInput .boxControl .btnSend .clippy-right {
    margin: 0 auto;
    background-color: rgb(150, 174, 193);
    border: 5px;
    width: 20px;
    height: 17px;
    clip-path: polygon(0 0, 83% 50%, 0 100%, 24% 50%);
}

#sidebar .boxInput .boxControl .btnSend:hover {
    background-image: linear-gradient(264deg, rgb(247, 218, 66), rgb(255, 188, 52), rgb(247, 218, 66));
}

#sidebar .boxInput .boxControl .btnSend:hover .clippy-right {
    background-color: #FFF;
}

#sidebar .content .itemchat .head .avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-position: center;
    background-repeat: none !important;
    background-size: cover;
    margin: 0 auto;
}

#sidebar .content .itemchat {
    margin-top: 10px;
    padding-left: 10px;
}

#sidebar .content .itemchat .head .checked {
    color: orange;
}

#sidebar .content .itemchat .head .level {
    text-align: center;
    margin-left: -5px;
}

#sidebar .content .itemchat .head .level span {
    transform: scale(0.7);
    margin-right: -5px;
}

#sidebar .content .itemchat .name {
    line-height: 26px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#sidebar .content .itemchat .boxMessage {
    background-color: rgb(49, 68, 82);
    border-radius: 10px;
    padding: 5px;
    color: rgb(161, 187, 206);
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 12px;
    max-width: 88%;
    float: left;
}

#sidebar .content .itemchat .timeMessage {
    float: left;
    width: 12%;
    padding-left: 3px;
    font-size: 12px;
    align-self: flex-end;
    color: rgb(161, 187, 206);
}

#sidebar .content .itemchat .head {
    display: inline-block;
    width: 18%;
}

#sidebar .content .itemchat .contentMessage {
    display: inline-block;
    width: 79%;
    padding: 6px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

#sidebar .content .itemchat .contentMessage .message {
    display: flex;
}

#sidebar .content .itemchat .contentMessage:hover {
    background-image: linear-gradient(to right, rgb(41, 57, 71), rgb(41, 57, 71));
}

#sidebar .content .itemchat .contentMessage .icon-hover {
    position: absolute;
    top: 5px;
    right: 12px;
    display: none;
    cursor: pointer;
}

#sidebar .content .itemchat .contentMessage:hover>.icon-hover {
    display: block;
}
#sidebar .content .itemchat .contentMessage .icon-hover i {
    margin-left: 7px;
    color: #6e8899;
}
#sidebar .content .itemchat .contentMessage .icon-hover i:hover {
    color: rgb(255, 226, 43);
}
.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: transparent
}
.content::-webkit-scrollbar {
    width: 5px;
    background-color: transparent
}
.content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(161, 187, 206, 0.6);
}
/*----------------- transfer -----------------*/    
button.close {
    outline: none !important;
    margin: 0px 6px 0px 0px;
} 
#myTransfer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: transparent
}
#myTransfer::-webkit-scrollbar {
    width: 5px;
    background-color: transparent
}
#myTransfer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(161, 187, 206, 0.6);
}
.main-transfer {
    width: 60%;
    margin: auto;
    height: 90%;
    background-color: #273642;
}
.main-transfer .nav-pills li a {
    font-weight: bold;
}
.content-transfer {
    width: 40%;
    margin: 20px auto 0;
}
.content-transfer form label {
    color: #5d6a78;
    margin-top: 20px;
}
.content-transfer form input {
    width: 100%;
    margin: auto;
    border: none;
    background-color: #344757;
    color: white;
    padding: 7px 15px;
    border: 1px solid #5d6a78;
    border-radius: 3px;
}
.content-transfer form button {
    width: 100%;
    margin: auto;
    border: none;
    background-color: #344757;
    color: white;
    padding: 7px 20px;
    border: 1px solid #5d6a78;
    border-radius: 3px;
}
.content-transfer form button:hover {
    background-color: yellow;
    color: #333;
}
.content-transfer form {
    width: 90%;
    margin: auto;
}
.content-transfer form input:active,
.content-transfer form input:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
}
.content-transferHistory {
    width: 98%;
    margin: auto;
}
.content-transferHistory table {
    width: 98%;
    margin: 20px auto;
    color: #FFF;
}
.content-transferHistory table tr th {
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 5px;
}
.content-transferHistory table tr td {
    padding: 10px;
    text-align: center;
    border: 1px solid #344757;
}
/*----------------- maintenance -----------------*/
.box__maintenance{
    color: #FFBE35;
    text-align: center;
    line-height: 50px;
}
/*----------------- END transfer -----------------*/

/*----------------- Deposite -----------------*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: transparent
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(161, 187, 206, 0.6);
}

.main-deposite {
    width: 60%;
    height: 90%;
    margin: auto;
    background-color: #273642;
}

.top-deposite {
    width: 100%;
    display: inline-block;
}

.wallet {
    padding-top: 10px;
}

.wallet span {
    color: #5d6a78;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.wallet button span:hover {
    color: white;
}

.tab-deposite {
    width: 100%;
}

.btn-close {
    padding: 10px;
    color: #5d6a78;
    font-size: 20px;
}

.link-tab-deposite {
    margin: auto;
    margin-bottom: 5px;
}

.link-tab-deposite {
    margin: auto;
    width: 45%;
}

.link-tab-deposite li {
    display: inline-block;
}

.container-tab-deposite .link-tab-deposite li a {
    font-size: 18px;
    font-weight: bold;
    color: #5d6a78;
    text-transform: uppercase;
}

.container-tab-deposite .link-tab-deposite li a:hover {
    color: yellow;
    background-color: #273642;
}

.container-tab-deposite .link-tab-deposite li.active>a {
    color: white;
    background-color: #273642;
}
/* tab deposite*/

#tab-deposite {
    width: 95%;
    margin: auto;
}

.top-tab-deposite {
    color: #5d6a78;
}

.link-tab li a {
    font-size: 14px;
    color: #5d6a78;
    background-color: #273642
}

.link-tab li a:hover {
    color: yellow;
    background-color: #273642;
}

.link-tab li.active a,
.link-tab li.active a:focus,
.link-tab li.active a:hover {
    color: white;
    background-color: #273642;
}

.link-tab {
    padding: 5px;
    background-color: #1c2933;
    margin: auto;
}

.code,
.icon-copy {
    color: white;
    padding: 7px 10px;
    cursor: pointer;
}

.code {
    width: 70%;
}

.code input {
    border: none;
    background-color: #1c2933;
}

.content-tab-deposite .nav-pills li {
    float: left;
}

.code input,
.code input:active,
.code input:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
}

.icon-copy {
    cursor: pointer;
    float: right !important;
    padding-top: 10px;
}

#segwit img,
#Legacy img {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 7px solid #344757;
}

.img-legacy {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*bottom-deposite */

.bottom-deposite {
    width: 96%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid#bdc3c9;
}

.content-bottom-deposite p span {
    color: yellow;
}

.content-bottom-deposite {
    padding: 10px 15px 10px 15px;
}

.content-bottom-deposite p {
    color: #5d6a78;
    margin-top: 5px;
}
/*Tab bill*/

.content-tab-bill {
    width: 96%;
    margin: auto;
}

.link-tab-bill li a {
    font-size: 14px;
    color: #5d6a78;
    background-color: #273642
}

.link-tab-bill li a:hover {
    color: yellow;
    background-color: #273642;
    border: none;
}

.link-tab-bill li a {
    border-bottom: 1px #5d6a78;
    font-size: 18px;
    text-transform: uppercase;
}

.link-tab-bill li.active a,
.link-tab-bill li.active a:focus,
.link-tab-bill li.active a:hover {
    color: white;
    background-color: #273642;
}
/*tab history deposite*/

.content-deposite-history {
    width: 98%;
    margin: auto;
}

.content-deposite-history table {
    width: 98%;
    margin: 20px auto;
    color: #FFF;
}

.content-deposite-history table tr th {
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 5px;
}

.content-deposite-history table tr td {
    padding: 10px;
    text-align: center;
    border: 1px solid #344757;
}

.currency {
    text-align: right !important;
}

.status {
    color: green;
}

.table-deposite tbody tr:hover {
    background-color: #344757;
}

.table-deposite {
    border: 1px solid #344757;
}

.pending {
    color: yellow;
}

.destroy {
    color: red;
}
.waiting{
    color: #AFEEEE;
}
/*Tab Withdraw*/

.content-withdraw {
    width: 60%;
    margin: auto;
}

.content-withdraw form label {
    color: #5d6a78;
    margin-top: 20px;
}

.content-withdraw form input {
    width: 100%;
    margin: auto;
    border: none;
    background-color: #344757;
    color: white;
    padding: 7px 15px;
    border: 1px solid #5d6a78;
    border-radius: 3px;
}
.content-withdraw form button {
    width: 100%;
    margin: auto;
    border: none;
    background-color: #344757;
    color: white;
    padding: 7px 20px;
    border: 1px solid #5d6a78;
    border-radius: 3px;
}

.content-withdraw form {
    width: 90%;
    margin: auto;
}

.content-withdraw form input:active,
.content-withdraw form input:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
}

#btn-withdraw {
    background-color: #2f3e4b;
    border-radius: 10px;
}

.lable-btn {
    display: table;
    margin: auto;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 0;
}
/* Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 576px) {
    #main {
        margin-right: 0px;
    }
}
