/* IPAD PRO + IPAD XOAY NGANG */
@media screen and (min-width: 993px) and (max-width: 1267px) {
    .hidden-ipp {
        display: none;
    }
    .show-ipp {
        display: block !important;
    }
    .col-ipp-12 {
        width: 100%;
    }
    .chart .value__item {
        min-width: calc((100% / 4) - 10px);
    }
}
/* IPAD PRO */
@media screen and (width : 1024px) {
    
}
/* DT PLUS XOAY NGANG */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .chart .value__item {
        min-width: calc((100% / 4) - 10px);
    }
    .chart .value__item {
        min-width: calc((100% / 4) - 10px);
    }
    .history .allBet thead tr th:nth-child(3) {
        width: 30%;
        text-align: right;
    }
    .menuTool .menuTool__tool {
        justify-content: center;
    }
    .menuTool .menuTool__menu {
        text-align: center;
    }
    .infoComany .infoCompany__text {
        text-align: center;
    }
    .official {
        text-align: center;
    }
    .social .social__list {
        justify-content: center;
        margin: 0px 0px 20px 0px;
    }
    .copyRight__list {
        justify-content: center;
    }
    .table-responsive {
        border: none !important;
    }
}
/* IPAD */
@media screen and (width: 768px) {
  
}
/* IPAD TRỞ XUỐNG */
@media screen and (max-width: 768px) {
    .chart .value__item {
        min-width: calc((100% / 6) - 10px);
    }
    .history .allBet thead tr th:nth-child(3) {
        width: 30%;
        text-align: right;
    }
    .menuTool .menuTool__tool {
        justify-content: center;
    }
    .menuTool .menuTool__menu {
        text-align: center;
    }
    .infoComany .infoCompany__text {
        text-align: center;
    }
    .official {
        text-align: center;
    }
    .social .social__list {
        justify-content: center;
        margin: 0px 0px 20px 0px;
    }
    .copyRight__list {
        justify-content: center;
    }
    .table-responsive {
        border: none !important;
    }
    #menu {
        width: calc((100vw / 2) + 75px);
    }
    .menuMobi .listGame__item {
        min-width: calc((100% / 2) - 20px);
    }
    #main {
        margin-right: 0px !important;
    }
    .chart .chart__blockChart {
        min-height: auto !important; 
    }
    #main #header {
        right: 0px !important;
    }
}
/* DT XOAY NGANG */
@media screen and (min-width : 641px) and (max-width : 767px) {
    .chart .value__item {
        min-width: calc((100% / 4) - 10px);
    }
    .chart .blockChart__stakesWithdrawal {
        flex-direction: column;
    }
    .chart .stakesWithdrawal__stakes, .chart .stakesWithdrawal__withdrawal {
        width: 100%;
        margin: 0px 0px 25px 0px;
    }

}
/*SS XOAY NGANG */
@media screen and (width: 640px) {

}
/* IP 6/8 PLUS TRỞ XUỐNG */
@media screen and (max-width: 640px) {
    .chart .value__item {
        min-width: calc((100% / 3) - 10px);
    }
    .chart .blockChart__tool {
        flex-direction: column;
    }
    .chart .blockChart__bet {
        flex-direction: column;
    }
    .headerWeb .headerWeb__welcome .gameHelp__btnGame {
        height: auto;
        margin: 0px;
    }
    .headerWeb .headerWeb__welcome .welcome__welcomeUser {
        width: 70%;
        padding: 0px;
    }
    .headerWeb .headerWeb__welcome .welcomeUser__text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .headerWeb .headerWeb__welcome .welcome__gameHelp {
        width: 30%;
    }
    .headerWeb .headerWeb__welcome .btnGame__icSpin {
        height: 35px;
    }
    .headerWeb .headerWeb__tool .item__boxCoin {
        width: 175px;
    }
    .chart .chart__blockChart {
        margin: 15px auto;
    }
    .chart .chart__blockChart {
        padding: 10px;
    }
    .chart .tool__bankRoll {
        margin: 0px 0px 10px 0px;
        padding: 12.5px 15px 12.5px 30px;
    }
    .chart .blockChart__value {
        padding: 10px 5px 0px 5px;
    }
    .chart .blockChart__bet .bet__blockBtn {
        margin: 25px 0px 0px 0px;
    }
    .chart .blockChart__stakesWithdrawal {
        flex-direction: column;
    }
    .chart .stakesWithdrawal__stakes, .chart .stakesWithdrawal__withdrawal {
        width: 100%;
        margin: 0px 0px 25px 0px;
    }
    .history .allBet tbody tr td:first-child {
        padding: 0px;
    }
    .history .allBet tbody .infoCoin__img {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .table-responsive {
        border: none;
    }
    .history .allBet tbody .infoUser__img {
        margin: 0px 5px 0px 0px;
        width: 15px;
        height: 15px;
    }
    .history .allBet tbody .infoUser__name {
        font-size: 1.5rem;
    }
    .history .allBet thead tr th {
        font-size: 1.6rem;
    }
    .history .allBet thead tr th:nth-child(1) {
        width: 25%;
    }
    .history .allBet thead tr th:nth-child(2) {
        width: 5%;
    }
    .history .allBet tbody .infoOut__text {
        font-size: 1.5rem;
    }
    .history .allBet tbody .infoCoin__number {
        font-size: 1.5rem;
    }
    .history .allBet tbody .infoCoin__unit {
        font-size: 1.5rem;
    }
    .history .allBet tbody tr td:last-child {
        padding: 0px;
    }
    .history .allBet tbody tr td:first-child {
        padding: 0px;
    }
    .history .allBet tbody tr td {
        padding: 0px;
    }
    /*.history .item .btn {
        font-size: 0.8rem;
    }*/
    .history .playerReadmore__player {
        height: 30px;
    }
    .history .player__count {
        line-height: 30px;
    }
    .history .playerReadmore__readmore {
        height: 32px;
    }
    .history .readmore__btn {
        height: 32px;
        line-height: 32px;
    }
    .copyRight__list {
        flex-direction: column;
    }
    .copyRight__list .copyRight__text {
        margin: 0px 0px 15px 0px;
    }
    .menuMobi .listGame__item {
        min-width: 100%;
    }
    .menuMobi .header__slogan {
        font-size: 1rem;
    }
    #main #header {
        width: 100%;
    }
    #main #header .navmt7 {
        margin: 0 auto 0 100px !important;
    }
    #main #header .right {
        position: absolute;
        right: 0%;
        top: 16px;
    }
    #main {
        padding-top: 4rem !important; 
    }
}
/* IP 5 XOAY NGANG */
@media screen and (min-width: 568px) {
 
}
/* SAMSUNG ĐỜI CŨ */
@media screen and (max-width: 360px) {
 
}
/* IP 5 */
@media screen and (max-width: 320px) {
  
}

