table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
    margin: 0 0 0px !important;
}
hr {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.slick-slide {
  outline: none !important;
}
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 990;
  background: #FFF;
  transition: 0.6s;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #1C2933;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #2a3946;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #1C2933;
}
/* ------------------------ CHART -------------------------- */
.chart {
  background-color: #1c2933;
  height: auto;
  padding: 0px;
}
.chart .chart__blockChart {
  background-color: #293946;
  margin: 20px auto 0;
  padding: 20px;
  min-height: 90vh;
}
.chart .blockChart__tool {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chart .tool__bankRoll {
  background-color: #1f2e3b;
  padding: 12.5px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
}
.chart .bankRoll__text {
  margin: 0px 25px 0px 0px !important;
  font-size: 1.5rem;
  color: #f2c039;
  text-transform: uppercase;
  font-weight: 500;
}
.chart .bankRoll__number {
  font-size: 1.5rem;
  color: #32c44e;
  font-weight: 500;
}
.chart .bankRoll__number span {
  color: #96bcd3;
}
.chart .bankRoll__icFlagGold {
  width: 15px;
  height: 25px;
  position: absolute;
  top: -2px;
  left: 10px;
}
.chart .tool__trending {
  background-color: #1f2e3b;
  height: 38px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
}
.chart .trending__icTrending {
  width: 20px;
  height: 20px;
}
.chart .trending__text {
  margin: 0px 15px 0px 10px !important;
  color: #6e8899;
  font-size: 1.5rem;
}
.chart .trending__blockToogle {
  position: relative;
  width: 45px;
  height: 20px;
  box-sizing: border-box;
  line-height: 38px;
  background-color: #293946;
  border-radius: 5px;
}
.chart .trending__blockToogle .btn__checkbox {
  position: relative;
  width: 45px;
  height: 20px;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.chart .trending__blockToogle .toogle:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #6e8899;
  border-radius: 7.5px;
  transition: 0.3s all;
}
.chart .trending__blockToogle .btn__checkbox:checked + .toogle:before {
  content: "";
  left: 25px;
  background-color: #f2c039;
}
.chart .blockChart__value {
  background-color: #1f2e3b;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 10px 10px 0px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.chart .value__item {
  background-color: #293946;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
  margin: 0px 5px 10px 5px;
  min-width: calc((100% / 6) - 10px);
}
.chart .item__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.chart .item__value {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chart .value__key {
  font-weight: 600;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.chart .value__number {
  font-weight: 800;
  color: #d8dc14;
  font-size: 1.5rem;
}
.chart .bg__yl {
  background-color: #d8dc14;
}
.chart .cl__yl, .cl__yl {
  color: #d2c329;
}
.chart .bg__green {
  background-color: #2ca95b;
}
.chart .cl__green, .cl__green {
  color: #66e587 !important;
}
.chart .bg__red {
  background-color: #e95a20;
}
.chart .cl__red, .cl__red {
  color: #f74d5b !important;
}
.chart .blockChart__cateGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart .cateGroup__blockToogle {
  position: relative;
  width: 150px;
  height: 30px;
  box-sizing: border-box;
  line-height: 38px;
  background-color: #1f2e3b;
  border-radius: 5px;
}
.chart .cateGroup__blockToogle .btn__checkbox {
  position: relative;
  width: 150px;
  height: 30px;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.chart .cateGroup__blockToogle .toogle:before {
  content: "Classic";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75px;
  height: 30px;
  color: #8696a5;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #374a5b;
  transition: 0.3s all;
  border-radius: 5px;
}
.chart .cateGroup__blockToogle .btn__checkbox:checked + .toogle:before {
  content: "Trenball";
  left: 75px;
}
.chart .houseEdge__number {
  color: #6e8899;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.chart .blockChart__chart {
  margin: 10px 0px 10px;
	position: relative;
}
.chart .blockChart__cateGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart .blockChart__bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.chart .bet__blockBlank {
  position: relative;
  width: 150px;
  height: 30px;
  box-sizing: border-box;
  line-height: 38px;
  border-radius: 5px;
  opacity: 0;
}
.chart .bet__blockToogle {
  position: relative;
  width: 150px;
  height: 30px;
  box-sizing: border-box;
  line-height: 38px;
  /*background-color: #1f2e3b;*/
  border-radius: 5px;
}
.chart .bet__blockToogle .btn__checkbox {
  position: relative;
  width: 150px;
  height: 30px;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.chart .bet__blockToogle .toogle:before {
  content: "Manual";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75px;
  height: 30px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbc93a;
  transition: 0.3s all;
  border-radius: 5px;
}
.chart .bet__blockToogle .btn__checkbox:checked + .toogle:before {
  content: "Tự Động";
  left: 75px;
}
.chart .blockBtn__btnBet {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  background-image: linear-gradient(264deg, #f7da42, #ffbc34, #f7da42);
  background-size: 200% auto;
  border: none;
  outline: none;
  transition: 0.6s;
}
.chart .blockBtn__btnBet:hover {
  background-position: right center;
  transition: 0.6s;
}
.chart .btnBet__text {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
}
.chart .btnBet__textNext {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 5px;
}
.chart .blockChart__stakesWithdrawal {
  display: flex;
  justify-content: space-between;
}
.chart .stakesWithdrawal__stakes,
.chart .stakesWithdrawal__withdrawal {
  width: 45%;
}
.chart .stakes__title {
  text-transform: uppercase;
  color: #638899;
  font-size: 1.5rem;
  margin: 0px 0px 10px 0px;
}
.chart .stakes__blockStakes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 45px;
  background-color: #1f2e3b;
  padding: 0px 5px 0px 10px;
  border-radius: 5px;
}
.chart .blockStakes__number {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.chart .blockStakes__cateSelect {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.chart .number__img {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 0px;
}
.chart .number__money {
  border: none;
  background-color: transparent;
  outline: none;
  color: #fff;
  width: 100%;
  font-size: 1.5rem;
}
.chart .number__money::placeholder {
  color: #fff;
}
.chart .cateSelect__item {
  background-color: #2f4150;
  height: 38px;
  border-radius: 5px;
  width: 40px;
  margin: 0px 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}
.chart .cateSelect__item:last-child {
  margin: 0px 0px 0px 2.5px;
}
.chart .cateSelect__item:hover {
  filter: brightness(1.1);
}
.chart .item__text {
  color: #638899;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}
.chart .withdrawal__title {
  display: flex;
  justify-content: space-between;
}
.chart .title__text,
.chart .title__percent {
  text-transform: uppercase;
  color: #638899;
  font-size: 1.5rem;
  margin: 0px 0px 10px 0px;
}
.chart .title__percent span {
  color: #66e895;
}
.chart .withdrawal__blockWithdrawal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 45px;
  background-color: #1f2e3b;
  padding: 0px 5px 0px 10px;
  border-radius: 5px;
}
.chart .blockWithdrawal__number {
  position: relative;
  width: 100%;
}
.chart .number__input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #fff;
  width: 100%;
  font-size: 1.5rem;
}
.chart .number__reset {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  outline: none;
  position: absolute;
  right: 20px;
}
.chart .reset__img {
  width: 20px;
  height: 20px;
}
.chart .blockChart__setting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  background-color: #22303b;
  margin: 20px -20px -20px -20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.chart .btn {
  border: none;
  background-color: transparent;
  outline: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0px 20px;
}
.chart .btn:focus {
  outline: none;
  box-shadow: none;
}
.chart .btn:hover .btn__img {
  transform: scale(1.1);
  transition: 0.6s;
}
.chart .btn__text {
  color: #638899;
  font-size: 0.7rem;
}
.chart .btn__img {
  width: 20px;
  height: 20px;
  transition: 0.6s;
}
.chart .blockChart__valueTrending {
  background-color: #1f2e3b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0px;
  border-radius: 5px;
  padding: 5px;
}
.chart .valueTrending__item {
  min-width: 18px;
  min-height: 18px;
  border-radius: 2px;
  background-color: #283946;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart .item__view {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
/* ------------------------ HISTORY -------------------------- */
.history {
  background-color: #1c2933;
  height: auto;
  padding: 35px 0px 20px;
}
.history .history__tab {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0px 0px 35px 0px;
}
.history .history__tab:before {
  width: 100%;
  height: 1px;
  background-color: #2f3f4b;
  content: "";
  position: absolute;
  bottom: -15px;
}
.history .history__tab .tab {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.history .history__tab li {
  padding: 0px 15px;
}
.history .item .btn {
  background-color: transparent;
  color: #638899;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  padding: 0px;
  font-weight: 700;
}
.history .tab .item {
  position: relative;
}
.history .tab li .item:before {
  width: 100%;
  height: 3px;
  background-color: #fbc93a;
  content: "";
  position: absolute;
  bottom: -15px;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  transition: 0.3s;
}
.history .tab li.active .item:before {
  width: 100%;
  height: 3px;
  background-color: #fbc93a;
  content: "";
  position: absolute;
  bottom: -15px;
  opacity: 1;
  transform: scale(1);
  transform-origin: center;
  transition: 0.3s;
}
.history .allBet thead tr th {
  border: none;
  border-bottom: 1px solid #2f3f4b !important;
  color: #638899;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 5px 0px 20px 0px;
}
.history .allBet tbody tr td {
  height: 40px;
  border: none;
  line-height: 20px;
  transition: 0.2s;
  color: #638899;
  padding: 10px 0px;
}
.history .allBet tbody tr td:first-child {
  padding: 10px 0px 0px 10px;
}
.history .allBet tbody tr td:last-child {
  padding: 10px 10px 0px 0px;
}
.history .allBet tbody tr {
  padding: 0px 10px !important;
}
.history .allBet tbody tr:hover {
  background-color: #212f3a;
  transition: 0.2s;
}
.history .allBet tbody .infoUser {
  display: flex;
  align-items: center;
}
.history .allBet tbody .infoUser__img {
  width: 28px;
  height: 28px;
  margin-right: 15px;
  border-radius: 50%;
}
.history .allBet tbody .infoUser__name {
  color: #fff;
  font-size: 1.5rem;
}
.history .allBet tbody .infoCoin {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.history .allBet tbody .infoCoin__img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.history .allBet tbody .infoCoin__number {
  color: #fff;
  font-size: 1.5rem;
  margin: 0px 5px 0px 0px;
}
.history .allBet tbody .infoCoin__unit {
  color: #fff;
  font-size: 1.5rem;
}
.history .allBet tbody .infoOut__text {
  font-size: 1.2rem;
}
.history .noData {
  text-align: center;
  margin: 75px 0px;
}
.history .noData .noData__img {
  width: 150px;
  height: 150px;
}
.history .noData .noData__text {
  color: #638899;
  font-size: 1.5rem;
  margin-top: 25px;
}
.history .allBet tbody .idGame {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.history .allBet tbody .idGame__color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}
.history .allBet tbody .idGame__color.green {
  background-color: #2ca95b;
}
.history .allBet tbody .idGame__color.red {
  background-color: #f75472;
}
.history .allBet tbody .idGame__color.yellow {
  background-color: #ffd913;
}
.history .allBet tbody .idGame__number {
  color: #638899;
  font-size: 1.5rem;
}
.history .allBet tbody .infoResult__text {
  color: #638899;
  font-size: 1.5rem;
}
.history .allBet tbody .infoCode__text {
  border: none;
  background-color: transparent;
  height: 25px;
  width: 80%;
  font-size: 1.5rem;
  outline: none;
}
.history .allBet tbody .infoAuthen__text {
  color: #ffe22d;
}
.history .content__playerReadmore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
}
.history .playerReadmore__player {
  height: 40px;
  border: 1.5px solid #2f3f4b;
  border-radius: 5px;
  margin: 0px 10px;
}
.history .player__count {
  line-height: 40px;
  padding: 0px 10px;
  color: #638899;
  font-size: 1.5rem;
}
.history .playerReadmore__readmore {
  margin: 0px 10px;
  height: 40px;
}
.history .readmore__btn {
  height: 40px;
  background-color: #19252d;
  border: none;
  outline: none;
  padding: 0px 20px;
  border-radius: 5px;
  color: #638899;
}
.history .readmore__btn i {
  margin: 0px 5px 0px 0px;
  color: #fff;
  font-size: 1.5rem;
}
.history .pageNavigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.history .pageNavigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.history .pageNavigation ul li {
	float: left;
}
.history .pageNavigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #19252d;
  border-radius: 5px;
  margin: 2.5px;
  color: #638899;
}
.history .pageNavigation__item a {
  text-decoration: none;
}
.history .pageNavigation__item i {
  font-size: 1.5rem;
}
.history .pageNavigation__item.active, .history .pageNavigation__item:hover {
  filter: brightness(0.9);
}
.footerWeb {
  background-color: #19252d;
  padding: 50px 0px;
}
.menuTool .list__item {
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 10px 0px 5px;
}
.menuTool .list__item:first-child {
  padding: 0px 10px 0px 0px;
}
.menuTool .list__item a {
  color: #638899;
  font-weight: 600;
  font-size: 0.8rem;
}
.menuTool .menuTool__tool {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
}
.menuTool .menuTool__menu {
  line-height: 40px;
}
.menuTool .tool__language {
  background-color: transparent;
  border: 1.5px solid #2f3f4b;
  outline: none;
  padding: 8px 10px;
  border-radius: 5px;
  color: #638899;
  margin: 0px 5px;
  font-size: 1.5rem;
}
.menuTool .tool__language i {
  margin: 0px 2.5px 0px 2.5px;
  font-size: 0.8rem;
}
.menuTool .tool__mode {
  background-color: transparent;
  border: 1.5px solid #2f3f4b;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  color: #f7cb2f;
  font-size: 1.5rem;
}
.infoComany {
  margin: 15px 0px;
}
.infoComany .infoCompany__text {
  color: #638899;
  font-size: 1.5rem;
  line-height: 20px;
}
.official {
  padding: 40px 0px 30px 0px;
  border-bottom: 1px solid #2f3f4b;
}
.official .title__text {
  color: #638899;
  font-size: 0.7rem;
  margin: 0px 0px 15px 0px;
}
.official .listCertification__img {
  width: 60px;
  height: 30px;
}
.social {
  padding: 50px 0px 0px 0px;
}
.social .social__list {
  display: flex;
  flex-direction: row;
}
.social .list__item {
  margin: 0px 10px;
  transition: 0.6s all ease;
}
.social .list__item:first-child {
  margin: 0px 10px 0px 0px;
}
.social .item__img {
  width: 22px;
  height: 22px;
  transition: 0.6s all ease;
}
.social .list__item:hover .item__img {
  transform: scale(1.1);
  transition: 0.6s all ease;
}
.copyRight__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.copyRight__list .copyRight__text {
  color: #638899;
  font-size: 0.8rem;
}
.copyRight__list .list__support {
  background-color: #273945;
  height: 35px;
  padding: 0px 15px;
  margin: 0px 0px 0px 15px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.copyRight__list .support__img {
  width: 22px;
  height: 22px;
  margin: 0px 7.5px 0px 0px;
}
.copyRight__list .support__text {
  color: #638899;
  font-size: 0.75rem;
  text-transform: uppercase;
}
#notify {
	position: absolute;
	top : 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#notify img {
	width : 100px;
	height: 100px;
}
#status {
	margin: 10px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
#status-player {
	color  : #ffbc34;
	margin : 0px 0px 8px 0px;
	font-size: 2.5rem;
	text-transform: uppercase;
}
#money-change {
	color  : #ffbc34;
	font-size: 1.5rem;
}
.history .pageNavigation__item a {
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 35px;
	color: #fff
}
.board-players{
  height: 70vh;
}
/*#main #header {
  right: 0px !important;
}
#chart-game-canvas{
  height: 50vh;
}*/
