.flex-end
{
    justify-content: flex-end;
}
.box__branch
{
    transform: translateY(50px);
}
.btn
{
    cursor: pointer;
}
.sharp_color
{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.defaultColor
{
    background: #3788d8 !important;
    border: none !important;
}
.wait_approval
{
    background:rgb(224 224 28);
    border: none !important;
}
.wait_approval .fc-event-title
{
    color: #3c4043 ;
    font-weight: bold;
}
.done_approval
{
    background: rgb(45, 184, 10);
    border: none !important;
}
.destroy_approval
{
    background: red;
    border: none !important;
}
.destroy_approval .fc-event-title
{
    font-weight: bold;
}
.popup_selectime
{
    position: fixed;
    width: 600px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    filter: drop-shadow(1px 3px 5px rgba(0 0 0 /50%));
    border-radius: 7px;
    z-index: 5000;
}
.box__btn
{
    text-align: center;
}
.popup_selectime .timesheet_day
{
    margin-left: 8px;
    width: 70%;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.popup_selectime .popup_title
{
    color: #3c4043;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 18px;
    height: 28px;
    position: relative;
    top: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-left: 10px;
}
.popup_selectime .item_time label
{
   margin-bottom: 0px;
}

.popup_selectime .item_time 
{
    align-items: center;
}
.d-label
{
    display: inline-block;
}
.popup_selectime .item_time .select2-container
{
    width: 75% !important;
    margin-left: 15px;
}
.box_day_of_week{
	clear: both;
	font-weight: 400;
	font-size: 12px;
}
.checkbox-timework label {
	margin-bottom: 0px !important;
}
.checkbox-timework label::before {
    border: 1px solid #e2e2e2 !important;
    border-radius: 1px;
}
.box__day__month{
	background-color: #f5f5f5;
}
.time_overplay
{
    position: fixed;
	top: 0;
	left: 0;
	z-index: 4000;
	background: rgba(0 0 0 / 60%);
	width: 100%;
	height: 100%;
}
.wrap__form
{
	position: relative;
	z-index: 1000;
}
/* DUYỆT LỊCH LÀM VIỆC */
.dedault_top
{
    top: 0 !important;
}
.time_overplay_2
{
    position: absolute;
	top: 0;
	left: 0;
	z-index: 4000;
	background: rgba(0 0 0 / 60%);
	width: 100%;
	height: 100%;
}
.wrap_info_timework
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    top: -128%;
    transition: 0.3s;
}
.box__calendar
{
    
    position: absolute;
    width: 70%;
    height: auto;
    z-index: 5000;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
}
.swal2-popup {
    width: 13em !important;
    padding: 1em !important;
}
/* calendar */
.box__calendar
{
    /* width: 100%; */
}
.select2-container {
    z-index: 2000;
}
@media (max-width: 812px)
{
    .fc-view-harness
    {
        overflow: auto !important;
        width: 100%;
        box-shadow: #717171 -12px 2px 28px -22px inset;
    }
    .fc-daygrid
    {
        width: 900px !important;
    }
    .fc-view
    {
        margin: 0;
    }
    /* overview timework */
    .res-flex
    {
        justify-content: flex-start !important;
    }
    .box__branch
    {
        transform: translateY(0);
    }
    /* duyệt lịch làm việc */
    .wrap_info_timework .box__calendar
    {
        width: 90% ;
    }
}
@media (max-width: 618px)
{
    .row__note > div
    {
        margin-bottom: 10px;
    }
    .fc-button
    {
        line-height: 1;
    }
    .fc-toolbar
    {
        flex-direction: column-reverse;
    }
    .fc-toolbar-title
    {
        margin-bottom: 10px !important;
        font-size: 22px !important;
    }
    .fc-view-harness
    {
        height: 600px !important;
    }
    /* form lịch làm việc */
    .box__btn 
    {
        text-align: center;
    }
    .d-label
    {
        width: 20%;
    }
    .res-row
    {
        flex-direction: column;
    }
    .popup_selectime {
        width: 90%;
    }
    .item_time:nth-child(2) .timesheet_day 
    {
        margin-left: 5px;
    }
    .popup_selectime .timesheet_day {
        width: calc(80% - 30px);
        margin-bottom: 10px;
    }
     /* overview timework */
     .res-flex
     {
         justify-content: center !important;
     }
     /* duyệt lịch làm việc */
     #approvaltimework .fc-view-harness
     {
         height: 400px !important;
     }
     .table-wrap table
     {
        width: 600px;
     }
     /* lịch phỏng vấn */
     .modal-dialog {
        margin: .9rem;
        top: 10%;
    }
}
