.container__form{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	z-index: 9999;
}
.body__form{
	width: 100%;
	height: 100vh;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.7);
}
.body__form .btnClose{
	position: fixed;
	right: 15px;
	top: 15px;
	color: #FFF;
	z-index: 99999;
	font-size: 25px;
}
.body__form .box__form{
	width: 800px;
}
.body__form .box__form.form-sm{
	width: 450px;
}
.body__form .box__form .box{
	background-color: #FFF;
	border: 1px solid #f5f5f5;
	padding: 15px;
	border-radius: 5px;
}
.body__form .box__form .box .title{
	font-family: 'EB Garamond', serif !important;
	font-size: 1.125rem;
	font-weight: 500;
    color: #313a46;
    text-transform: uppercase;
}
.body__form .box__form .box .box__btn{
	display: inline-flex;
	width: 100%;
}
.body__form .box__form .box .box__btn button{
	width: 49%;
	border: none;
	padding: 6px 0px;
	border-radius: 3px;
}
.body__form .box__form .box .box__btn a{
	width: 49%;
	border: none;
	padding: 6px 0px;
	border-radius: 3px;
}
.body__form .box__form .box .box__btn .btn__blue{
	color: #fff;
    background-color: #054287;
    border-color: #054287;
    margin-left: 2%;
}
/*==========*/
.parent_col .drop_down_category {
    width: 100%;
    position: relative;
}.parent_col .drop_down_category:hover,
.item_job:hover
{cursor: pointer;}
.parent_col .drop_down_category i {
    position: absolute;
    right: 4px;
    top: 50%;
    font-size: 11px;
    transform: translateY(-50%);
}
.parent_col .wrap_category {
	max-height: 300px;
    overflow: auto;
    padding: 8px 17px 8px 17px;
    width: 100%;
    border: 1px solid #ddd;
    background: #ffffff;
    display: none;
    top: -10px;
    position: relative;
    z-index: 200;
    -webkit-box-shadow: 0px 5px 7px 2px rgb(0 0 0 / 10%);
    box-shadow: 0px 5px 7px 2px rgb(0 0 0 / 10%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* width */
.parent_col .wrap_category::-webkit-scrollbar {
	width: 5px;
}
  
  /* Track */
.parent_col .wrap_category::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
   
  /* Handle */
.parent_col .wrap_category::-webkit-scrollbar-thumb {
	background: #888; 
}
  
  /* Handle on hover */
.parent_col .wrap_category::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
  
.parent_col .same_parent {
    position: relative;
    padding: 8px 5px;
}
.parent_col .same_class {
    display: inline-block;
    margin-left: 6px;
}

.parent_col .wrap_checkbox {
    position: absolute;
    right: 10px;
    display: inline-block;
}
.job_arrow
{
    font-size: 11px;
    margin-left: 18px;
}
.item_job:not(:last-child)
{
    border-bottom: 1px solid #ddd;
}
.item_job:hover
{
    background: #ddd;
}