.container__form{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	z-index: 9999;
}
.body__form{
	width: 100%;
	height: 100vh;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.7);
}
.body__form .btnClose{
	position: fixed;
	right: 15px;
	top: 15px;
	color: #FFF;
	z-index: 99999;
	font-size: 25px;
}
.body__form .box__form{
	width: 800px;
}
.body__form .box__form.form-sm{
	width: 450px;
}
.body__form .box__form .box{
	background-color: #FFF;
	border: 1px solid #f5f5f5;
	padding: 15px;
	border-radius: 5px;
}
.body__form .box__form .box .title{
	font-family: 'EB Garamond', serif !important;
	font-size: 1.125rem;
	font-weight: 500;
    color: #313a46;
    text-transform: uppercase;
}
.body__form .box__form .box .box__btn{
	display: inline-flex;
	width: 100%;
}
.body__form .box__form .box .box__btn button{
	width: 49%;
	border: none;
	padding: 6px 0px;
	border-radius: 3px;
}
.body__form .box__form .box .box__btn a{
	width: 49%;
	border: none;
	padding: 6px 0px;
	border-radius: 3px;
}
.body__form .box__form .box .box__btn .btn__blue{
	color: #fff;
    background-color: #054287;
    border-color: #054287;
    margin-left: 2%;
}