.permission_container .item .title{
	padding: 5px 0px;
}
.permission_container .item .title .__border{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.permission_container .item .title .box__button{
	float: right;
}
.permission_detail_container .box .item .item_btn{
	float: left;
	margin: 0px 20px 0px 0px;
}
.permission_detail_container  hr:nth-child(1)
{
	display: none;
}