#loadFormAddAccountBankInfo .box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
#loadFormAddAccountBankInfo .box .box-body{
    width: 380px;
    max-width: 100%;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px 20px;
}
#loadFormAddAccountBankInfo .box .box-body .title{
    position: relative;
    font-family: 'EB Garamond', serif !important;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}