#loadrecruitmentInfoDetail .box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
#loadrecruitmentInfoDetail .box .box-body{
    width: 900px;
    max-width: 100%;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px 20px;
}
#loadrecruitmentInfoDetail .box .box-body .title{
    position: relative;
    font-family: 'EB Garamond', serif !important;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
#loadrecruitmentInfoDetail .box .wrap__content {
    border-right: 1px solid #f3f3f3;
}
#loadrecruitmentInfoDetail .box__exp
{
    height: 125px;
    overflow: auto;
    overflow-x: hidden;
}
/* width */
#loadrecruitmentInfoDetail .box__exp::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #loadrecruitmentInfoDetail .box__exp::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  #loadrecruitmentInfoDetail .box__exp::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  #loadrecruitmentInfoDetail .box__exp::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }