ul
{
  margin: 0 ;
  padding: 0;
}
ul li
{
  list-style: none;
}
.box__img_mess_userlogin  .row 
{
  margin: 0;
  justify-content: flex-end;
}
.box__img_mess_send_to_me .row 
{
  margin: 0;
  justify-content: flex-start;
}
.box__mess_same_css .same_col
{
  padding: 6px;
}
.box__mess_same_css  ul
{
  overflow: auto;
}
 
.box__mess_same_css .same_col img
{
  border-radius: 5px;
}
.append_error
{
   width: 150px !important;
}
.append_error p 
{
  color: red;
}
/* con trỏ nhấp nháy */
.blinking-cursor {
     /* font-weight: 100; */
     font-size: 18px;
     color:  #464646;
     -webkit-animation: 1s blink step-end infinite;
     -moz-animation: 1s blink step-end infinite;
     -ms-animation: 1s blink step-end infinite;
     -o-animation: 1s blink step-end infinite;
     animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #464646;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color:  #464646;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color:  #464646;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color:  #464646;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color:  #464646;
  }
}
/* hình */
.fileUpload
{
  position: absolute;
  top: 50%;
  right: 84px;
  font-size: 27px;
  transform: translateY(-50%);
  cursor: pointer;
}
.fileUpload i 
{
  cursor: pointer;
}
#inputFile
{
  /* opacity: 0; */
  position: absolute;
  cursor: pointer;
  display: none;
}

.box__imgs
{
  position: absolute;
  width: auto;
  top: -93px;
  background: #f8f8f8 none repeat scroll 0 0;
  height: 89px;
  filter: drop-shadow(0px -1px 2px rgba(0 0 0 / 50%));
  overflow: auto;
}
.box__imgs ul 
{
  margin: 0;
  padding: 0;
}
.box__imgs ul li
{
  list-style: none; 
  float: left;
  width: 70px;
  padding: 6px;
}
.box__imgs ul li .frame
{
   position: relative;
}
.box__imgs ul li .frame i 
{
  position: absolute;
  color: black;
  font-size: 18px;
  right: -6px;
  top: -6px;
  z-index: 100;
}
.box__imgs ul li .frame  .fa-times-circle:before
{
  z-index: 100;
  position: relative;

}
.box__imgs ul li .frame 
{
  cursor: pointer;
}
.box__imgs ul li .frame i::after
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  border-radius: 100%;
  z-index: 20;
}
.box__imgs ul li img
{
  width: 100%;
  border-radius: 4px;
}
/* messenger */
.box__messenger
{
  border: none;
  outline: none;
  height: 56px;
  overflow: auto;
  padding: 6px 10px;
  position: relative;
}
.fullicon
{
  display: none;
  position: absolute;
  height: 140px;
  background: white;
  width: 100%;
  overflow: auto;
  top: -141px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: drop-shadow(2px -1px 3px rgba(0 0 0 / 50%));
}
.showIcons 
{
  display: block !important;
}
/* width */
.fullicon::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.fullicon::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.fullicon::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.fullicon::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.fullicon ul
{
  padding: 0;
  margin: 0;
}
.fullicon ul li
{
  float: left;
  padding: 6px;
  font-size: 20px;
  list-style: none;
  cursor: pointer;
}
.fullicon ul li:hover
{
  background: #eee;
}
.icons_html
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  font-size: 24px;
  cursor: pointer;
}
/* width */
.box__messenger::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.box__messenger::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.box__messenger::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.box__messenger::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.content-page
{
    padding: 0 !important;
}
.mesgs_t
{
    float: left;
    width: 73%;
}
.info_user
{
    align-items: center;
    background: white;
    padding: 15px 20px;
    filter: drop-shadow(5px -3px 3px rgba(0 0 0 / 60%));
}
.box__info img 
{
    height: 70px;
}
.name_user
{
    margin-left: 20px;
}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 27%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  /* border: 1px solid #c4c4c4; */
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;
}
.find_add_employee
{
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s;
  display: none;
}
.find_add_employee i 
{
  position: absolute;
  right: 5px;
  border-radius: 100%;
  top: 6px;
  font-size: 23px;
}
.find_add_employee i:hover
{
  cursor: pointer;
}
.find_add_employee input
{
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #eee;
  padding-left: 15px;
}
.action_box i 
{
    transition: 0.3s;
    font-size: 18px;
}
.action_box i:hover
{
    cursor: pointer;
}
.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:100%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}
.not_view
{
  background: #3c6ca2 !important;
}
.not_view .chat_ib h5,
.not_view .chat_ib p 
{
 color:white;
}
.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
  position: relative;
}
.status_user
{
  position: absolute;
  right: 0;
  top: 2px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.bg__status_user_1
{
   background: green;
}
.bg__status_user_0
{
   background: #ddd;
}
.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
  cursor: pointer;
}
.chat_list:hover
{
    cursor: pointer;
    background: #eee;
}
.chat_list:hover h5, 
.chat_list:hover p 
{
  color: #000;
}
.inbox_chat,.find_user {
    height: 72.5vh;
    overflow-y: scroll;
    }
.find_user
{
    display: none;
}
/* width */
.same_scroll::-webkit-scrollbar,.msg_history::-webkit-scrollbar  {
    width: 10px;
  }
  
.same_scroll::-webkit-scrollbar-track,.msg_history::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
.same_scroll::-webkit-scrollbar-thumb,.msg_history::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 194); 
  }
.same_scroll::-webkit-scrollbar-thumb:hover,.msg_history::-webkit-scrollbar-thumb {
    background:  rgb(194, 194, 194);
}
.active_chat{ background:#ebebeb;}
.active_chat_new_send .chat_ib h5,
.active_chat_new_send .chat_ib p
{
  color: white
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.mess_login .time_date
{
  text-align: right;
}
.mess_sendto .time_date
{
  text-align: left;
}
.time_date {
  color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
    
    padding: 0px 10px;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 0px 15px 0 25px;
  width: 100%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin-top:26px ;}
.incoming_msg
{
  margin-top:26px;
}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  /* background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%; */
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;margin-top: 7px;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging {padding: 0 0 10px 0;height: 78vh;}
.msg_history {
  height: 52vh;
  overflow-y: auto;
}
