.sp_icon231A::before { content: "\231A";}
.sp_icon231B::before { content: "\231B";}
.sp_icon23E9::before { content: "\23E9";}
.sp_icon23EA::before { content: "\23EA";}
.sp_icon23EB::before { content: "\23EB";}
.sp_icon23EC::before { content: "\23EC";}
.sp_icon23ED::before { content: "\23ED";}
.sp_icon23EE::before { content: "\23EE";}
.sp_icon23EF::before { content: "\23EF";}
.sp_icon23F0::before { content: "\23F0";}
.sp_icon23F1::before { content: "\23F1";}
.sp_icon23F2::before { content: "\23F2";}
.sp_icon23F3::before { content: "\23F3";}
.sp_icon23F8::before { content: "\23F8";}
.sp_icon23F9::before { content: "\23F9";}
.sp_icon23FA::before { content: "\23FA";}
.sp_icon24C2::before { content: "\24C2";}
.sp_icon2614::before { content: "\2614";}
.sp_icon2615::before { content: "\2615";}
.sp_icon261D::before { content: "\261D";}
.sp_icon2648::before { content: "\2648";}
.sp_icon2649::before { content: "\2649";}
.sp_icon264A::before { content: "\264A";}
.sp_icon264B::before { content: "\264B";}
.sp_icon264C::before { content: "\264C";}
.sp_icon264D::before { content: "\264D";}
.sp_icon264E::before { content: "\264E";}
.sp_icon264F::before { content: "\264F";}
.sp_icon2650::before { content: "\2650";}
.sp_icon2651::before { content: "\2651";}
.sp_icon2652::before { content: "\2652";}
.sp_icon2653::before { content: "\2653";}
.sp_icon265F::before { content: "\265F";}
.sp_icon267F::before { content: "\267F";}
.sp_icon2693::before { content: "\2693";}
.sp_icon26A1::before { content: "\26A1";}
.sp_icon26AA::before { content: "\26AA";}
.sp_icon26AB::before { content: "\26AB";}
.sp_icon26BD::before { content: "\26BD";}
.sp_icon26BE::before { content: "\26BE";}
.sp_icon26C4::before { content: "\26C4";}
.sp_icon26C5::before { content: "\26C5";}
.sp_icon26CE::before { content: "\26CE";}
.sp_icon26CF::before { content: "\26CF";}
.sp_icon26D1::before { content: "\26D1";}
.sp_icon26D3::before { content: "\26D3";}
.sp_icon26D4::before { content: "\26D4";}
.sp_icon26E9::before { content: "\26E9";}
.sp_icon26EA::before { content: "\26EA";}
.sp_icon26F0::before { content: "\26F0";}
.sp_icon26F1::before { content: "\26F1";}
.sp_icon26F2::before { content: "\26F2";}
.sp_icon26F3::before { content: "\26F3";}
.sp_icon26F4::before { content: "\26F4";}
.sp_icon26F5::before { content: "\26F5";}
.sp_icon26F7::before { content: "\26F7";}
.sp_icon26F8::before { content: "\26F8";}
.sp_icon26F9::before { content: "\26F9";}
.sp_icon26FA::before { content: "\26FA";}
.sp_icon26FD::before { content: "\26FD";}
.sp_icon2702::before { content: "\2702";}
.sp_icon2705::before { content: "\2705";}
.sp_icon2708::before { content: "\2708";}
.sp_icon2709::before { content: "\2709";}
.sp_icon270A::before { content: "\270A";}
.sp_icon270B::before { content: "\270B";}
.sp_icon270C::before { content: "\270C";}
.sp_icon270D::before { content: "\270D";}
.sp_icon270F::before { content: "\270F";}
.sp_icon2712::before { content: "\2712";}
.sp_icon2714::before { content: "\2714";}
.sp_icon2716::before { content: "\2716";}
.sp_icon271D::before { content: "\271D";}
.sp_icon2721::before { content: "\2721";}
.sp_icon2728::before { content: "\2728";}
.sp_icon2733::before { content: "\2733";}
.sp_icon2734::before { content: "\2734";}
.sp_icon2744::before { content: "\2744";}
.sp_icon2747::before { content: "\2747";}
.sp_icon274C::before { content: "\274C";}
.sp_icon274E::before { content: "\274E";}
.sp_icon2753::before { content: "\2753";}
.sp_icon2754::before { content: "\2754";}
.sp_icon2755::before { content: "\2755";}
.sp_icon2757::before { content: "\2757";}
.sp_icon2763::before { content: "\2763";}
.sp_icon2764::before { content: "\2764";}
.sp_icon2795::before { content: "\2795";}
.sp_icon2796::before { content: "\2796";}
.sp_icon2797::before { content: "\2797";}
.sp_icon27A1::before { content: "\27A1";}
.sp_icon27B0::before { content: "\27B0";}
.sp_icon27BF::before { content: "\27BF";}
.sp_icon2934::before { content: "\2934";}
.sp_icon2935::before { content: "\2935";}
.sp_icon2B05::before { content: "\2B05";}
.sp_icon2B06::before { content: "\2B06";}
.sp_icon2B07::before { content: "\2B07";}
.sp_icon2B1B::before { content: "\2B1B";}
.sp_icon2B1C::before { content: "\2B1C";}
.sp_icon2B50::before { content: "\2B50";}
.sp_icon2B55::before { content: "\2B55";}
.sp_icon3030::before { content: "\3030";}
.sp_icon303D::before { content: "\303D";}
.sp_icon3297::before { content: "\3297";}
.sp_icon3299::before { content: "\3299";}
.sp_icon1F004::before { content: "\1F004";}
.sp_icon1F0CF::before { content: "\1F0CF";}
.sp_icon1F170::before { content: "\1F170";}
.sp_icon1F171::before { content: "\1F171";}
.sp_icon1F17E::before { content: "\1F17E";}
.sp_icon1F17F::before { content: "\1F17F";}
.sp_icon1F18E::before { content: "\1F18E";}
.sp_icon1F191::before { content: "\1F191";}
.sp_icon1F192::before { content: "\1F192";}
.sp_icon1F193::before { content: "\1F193";}
.sp_icon1F194::before { content: "\1F194";}
.sp_icon1F195::before { content: "\1F195";}
.sp_icon1F196::before { content: "\1F196";}
.sp_icon1F197::before { content: "\1F197";}
.sp_icon1F198::before { content: "\1F198";}
.sp_icon1F199::before { content: "\1F199";}
.sp_icon1F19A::before { content: "\1F19A";}
.sp_icon1F201::before { content: "\1F201";}
.sp_icon1F202::before { content: "\1F202";}
.sp_icon1F21A::before { content: "\1F21A";}
.sp_icon1F22F::before { content: "\1F22F";}
.sp_icon1F232::before { content: "\1F232";}
.sp_icon1F233::before { content: "\1F233";}
.sp_icon1F234::before { content: "\1F234";}
.sp_icon1F235::before { content: "\1F235";}
.sp_icon1F236::before { content: "\1F236";}
.sp_icon1F237::before { content: "\1F237";}
.sp_icon1F238::before { content: "\1F238";}
.sp_icon1F239::before { content: "\1F239";}
.sp_icon1F23A::before { content: "\1F23A";}
.sp_icon1F250::before { content: "\1F250";}
.sp_icon1F251::before { content: "\1F251";}
.sp_icon1F300::before { content: "\1F300";}
.sp_icon1F301::before { content: "\1F301";}
.sp_icon1F302::before { content: "\1F302";}
.sp_icon1F303::before { content: "\1F303";}
.sp_icon1F304::before { content: "\1F304";}
.sp_icon1F305::before { content: "\1F305";}
.sp_icon1F306::before { content: "\1F306";}
.sp_icon1F307::before { content: "\1F307";}
.sp_icon1F308::before { content: "\1F308";}
.sp_icon1F309::before { content: "\1F309";}
.sp_icon1F30A::before { content: "\1F30A";}
.sp_icon1F30B::before { content: "\1F30B";}
.sp_icon1F30C::before { content: "\1F30C";}
.sp_icon1F30D::before { content: "\1F30D";}
.sp_icon1F30E::before { content: "\1F30E";}
.sp_icon1F30F::before { content: "\1F30F";}
.sp_icon1F310::before { content: "\1F310";}
.sp_icon1F311::before { content: "\1F311";}
.sp_icon1F312::before { content: "\1F312";}
.sp_icon1F313::before { content: "\1F313";}
.sp_icon1F314::before { content: "\1F314";}
.sp_icon1F315::before { content: "\1F315";}
.sp_icon1F316::before { content: "\1F316";}
.sp_icon1F317::before { content: "\1F317";}
.sp_icon1F318::before { content: "\1F318";}
.sp_icon1F319::before { content: "\1F319";}
.sp_icon1F31A::before { content: "\1F31A";}
.sp_icon1F31B::before { content: "\1F31B";}
.sp_icon1F31C::before { content: "\1F31C";}
.sp_icon1F31D::before { content: "\1F31D";}
.sp_icon1F31E::before { content: "\1F31E";}
.sp_icon1F31F::before { content: "\1F31F";}
.sp_icon1F320::before { content: "\1F320";}
.sp_icon1F321::before { content: "\1F321";}
.sp_icon1F324::before { content: "\1F324";}
.sp_icon1F325::before { content: "\1F325";}
.sp_icon1F326::before { content: "\1F326";}
.sp_icon1F327::before { content: "\1F327";}
.sp_icon1F328::before { content: "\1F328";}
.sp_icon1F329::before { content: "\1F329";}
.sp_icon1F32A::before { content: "\1F32A";}
.sp_icon1F32B::before { content: "\1F32B";}
.sp_icon1F32C::before { content: "\1F32C";}
.sp_icon1F32D::before { content: "\1F32D";}
.sp_icon1F32E::before { content: "\1F32E";}
.sp_icon1F32F::before { content: "\1F32F";}
.sp_icon1F330::before { content: "\1F330";}
.sp_icon1F331::before { content: "\1F331";}
.sp_icon1F332::before { content: "\1F332";}
.sp_icon1F333::before { content: "\1F333";}
.sp_icon1F334::before { content: "\1F334";}
.sp_icon1F335::before { content: "\1F335";}
.sp_icon1F336::before { content: "\1F336";}
.sp_icon1F337::before { content: "\1F337";}
.sp_icon1F338::before { content: "\1F338";}
.sp_icon1F339::before { content: "\1F339";}
.sp_icon1F33A::before { content: "\1F33A";}
.sp_icon1F33B::before { content: "\1F33B";}
.sp_icon1F33C::before { content: "\1F33C";}
.sp_icon1F33D::before { content: "\1F33D";}
.sp_icon1F33E::before { content: "\1F33E";}
.sp_icon1F33F::before { content: "\1F33F";}
.sp_icon1F340::before { content: "\1F340";}
.sp_icon1F341::before { content: "\1F341";}
.sp_icon1F342::before { content: "\1F342";}
.sp_icon1F343::before { content: "\1F343";}
.sp_icon1F344::before { content: "\1F344";}
.sp_icon1F345::before { content: "\1F345";}
.sp_icon1F346::before { content: "\1F346";}
.sp_icon1F347::before { content: "\1F347";}
.sp_icon1F348::before { content: "\1F348";}
.sp_icon1F349::before { content: "\1F349";}
.sp_icon1F34A::before { content: "\1F34A";}
.sp_icon1F34B::before { content: "\1F34B";}
.sp_icon1F34C::before { content: "\1F34C";}
.sp_icon1F34D::before { content: "\1F34D";}
.sp_icon1F34E::before { content: "\1F34E";}
.sp_icon1F34F::before { content: "\1F34F";}
.sp_icon1F350::before { content: "\1F350";}
.sp_icon1F351::before { content: "\1F351";}
.sp_icon1F352::before { content: "\1F352";}
.sp_icon1F353::before { content: "\1F353";}
.sp_icon1F354::before { content: "\1F354";}
.sp_icon1F355::before { content: "\1F355";}
.sp_icon1F356::before { content: "\1F356";}
.sp_icon1F357::before { content: "\1F357";}
.sp_icon1F358::before { content: "\1F358";}
.sp_icon1F359::before { content: "\1F359";}
.sp_icon1F35A::before { content: "\1F35A";}
.sp_icon1F35B::before { content: "\1F35B";}
.sp_icon1F35C::before { content: "\1F35C";}
.sp_icon1F35D::before { content: "\1F35D";}
.sp_icon1F35E::before { content: "\1F35E";}
.sp_icon1F35F::before { content: "\1F35F";}
.sp_icon1F360::before { content: "\1F360";}
.sp_icon1F361::before { content: "\1F361";}
.sp_icon1F362::before { content: "\1F362";}
.sp_icon1F363::before { content: "\1F363";}
.sp_icon1F364::before { content: "\1F364";}
.sp_icon1F365::before { content: "\1F365";}
.sp_icon1F366::before { content: "\1F366";}
.sp_icon1F367::before { content: "\1F367";}
.sp_icon1F368::before { content: "\1F368";}
.sp_icon1F369::before { content: "\1F369";}
.sp_icon1F36A::before { content: "\1F36A";}
.sp_icon1F36B::before { content: "\1F36B";}
.sp_icon1F36C::before { content: "\1F36C";}
.sp_icon1F36D::before { content: "\1F36D";}
.sp_icon1F36E::before { content: "\1F36E";}
.sp_icon1F36F::before { content: "\1F36F";}
.sp_icon1F370::before { content: "\1F370";}
.sp_icon1F371::before { content: "\1F371";}
.sp_icon1F372::before { content: "\1F372";}
.sp_icon1F373::before { content: "\1F373";}
.sp_icon1F374::before { content: "\1F374";}
.sp_icon1F375::before { content: "\1F375";}
.sp_icon1F376::before { content: "\1F376";}
.sp_icon1F377::before { content: "\1F377";}
.sp_icon1F378::before { content: "\1F378";}
.sp_icon1F379::before { content: "\1F379";}
.sp_icon1F37A::before { content: "\1F37A";}
.sp_icon1F37B::before { content: "\1F37B";}
.sp_icon1F37C::before { content: "\1F37C";}
.sp_icon1F37D::before { content: "\1F37D";}
.sp_icon1F37E::before { content: "\1F37E";}
.sp_icon1F37F::before { content: "\1F37F";}
.sp_icon1F380::before { content: "\1F380";}
.sp_icon1F381::before { content: "\1F381";}
.sp_icon1F382::before { content: "\1F382";}
.sp_icon1F383::before { content: "\1F383";}
.sp_icon1F384::before { content: "\1F384";}
.sp_icon1F385::before { content: "\1F385";}
.sp_icon1F386::before { content: "\1F386";}
.sp_icon1F387::before { content: "\1F387";}
.sp_icon1F388::before { content: "\1F388";}
.sp_icon1F389::before { content: "\1F389";}
.sp_icon1F38A::before { content: "\1F38A";}
.sp_icon1F38B::before { content: "\1F38B";}
.sp_icon1F38C::before { content: "\1F38C";}
.sp_icon1F38D::before { content: "\1F38D";}
.sp_icon1F38E::before { content: "\1F38E";}
.sp_icon1F38F::before { content: "\1F38F";}
.sp_icon1F390::before { content: "\1F390";}
.sp_icon1F391::before { content: "\1F391";}
.sp_icon1F392::before { content: "\1F392";}
.sp_icon1F393::before { content: "\1F393";}
.sp_icon1F396::before { content: "\1F396";}
.sp_icon1F397::before { content: "\1F397";}
.sp_icon1F399::before { content: "\1F399";}
.sp_icon1F39A::before { content: "\1F39A";}
.sp_icon1F39B::before { content: "\1F39B";}
.sp_icon1F39E::before { content: "\1F39E";}
.sp_icon1F39F::before { content: "\1F39F";}
.sp_icon1F3A0::before { content: "\1F3A0";}
.sp_icon1F3A1::before { content: "\1F3A1";}
.sp_icon1F3A2::before { content: "\1F3A2";}
.sp_icon1F3A3::before { content: "\1F3A3";}
.sp_icon1F3A4::before { content: "\1F3A4";}
.sp_icon1F3A5::before { content: "\1F3A5";}
.sp_icon1F3A6::before { content: "\1F3A6";}
.sp_icon1F3A7::before { content: "\1F3A7";}
.sp_icon1F3A8::before { content: "\1F3A8";}
.sp_icon1F3A9::before { content: "\1F3A9";}
.sp_icon1F3AA::before { content: "\1F3AA";}
.sp_icon1F3AB::before { content: "\1F3AB";}
.sp_icon1F3AC::before { content: "\1F3AC";}
.sp_icon1F3AD::before { content: "\1F3AD";}
.sp_icon1F3AE::before { content: "\1F3AE";}
.sp_icon1F3AF::before { content: "\1F3AF";}
.sp_icon1F3B0::before { content: "\1F3B0";}
.sp_icon1F3B1::before { content: "\1F3B1";}
.sp_icon1F3B2::before { content: "\1F3B2";}
.sp_icon1F3B3::before { content: "\1F3B3";}
.sp_icon1F3B4::before { content: "\1F3B4";}
.sp_icon1F3B5::before { content: "\1F3B5";}
.sp_icon1F3B6::before { content: "\1F3B6";}
.sp_icon1F3B7::before { content: "\1F3B7";}
.sp_icon1F3B8::before { content: "\1F3B8";}
.sp_icon1F3B9::before { content: "\1F3B9";}
.sp_icon1F3BA::before { content: "\1F3BA";}
.sp_icon1F3BB::before { content: "\1F3BB";}
.sp_icon1F3BC::before { content: "\1F3BC";}
.sp_icon1F3BD::before { content: "\1F3BD";}
.sp_icon1F3BE::before { content: "\1F3BE";}
.sp_icon1F3BF::before { content: "\1F3BF";}
.sp_icon1F3C0::before { content: "\1F3C0";}
.sp_icon1F3C1::before { content: "\1F3C1";}
.sp_icon1F3C2::before { content: "\1F3C2";}
.sp_icon1F3C3::before { content: "\1F3C3";}
.sp_icon1F3C4::before { content: "\1F3C4";}
.sp_icon1F3C5::before { content: "\1F3C5";}
.sp_icon1F3C6::before { content: "\1F3C6";}
.sp_icon1F3C7::before { content: "\1F3C7";}
.sp_icon1F3C8::before { content: "\1F3C8";}
.sp_icon1F3C9::before { content: "\1F3C9";}
.sp_icon1F3CA::before { content: "\1F3CA";}
.sp_icon1F3CB::before { content: "\1F3CB";}
.sp_icon1F3CC::before { content: "\1F3CC";}
.sp_icon1F3CD::before { content: "\1F3CD";}
.sp_icon1F3CE::before { content: "\1F3CE";}
.sp_icon1F3CF::before { content: "\1F3CF";}
.sp_icon1F3D0::before { content: "\1F3D0";}
.sp_icon1F3D1::before { content: "\1F3D1";}
.sp_icon1F3D2::before { content: "\1F3D2";}
.sp_icon1F3D3::before { content: "\1F3D3";}
.sp_icon1F3D4::before { content: "\1F3D4";}
.sp_icon1F3D5::before { content: "\1F3D5";}
.sp_icon1F3D6::before { content: "\1F3D6";}
.sp_icon1F3D7::before { content: "\1F3D7";}
.sp_icon1F3D8::before { content: "\1F3D8";}
.sp_icon1F3D9::before { content: "\1F3D9";}
.sp_icon1F3DA::before { content: "\1F3DA";}
.sp_icon1F3DB::before { content: "\1F3DB";}
.sp_icon1F3DC::before { content: "\1F3DC";}
.sp_icon1F3DD::before { content: "\1F3DD";}
.sp_icon1F3DE::before { content: "\1F3DE";}
.sp_icon1F3DF::before { content: "\1F3DF";}
.sp_icon1F3E0::before { content: "\1F3E0";}
.sp_icon1F3E1::before { content: "\1F3E1";}
.sp_icon1F3E2::before { content: "\1F3E2";}
.sp_icon1F3E3::before { content: "\1F3E3";}
.sp_icon1F3E4::before { content: "\1F3E4";}
.sp_icon1F3E5::before { content: "\1F3E5";}
.sp_icon1F3E6::before { content: "\1F3E6";}
.sp_icon1F3E7::before { content: "\1F3E7";}
.sp_icon1F3E8::before { content: "\1F3E8";}
.sp_icon1F3E9::before { content: "\1F3E9";}
.sp_icon1F3EA::before { content: "\1F3EA";}
.sp_icon1F3EB::before { content: "\1F3EB";}
.sp_icon1F3EC::before { content: "\1F3EC";}
.sp_icon1F3ED::before { content: "\1F3ED";}
.sp_icon1F3EE::before { content: "\1F3EE";}
.sp_icon1F3EF::before { content: "\1F3EF";}
.sp_icon1F3F0::before { content: "\1F3F0";}
.sp_icon1F3F3::before { content: "\1F3F3";}
.sp_icon1F3F4::before { content: "\1F3F4";}
.sp_icon1F3F5::before { content: "\1F3F5";}
.sp_icon1F3F7::before { content: "\1F3F7";}
.sp_icon1F3F8::before { content: "\1F3F8";}
.sp_icon1F3F9::before { content: "\1F3F9";}
.sp_icon1F3FA::before { content: "\1F3FA";}
.sp_icon1F3FB::before { content: "\1F3FB";}
.sp_icon1F3FC::before { content: "\1F3FC";}
.sp_icon1F3FD::before { content: "\1F3FD";}
.sp_icon1F3FE::before { content: "\1F3FE";}
.sp_icon1F3FF::before { content: "\1F3FF";}
.sp_icon1F400::before { content: "\1F400";}
.sp_icon1F401::before { content: "\1F401";}
.sp_icon1F402::before { content: "\1F402";}
.sp_icon1F403::before { content: "\1F403";}
.sp_icon1F404::before { content: "\1F404";}
.sp_icon1F405::before { content: "\1F405";}
.sp_icon1F406::before { content: "\1F406";}
.sp_icon1F407::before { content: "\1F407";}
.sp_icon1F408::before { content: "\1F408";}
.sp_icon1F409::before { content: "\1F409";}
.sp_icon1F40A::before { content: "\1F40A";}
.sp_icon1F40B::before { content: "\1F40B";}
.sp_icon1F40C::before { content: "\1F40C";}
.sp_icon1F40D::before { content: "\1F40D";}
.sp_icon1F40E::before { content: "\1F40E";}
.sp_icon1F40F::before { content: "\1F40F";}
.sp_icon1F410::before { content: "\1F410";}
.sp_icon1F411::before { content: "\1F411";}
.sp_icon1F412::before { content: "\1F412";}
.sp_icon1F413::before { content: "\1F413";}
.sp_icon1F414::before { content: "\1F414";}
.sp_icon1F415::before { content: "\1F415";}
.sp_icon1F416::before { content: "\1F416";}
.sp_icon1F417::before { content: "\1F417";}
.sp_icon1F418::before { content: "\1F418";}
.sp_icon1F419::before { content: "\1F419";}
.sp_icon1F41A::before { content: "\1F41A";}
.sp_icon1F41B::before { content: "\1F41B";}
.sp_icon1F41C::before { content: "\1F41C";}
.sp_icon1F41D::before { content: "\1F41D";}
.sp_icon1F41E::before { content: "\1F41E";}
.sp_icon1F41F::before { content: "\1F41F";}
.sp_icon1F420::before { content: "\1F420";}
.sp_icon1F421::before { content: "\1F421";}
.sp_icon1F422::before { content: "\1F422";}
.sp_icon1F423::before { content: "\1F423";}
.sp_icon1F424::before { content: "\1F424";}
.sp_icon1F425::before { content: "\1F425";}
.sp_icon1F426::before { content: "\1F426";}
.sp_icon1F427::before { content: "\1F427";}
.sp_icon1F428::before { content: "\1F428";}
.sp_icon1F429::before { content: "\1F429";}
.sp_icon1F42A::before { content: "\1F42A";}
.sp_icon1F42B::before { content: "\1F42B";}
.sp_icon1F42C::before { content: "\1F42C";}
.sp_icon1F42D::before { content: "\1F42D";}
.sp_icon1F42E::before { content: "\1F42E";}
.sp_icon1F42F::before { content: "\1F42F";}
.sp_icon1F430::before { content: "\1F430";}
.sp_icon1F431::before { content: "\1F431";}
.sp_icon1F432::before { content: "\1F432";}
.sp_icon1F433::before { content: "\1F433";}
.sp_icon1F434::before { content: "\1F434";}
.sp_icon1F435::before { content: "\1F435";}
.sp_icon1F436::before { content: "\1F436";}
.sp_icon1F437::before { content: "\1F437";}
.sp_icon1F438::before { content: "\1F438";}
.sp_icon1F439::before { content: "\1F439";}
.sp_icon1F43A::before { content: "\1F43A";}
.sp_icon1F43B::before { content: "\1F43B";}
.sp_icon1F43C::before { content: "\1F43C";}
.sp_icon1F43D::before { content: "\1F43D";}
.sp_icon1F43E::before { content: "\1F43E";}
.sp_icon1F43F::before { content: "\1F43F";}
.sp_icon1F440::before { content: "\1F440";}
.sp_icon1F441::before { content: "\1F441";}
.sp_icon1F442::before { content: "\1F442";}
.sp_icon1F443::before { content: "\1F443";}
.sp_icon1F444::before { content: "\1F444";}
.sp_icon1F445::before { content: "\1F445";}
.sp_icon1F446::before { content: "\1F446";}
.sp_icon1F447::before { content: "\1F447";}
.sp_icon1F448::before { content: "\1F448";}
.sp_icon1F449::before { content: "\1F449";}
.sp_icon1F44A::before { content: "\1F44A";}
.sp_icon1F44B::before { content: "\1F44B";}
.sp_icon1F44C::before { content: "\1F44C";}
.sp_icon1F44D::before { content: "\1F44D";}
.sp_icon1F44E::before { content: "\1F44E";}
.sp_icon1F44F::before { content: "\1F44F";}
.sp_icon1F450::before { content: "\1F450";}
.sp_icon1F451::before { content: "\1F451";}
.sp_icon1F452::before { content: "\1F452";}
.sp_icon1F453::before { content: "\1F453";}
.sp_icon1F454::before { content: "\1F454";}
.sp_icon1F455::before { content: "\1F455";}
.sp_icon1F456::before { content: "\1F456";}
.sp_icon1F457::before { content: "\1F457";}
.sp_icon1F458::before { content: "\1F458";}
.sp_icon1F459::before { content: "\1F459";}
.sp_icon1F45A::before { content: "\1F45A";}
.sp_icon1F45B::before { content: "\1F45B";}
.sp_icon1F45C::before { content: "\1F45C";}
.sp_icon1F45D::before { content: "\1F45D";}
.sp_icon1F45E::before { content: "\1F45E";}
.sp_icon1F45F::before { content: "\1F45F";}
.sp_icon1F460::before { content: "\1F460";}
.sp_icon1F461::before { content: "\1F461";}
.sp_icon1F462::before { content: "\1F462";}
.sp_icon1F463::before { content: "\1F463";}
.sp_icon1F464::before { content: "\1F464";}
.sp_icon1F465::before { content: "\1F465";}
.sp_icon1F466::before { content: "\1F466";}
.sp_icon1F467::before { content: "\1F467";}
.sp_icon1F468::before { content: "\1F468";}
.sp_icon1F469::before { content: "\1F469";}
.sp_icon1F46A::before { content: "\1F46A";}
.sp_icon1F46B::before { content: "\1F46B";}
.sp_icon1F46C::before { content: "\1F46C";}
.sp_icon1F46D::before { content: "\1F46D";}
.sp_icon1F46E::before { content: "\1F46E";}
.sp_icon1F46F::before { content: "\1F46F";}
.sp_icon1F470::before { content: "\1F470";}
.sp_icon1F471::before { content: "\1F471";}
.sp_icon1F472::before { content: "\1F472";}
.sp_icon1F473::before { content: "\1F473";}
.sp_icon1F474::before { content: "\1F474";}
.sp_icon1F475::before { content: "\1F475";}
.sp_icon1F476::before { content: "\1F476";}
.sp_icon1F477::before { content: "\1F477";}
.sp_icon1F478::before { content: "\1F478";}
.sp_icon1F479::before { content: "\1F479";}
.sp_icon1F47A::before { content: "\1F47A";}
.sp_icon1F47B::before { content: "\1F47B";}
.sp_icon1F47C::before { content: "\1F47C";}
.sp_icon1F47D::before { content: "\1F47D";}
.sp_icon1F47E::before { content: "\1F47E";}
.sp_icon1F47F::before { content: "\1F47F";}
.sp_icon1F480::before { content: "\1F480";}
.sp_icon1F481::before { content: "\1F481";}
.sp_icon1F482::before { content: "\1F482";}
.sp_icon1F483::before { content: "\1F483";}
.sp_icon1F484::before { content: "\1F484";}
.sp_icon1F485::before { content: "\1F485";}
.sp_icon1F486::before { content: "\1F486";}
.sp_icon1F487::before { content: "\1F487";}
.sp_icon1F488::before { content: "\1F488";}
.sp_icon1F489::before { content: "\1F489";}
.sp_icon1F48A::before { content: "\1F48A";}
.sp_icon1F48B::before { content: "\1F48B";}
.sp_icon1F48C::before { content: "\1F48C";}
.sp_icon1F48D::before { content: "\1F48D";}
.sp_icon1F48E::before { content: "\1F48E";}
.sp_icon1F48F::before { content: "\1F48F";}
.sp_icon1F490::before { content: "\1F490";}
.sp_icon1F491::before { content: "\1F491";}
.sp_icon1F492::before { content: "\1F492";}
.sp_icon1F493::before { content: "\1F493";}
.sp_icon1F494::before { content: "\1F494";}
.sp_icon1F495::before { content: "\1F495";}
.sp_icon1F496::before { content: "\1F496";}
.sp_icon1F497::before { content: "\1F497";}
.sp_icon1F498::before { content: "\1F498";}
.sp_icon1F499::before { content: "\1F499";}
.sp_icon1F49A::before { content: "\1F49A";}
.sp_icon1F49B::before { content: "\1F49B";}
.sp_icon1F49C::before { content: "\1F49C";}
.sp_icon1F49D::before { content: "\1F49D";}
.sp_icon1F49E::before { content: "\1F49E";}
.sp_icon1F49F::before { content: "\1F49F";}
.sp_icon1F4A0::before { content: "\1F4A0";}
.sp_icon1F4A1::before { content: "\1F4A1";}
.sp_icon1F4A2::before { content: "\1F4A2";}
.sp_icon1F4A3::before { content: "\1F4A3";}
.sp_icon1F4A4::before { content: "\1F4A4";}
.sp_icon1F4A5::before { content: "\1F4A5";}
.sp_icon1F4A6::before { content: "\1F4A6";}
.sp_icon1F4A7::before { content: "\1F4A7";}
.sp_icon1F4A8::before { content: "\1F4A8";}
.sp_icon1F4A9::before { content: "\1F4A9";}
.sp_icon1F4AA::before { content: "\1F4AA";}
.sp_icon1F4AB::before { content: "\1F4AB";}
.sp_icon1F4AC::before { content: "\1F4AC";}
.sp_icon1F4AD::before { content: "\1F4AD";}
.sp_icon1F4AE::before { content: "\1F4AE";}
.sp_icon1F4AF::before { content: "\1F4AF";}
.sp_icon1F4B0::before { content: "\1F4B0";}
.sp_icon1F4B1::before { content: "\1F4B1";}
.sp_icon1F4B2::before { content: "\1F4B2";}
.sp_icon1F4B3::before { content: "\1F4B3";}
.sp_icon1F4B4::before { content: "\1F4B4";}
.sp_icon1F4B5::before { content: "\1F4B5";}
.sp_icon1F4B6::before { content: "\1F4B6";}
.sp_icon1F4B7::before { content: "\1F4B7";}
.sp_icon1F4B8::before { content: "\1F4B8";}
.sp_icon1F4B9::before { content: "\1F4B9";}
.sp_icon1F4BA::before { content: "\1F4BA";}
.sp_icon1F4BB::before { content: "\1F4BB";}
.sp_icon1F4BC::before { content: "\1F4BC";}
.sp_icon1F4BD::before { content: "\1F4BD";}
.sp_icon1F4BE::before { content: "\1F4BE";}
.sp_icon1F4BF::before { content: "\1F4BF";}
.sp_icon1F4C0::before { content: "\1F4C0";}
.sp_icon1F4C1::before { content: "\1F4C1";}
.sp_icon1F4C2::before { content: "\1F4C2";}
.sp_icon1F4C3::before { content: "\1F4C3";}
.sp_icon1F4C4::before { content: "\1F4C4";}
.sp_icon1F4C5::before { content: "\1F4C5";}
.sp_icon1F4C6::before { content: "\1F4C6";}
.sp_icon1F4C7::before { content: "\1F4C7";}
.sp_icon1F4C8::before { content: "\1F4C8";}
.sp_icon1F4C9::before { content: "\1F4C9";}
.sp_icon1F4CA::before { content: "\1F4CA";}
.sp_icon1F4CB::before { content: "\1F4CB";}
.sp_icon1F4CC::before { content: "\1F4CC";}
.sp_icon1F4CD::before { content: "\1F4CD";}
.sp_icon1F4CE::before { content: "\1F4CE";}
.sp_icon1F4CF::before { content: "\1F4CF";}
.sp_icon1F4D0::before { content: "\1F4D0";}
.sp_icon1F4D1::before { content: "\1F4D1";}
.sp_icon1F4D2::before { content: "\1F4D2";}
.sp_icon1F4D3::before { content: "\1F4D3";}
.sp_icon1F4D4::before { content: "\1F4D4";}
.sp_icon1F4D5::before { content: "\1F4D5";}
.sp_icon1F4D6::before { content: "\1F4D6";}
.sp_icon1F4D7::before { content: "\1F4D7";}
.sp_icon1F4D8::before { content: "\1F4D8";}
.sp_icon1F4D9::before { content: "\1F4D9";}
.sp_icon1F4DA::before { content: "\1F4DA";}
.sp_icon1F4DB::before { content: "\1F4DB";}
.sp_icon1F4DC::before { content: "\1F4DC";}
.sp_icon1F4DD::before { content: "\1F4DD";}
.sp_icon1F4DE::before { content: "\1F4DE";}
.sp_icon1F4DF::before { content: "\1F4DF";}
.sp_icon1F4E0::before { content: "\1F4E0";}
.sp_icon1F4E1::before { content: "\1F4E1";}
.sp_icon1F4E2::before { content: "\1F4E2";}
.sp_icon1F4E3::before { content: "\1F4E3";}
.sp_icon1F4E4::before { content: "\1F4E4";}
.sp_icon1F4E5::before { content: "\1F4E5";}
.sp_icon1F4E6::before { content: "\1F4E6";}
.sp_icon1F4E7::before { content: "\1F4E7";}
.sp_icon1F4E8::before { content: "\1F4E8";}
.sp_icon1F4E9::before { content: "\1F4E9";}
.sp_icon1F4EA::before { content: "\1F4EA";}
.sp_icon1F4EB::before { content: "\1F4EB";}
.sp_icon1F4EC::before { content: "\1F4EC";}
.sp_icon1F4ED::before { content: "\1F4ED";}
.sp_icon1F4EE::before { content: "\1F4EE";}
.sp_icon1F4EF::before { content: "\1F4EF";}
.sp_icon1F4F0::before { content: "\1F4F0";}
.sp_icon1F4F1::before { content: "\1F4F1";}
.sp_icon1F4F2::before { content: "\1F4F2";}
.sp_icon1F4F3::before { content: "\1F4F3";}
.sp_icon1F4F4::before { content: "\1F4F4";}
.sp_icon1F4F5::before { content: "\1F4F5";}
.sp_icon1F4F6::before { content: "\1F4F6";}
.sp_icon1F4F7::before { content: "\1F4F7";}
.sp_icon1F4F8::before { content: "\1F4F8";}
.sp_icon1F4F9::before { content: "\1F4F9";}
.sp_icon1F4FA::before { content: "\1F4FA";}
.sp_icon1F4FB::before { content: "\1F4FB";}
.sp_icon1F4FC::before { content: "\1F4FC";}
.sp_icon1F4FD::before { content: "\1F4FD";}
.sp_icon1F4FF::before { content: "\1F4FF";}
.sp_icon1F500::before { content: "\1F500";}
.sp_icon1F501::before { content: "\1F501";}
.sp_icon1F502::before { content: "\1F502";}
.sp_icon1F503::before { content: "\1F503";}
.sp_icon1F504::before { content: "\1F504";}
.sp_icon1F505::before { content: "\1F505";}
.sp_icon1F506::before { content: "\1F506";}
.sp_icon1F507::before { content: "\1F507";}
.sp_icon1F508::before { content: "\1F508";}
.sp_icon1F509::before { content: "\1F509";}
.sp_icon1F50A::before { content: "\1F50A";}
.sp_icon1F50B::before { content: "\1F50B";}
.sp_icon1F50C::before { content: "\1F50C";}
.sp_icon1F50D::before { content: "\1F50D";}
.sp_icon1F50E::before { content: "\1F50E";}
.sp_icon1F50F::before { content: "\1F50F";}
.sp_icon1F510::before { content: "\1F510";}
.sp_icon1F511::before { content: "\1F511";}
.sp_icon1F512::before { content: "\1F512";}
.sp_icon1F513::before { content: "\1F513";}
.sp_icon1F514::before { content: "\1F514";}
.sp_icon1F515::before { content: "\1F515";}
.sp_icon1F516::before { content: "\1F516";}
.sp_icon1F517::before { content: "\1F517";}
.sp_icon1F518::before { content: "\1F518";}
.sp_icon1F519::before { content: "\1F519";}
.sp_icon1F51A::before { content: "\1F51A";}
.sp_icon1F51B::before { content: "\1F51B";}
.sp_icon1F51C::before { content: "\1F51C";}
.sp_icon1F51D::before { content: "\1F51D";}
.sp_icon1F51E::before { content: "\1F51E";}
.sp_icon1F51F::before { content: "\1F51F";}
.sp_icon1F520::before { content: "\1F520";}
.sp_icon1F521::before { content: "\1F521";}
.sp_icon1F522::before { content: "\1F522";}
.sp_icon1F523::before { content: "\1F523";}
.sp_icon1F524::before { content: "\1F524";}
.sp_icon1F525::before { content: "\1F525";}
.sp_icon1F526::before { content: "\1F526";}
.sp_icon1F527::before { content: "\1F527";}
.sp_icon1F528::before { content: "\1F528";}
.sp_icon1F529::before { content: "\1F529";}
.sp_icon1F52A::before { content: "\1F52A";}
.sp_icon1F52B::before { content: "\1F52B";}
.sp_icon1F52C::before { content: "\1F52C";}
.sp_icon1F52D::before { content: "\1F52D";}
.sp_icon1F52E::before { content: "\1F52E";}
.sp_icon1F52F::before { content: "\1F52F";}
.sp_icon1F530::before { content: "\1F530";}
.sp_icon1F531::before { content: "\1F531";}
.sp_icon1F532::before { content: "\1F532";}
.sp_icon1F533::before { content: "\1F533";}
.sp_icon1F534::before { content: "\1F534";}
.sp_icon1F535::before { content: "\1F535";}
.sp_icon1F536::before { content: "\1F536";}
.sp_icon1F537::before { content: "\1F537";}
.sp_icon1F538::before { content: "\1F538";}
.sp_icon1F539::before { content: "\1F539";}
.sp_icon1F53A::before { content: "\1F53A";}
.sp_icon1F53B::before { content: "\1F53B";}
.sp_icon1F53C::before { content: "\1F53C";}
.sp_icon1F53D::before { content: "\1F53D";}
.sp_icon1F549::before { content: "\1F549";}
.sp_icon1F54A::before { content: "\1F54A";}
.sp_icon1F54B::before { content: "\1F54B";}
.sp_icon1F54C::before { content: "\1F54C";}
.sp_icon1F54D::before { content: "\1F54D";}
.sp_icon1F54E::before { content: "\1F54E";}
.sp_icon1F550::before { content: "\1F550";}
.sp_icon1F551::before { content: "\1F551";}
.sp_icon1F552::before { content: "\1F552";}
.sp_icon1F553::before { content: "\1F553";}
.sp_icon1F554::before { content: "\1F554";}
.sp_icon1F555::before { content: "\1F555";}
.sp_icon1F556::before { content: "\1F556";}
.sp_icon1F557::before { content: "\1F557";}
.sp_icon1F558::before { content: "\1F558";}
.sp_icon1F559::before { content: "\1F559";}
.sp_icon1F55A::before { content: "\1F55A";}
.sp_icon1F55B::before { content: "\1F55B";}
.sp_icon1F55C::before { content: "\1F55C";}
.sp_icon1F55D::before { content: "\1F55D";}
.sp_icon1F55E::before { content: "\1F55E";}
.sp_icon1F55F::before { content: "\1F55F";}
.sp_icon1F560::before { content: "\1F560";}
.sp_icon1F561::before { content: "\1F561";}
.sp_icon1F562::before { content: "\1F562";}
.sp_icon1F563::before { content: "\1F563";}
.sp_icon1F564::before { content: "\1F564";}
.sp_icon1F565::before { content: "\1F565";}
.sp_icon1F566::before { content: "\1F566";}
.sp_icon1F567::before { content: "\1F567";}
.sp_icon1F56F::before { content: "\1F56F";}
.sp_icon1F570::before { content: "\1F570";}
.sp_icon1F573::before { content: "\1F573";}
.sp_icon1F574::before { content: "\1F574";}
.sp_icon1F575::before { content: "\1F575";}
.sp_icon1F576::before { content: "\1F576";}
.sp_icon1F577::before { content: "\1F577";}
.sp_icon1F578::before { content: "\1F578";}
.sp_icon1F579::before { content: "\1F579";}
.sp_icon1F57A::before { content: "\1F57A";}
.sp_icon1F587::before { content: "\1F587";}
.sp_icon1F58A::before { content: "\1F58A";}
.sp_icon1F58B::before { content: "\1F58B";}
.sp_icon1F58C::before { content: "\1F58C";}
.sp_icon1F58D::before { content: "\1F58D";}
.sp_icon1F590::before { content: "\1F590";}
.sp_icon1F595::before { content: "\1F595";}
.sp_icon1F596::before { content: "\1F596";}
.sp_icon1F5A4::before { content: "\1F5A4";}
.sp_icon1F5A5::before { content: "\1F5A5";}
.sp_icon1F5A8::before { content: "\1F5A8";}
.sp_icon1F5B1::before { content: "\1F5B1";}
.sp_icon1F5B2::before { content: "\1F5B2";}
.sp_icon1F5BC::before { content: "\1F5BC";}
.sp_icon1F5C2::before { content: "\1F5C2";}
.sp_icon1F5C3::before { content: "\1F5C3";}
.sp_icon1F5C4::before { content: "\1F5C4";}
.sp_icon1F5D1::before { content: "\1F5D1";}
.sp_icon1F5D2::before { content: "\1F5D2";}
.sp_icon1F5D3::before { content: "\1F5D3";}
.sp_icon1F5DC::before { content: "\1F5DC";}
.sp_icon1F5DD::before { content: "\1F5DD";}
.sp_icon1F5DE::before { content: "\1F5DE";}
.sp_icon1F5E1::before { content: "\1F5E1";}
.sp_icon1F5E3::before { content: "\1F5E3";}
.sp_icon1F5E8::before { content: "\1F5E8";}
.sp_icon1F5EF::before { content: "\1F5EF";}
.sp_icon1F5F3::before { content: "\1F5F3";}
.sp_icon1F5FA::before { content: "\1F5FA";}
.sp_icon1F5FB::before { content: "\1F5FB";}
.sp_icon1F5FC::before { content: "\1F5FC";}
.sp_icon1F5FD::before { content: "\1F5FD";}
.sp_icon1F5FE::before { content: "\1F5FE";}
.sp_icon1F5FF::before { content: "\1F5FF";}
.sp_icon1F600::before { content: "\1F600";}
.sp_icon1F601::before { content: "\1F601";}
.sp_icon1F602::before { content: "\1F602";}
.sp_icon1F603::before { content: "\1F603";}
.sp_icon1F604::before { content: "\1F604";}
.sp_icon1F605::before { content: "\1F605";}
.sp_icon1F606::before { content: "\1F606";}
.sp_icon1F607::before { content: "\1F607";}
.sp_icon1F608::before { content: "\1F608";}
.sp_icon1F609::before { content: "\1F609";}
.sp_icon1F60A::before { content: "\1F60A";}
.sp_icon1F60B::before { content: "\1F60B";}
.sp_icon1F60C::before { content: "\1F60C";}
.sp_icon1F60D::before { content: "\1F60D";}
.sp_icon1F60E::before { content: "\1F60E";}
.sp_icon1F60F::before { content: "\1F60F";}
.sp_icon1F610::before { content: "\1F610";}
.sp_icon1F611::before { content: "\1F611";}
.sp_icon1F612::before { content: "\1F612";}
.sp_icon1F613::before { content: "\1F613";}
.sp_icon1F614::before { content: "\1F614";}
.sp_icon1F615::before { content: "\1F615";}
.sp_icon1F616::before { content: "\1F616";}
.sp_icon1F617::before { content: "\1F617";}
.sp_icon1F618::before { content: "\1F618";}
.sp_icon1F619::before { content: "\1F619";}
.sp_icon1F61A::before { content: "\1F61A";}
.sp_icon1F61B::before { content: "\1F61B";}
.sp_icon1F61C::before { content: "\1F61C";}
.sp_icon1F61D::before { content: "\1F61D";}
.sp_icon1F61E::before { content: "\1F61E";}
.sp_icon1F61F::before { content: "\1F61F";}
.sp_icon1F620::before { content: "\1F620";}
.sp_icon1F621::before { content: "\1F621";}
.sp_icon1F622::before { content: "\1F622";}
.sp_icon1F623::before { content: "\1F623";}
.sp_icon1F624::before { content: "\1F624";}
.sp_icon1F625::before { content: "\1F625";}
.sp_icon1F626::before { content: "\1F626";}
.sp_icon1F627::before { content: "\1F627";}
.sp_icon1F628::before { content: "\1F628";}
.sp_icon1F629::before { content: "\1F629";}
.sp_icon1F62A::before { content: "\1F62A";}
.sp_icon1F62B::before { content: "\1F62B";}
.sp_icon1F62C::before { content: "\1F62C";}
.sp_icon1F62D::before { content: "\1F62D";}
.sp_icon1F62E::before { content: "\1F62E";}
.sp_icon1F62F::before { content: "\1F62F";}
.sp_icon1F630::before { content: "\1F630";}
.sp_icon1F631::before { content: "\1F631";}
.sp_icon1F632::before { content: "\1F632";}
.sp_icon1F633::before { content: "\1F633";}
.sp_icon1F634::before { content: "\1F634";}
.sp_icon1F635::before { content: "\1F635";}
.sp_icon1F636::before { content: "\1F636";}
.sp_icon1F637::before { content: "\1F637";}
.sp_icon1F638::before { content: "\1F638";}
.sp_icon1F639::before { content: "\1F639";}
.sp_icon1F63A::before { content: "\1F63A";}
.sp_icon1F63B::before { content: "\1F63B";}
.sp_icon1F63C::before { content: "\1F63C";}
.sp_icon1F63D::before { content: "\1F63D";}
.sp_icon1F63E::before { content: "\1F63E";}
.sp_icon1F63F::before { content: "\1F63F";}
.sp_icon1F640::before { content: "\1F640";}
.sp_icon1F641::before { content: "\1F641";}
.sp_icon1F642::before { content: "\1F642";}
.sp_icon1F643::before { content: "\1F643";}
.sp_icon1F644::before { content: "\1F644";}
.sp_icon1F645::before { content: "\1F645";}
.sp_icon1F646::before { content: "\1F646";}
.sp_icon1F647::before { content: "\1F647";}
.sp_icon1F648::before { content: "\1F648";}
.sp_icon1F649::before { content: "\1F649";}
.sp_icon1F64A::before { content: "\1F64A";}
.sp_icon1F64B::before { content: "\1F64B";}
.sp_icon1F64C::before { content: "\1F64C";}
.sp_icon1F64D::before { content: "\1F64D";}
.sp_icon1F64E::before { content: "\1F64E";}
.sp_icon1F64F::before { content: "\1F64F";}
.sp_icon1F680::before { content: "\1F680";}
.sp_icon1F681::before { content: "\1F681";}
.sp_icon1F682::before { content: "\1F682";}
.sp_icon1F683::before { content: "\1F683";}
.sp_icon1F684::before { content: "\1F684";}
.sp_icon1F685::before { content: "\1F685";}
.sp_icon1F686::before { content: "\1F686";}
.sp_icon1F687::before { content: "\1F687";}
.sp_icon1F688::before { content: "\1F688";}
.sp_icon1F689::before { content: "\1F689";}
.sp_icon1F68A::before { content: "\1F68A";}
.sp_icon1F68B::before { content: "\1F68B";}
.sp_icon1F68C::before { content: "\1F68C";}
.sp_icon1F68D::before { content: "\1F68D";}
.sp_icon1F68E::before { content: "\1F68E";}
.sp_icon1F68F::before { content: "\1F68F";}
.sp_icon1F690::before { content: "\1F690";}
.sp_icon1F691::before { content: "\1F691";}
.sp_icon1F692::before { content: "\1F692";}
.sp_icon1F693::before { content: "\1F693";}
.sp_icon1F694::before { content: "\1F694";}
.sp_icon1F695::before { content: "\1F695";}
.sp_icon1F696::before { content: "\1F696";}
.sp_icon1F697::before { content: "\1F697";}
.sp_icon1F698::before { content: "\1F698";}
.sp_icon1F699::before { content: "\1F699";}
.sp_icon1F69A::before { content: "\1F69A";}
.sp_icon1F69B::before { content: "\1F69B";}
.sp_icon1F69C::before { content: "\1F69C";}
.sp_icon1F69D::before { content: "\1F69D";}
.sp_icon1F69E::before { content: "\1F69E";}
.sp_icon1F69F::before { content: "\1F69F";}
.sp_icon1F6A0::before { content: "\1F6A0";}
.sp_icon1F6A1::before { content: "\1F6A1";}
.sp_icon1F6A2::before { content: "\1F6A2";}
.sp_icon1F6A3::before { content: "\1F6A3";}
.sp_icon1F6A4::before { content: "\1F6A4";}
.sp_icon1F6A5::before { content: "\1F6A5";}
.sp_icon1F6A6::before { content: "\1F6A6";}
.sp_icon1F6A7::before { content: "\1F6A7";}
.sp_icon1F6A8::before { content: "\1F6A8";}
.sp_icon1F6A9::before { content: "\1F6A9";}
.sp_icon1F6AA::before { content: "\1F6AA";}
.sp_icon1F6AB::before { content: "\1F6AB";}
.sp_icon1F6AC::before { content: "\1F6AC";}
.sp_icon1F6AD::before { content: "\1F6AD";}
.sp_icon1F6AE::before { content: "\1F6AE";}
.sp_icon1F6AF::before { content: "\1F6AF";}
.sp_icon1F6B0::before { content: "\1F6B0";}
.sp_icon1F6B1::before { content: "\1F6B1";}
.sp_icon1F6B2::before { content: "\1F6B2";}
.sp_icon1F6B3::before { content: "\1F6B3";}
.sp_icon1F6B4::before { content: "\1F6B4";}
.sp_icon1F6B5::before { content: "\1F6B5";}
.sp_icon1F6B6::before { content: "\1F6B6";}
.sp_icon1F6B7::before { content: "\1F6B7";}
.sp_icon1F6B8::before { content: "\1F6B8";}
.sp_icon1F6B9::before { content: "\1F6B9";}
.sp_icon1F6BA::before { content: "\1F6BA";}
.sp_icon1F6BB::before { content: "\1F6BB";}
.sp_icon1F6BC::before { content: "\1F6BC";}
.sp_icon1F6BD::before { content: "\1F6BD";}
.sp_icon1F6BE::before { content: "\1F6BE";}
.sp_icon1F6BF::before { content: "\1F6BF";}
.sp_icon1F6C0::before { content: "\1F6C0";}
.sp_icon1F6C1::before { content: "\1F6C1";}
.sp_icon1F6C2::before { content: "\1F6C2";}
.sp_icon1F6C3::before { content: "\1F6C3";}
.sp_icon1F6C4::before { content: "\1F6C4";}
.sp_icon1F6C5::before { content: "\1F6C5";}
.sp_icon1F6CB::before { content: "\1F6CB";}
.sp_icon1F6CC::before { content: "\1F6CC";}
.sp_icon1F6CD::before { content: "\1F6CD";}
.sp_icon1F6CE::before { content: "\1F6CE";}
.sp_icon1F6CF::before { content: "\1F6CF";}
.sp_icon1F6D0::before { content: "\1F6D0";}
.sp_icon1F6D1::before { content: "\1F6D1";}
.sp_icon1F6D2::before { content: "\1F6D2";}
.sp_icon1F6E0::before { content: "\1F6E0";}
.sp_icon1F6E1::before { content: "\1F6E1";}
.sp_icon1F6E2::before { content: "\1F6E2";}
.sp_icon1F6E3::before { content: "\1F6E3";}
.sp_icon1F6E4::before { content: "\1F6E4";}
.sp_icon1F6E5::before { content: "\1F6E5";}
.sp_icon1F6E9::before { content: "\1F6E9";}
.sp_icon1F6EB::before { content: "\1F6EB";}
.sp_icon1F6EC::before { content: "\1F6EC";}
.sp_icon1F6F0::before { content: "\1F6F0";}
.sp_icon1F6F3::before { content: "\1F6F3";}
.sp_icon1F6F4::before { content: "\1F6F4";}
.sp_icon1F6F5::before { content: "\1F6F5";}
.sp_icon1F6F6::before { content: "\1F6F6";}
.sp_icon1F6F7::before { content: "\1F6F7";}
.sp_icon1F6F8::before { content: "\1F6F8";}
.sp_icon1F6F9::before { content: "\1F6F9";}
.sp_icon1F6FA::before { content: "\1F6FA";}
.sp_icon1F910::before { content: "\1F910";}
.sp_icon1F911::before { content: "\1F911";}
.sp_icon1F912::before { content: "\1F912";}
.sp_icon1F913::before { content: "\1F913";}
.sp_icon1F914::before { content: "\1F914";}
.sp_icon1F915::before { content: "\1F915";}
.sp_icon1F916::before { content: "\1F916";}
.sp_icon1F917::before { content: "\1F917";}
.sp_icon1F918::before { content: "\1F918";}
.sp_icon1F919::before { content: "\1F919";}
.sp_icon1F91A::before { content: "\1F91A";}
.sp_icon1F91B::before { content: "\1F91B";}
.sp_icon1F91C::before { content: "\1F91C";}
.sp_icon1F91D::before { content: "\1F91D";}
.sp_icon1F91E::before { content: "\1F91E";}
.sp_icon1F91F::before { content: "\1F91F";}
.sp_icon1F920::before { content: "\1F920";}
.sp_icon1F921::before { content: "\1F921";}
.sp_icon1F922::before { content: "\1F922";}
.sp_icon1F923::before { content: "\1F923";}
.sp_icon1F924::before { content: "\1F924";}
.sp_icon1F925::before { content: "\1F925";}
.sp_icon1F926::before { content: "\1F926";}
.sp_icon1F927::before { content: "\1F927";}
.sp_icon1F928::before { content: "\1F928";}
.sp_icon1F929::before { content: "\1F929";}
.sp_icon1F92A::before { content: "\1F92A";}
.sp_icon1F92B::before { content: "\1F92B";}
.sp_icon1F92C::before { content: "\1F92C";}
.sp_icon1F92D::before { content: "\1F92D";}
.sp_icon1F92E::before { content: "\1F92E";}
.sp_icon1F92F::before { content: "\1F92F";}
.sp_icon1F930::before { content: "\1F930";}
.sp_icon1F931::before { content: "\1F931";}
.sp_icon1F932::before { content: "\1F932";}
.sp_icon1F933::before { content: "\1F933";}
.sp_icon1F934::before { content: "\1F934";}
.sp_icon1F935::before { content: "\1F935";}
.sp_icon1F936::before { content: "\1F936";}
.sp_icon1F937::before { content: "\1F937";}
.sp_icon1F938::before { content: "\1F938";}
.sp_icon1F939::before { content: "\1F939";}
.sp_icon1F93A::before { content: "\1F93A";}
.sp_icon1F93C::before { content: "\1F93C";}
.sp_icon1F93D::before { content: "\1F93D";}
.sp_icon1F93E::before { content: "\1F93E";}
.sp_icon1F940::before { content: "\1F940";}
.sp_icon1F941::before { content: "\1F941";}
.sp_icon1F942::before { content: "\1F942";}
.sp_icon1F943::before { content: "\1F943";}
.sp_icon1F944::before { content: "\1F944";}
.sp_icon1F945::before { content: "\1F945";}
.sp_icon1F947::before { content: "\1F947";}
.sp_icon1F948::before { content: "\1F948";}
.sp_icon1F949::before { content: "\1F949";}
.sp_icon1F94A::before { content: "\1F94A";}
.sp_icon1F94B::before { content: "\1F94B";}
.sp_icon1F94C::before { content: "\1F94C";}
.sp_icon1F94D::before { content: "\1F94D";}
.sp_icon1F94E::before { content: "\1F94E";}
.sp_icon1F94F::before { content: "\1F94F";}
.sp_icon1F950::before { content: "\1F950";}
.sp_icon1F951::before { content: "\1F951";}
.sp_icon1F952::before { content: "\1F952";}
.sp_icon1F953::before { content: "\1F953";}
.sp_icon1F954::before { content: "\1F954";}
.sp_icon1F955::before { content: "\1F955";}
.sp_icon1F956::before { content: "\1F956";}
.sp_icon1F957::before { content: "\1F957";}
.sp_icon1F958::before { content: "\1F958";}
.sp_icon1F959::before { content: "\1F959";}
.sp_icon1F95A::before { content: "\1F95A";}
.sp_icon1F95B::before { content: "\1F95B";}
.sp_icon1F95C::before { content: "\1F95C";}
.sp_icon1F95D::before { content: "\1F95D";}
.sp_icon1F95E::before { content: "\1F95E";}
.sp_icon1F95F::before { content: "\1F95F";}
.sp_icon1F960::before { content: "\1F960";}
.sp_icon1F961::before { content: "\1F961";}
.sp_icon1F962::before { content: "\1F962";}
.sp_icon1F963::before { content: "\1F963";}
.sp_icon1F964::before { content: "\1F964";}
.sp_icon1F965::before { content: "\1F965";}
.sp_icon1F966::before { content: "\1F966";}
.sp_icon1F967::before { content: "\1F967";}
.sp_icon1F968::before { content: "\1F968";}
.sp_icon1F969::before { content: "\1F969";}
.sp_icon1F96A::before { content: "\1F96A";}
.sp_icon1F96B::before { content: "\1F96B";}
.sp_icon1F980::before { content: "\1F980";}
.sp_icon1F981::before { content: "\1F981";}
.sp_icon1F982::before { content: "\1F982";}
.sp_icon1F983::before { content: "\1F983";}
.sp_icon1F984::before { content: "\1F984";}
.sp_icon1F985::before { content: "\1F985";}
.sp_icon1F986::before { content: "\1F986";}
.sp_icon1F987::before { content: "\1F987";}
.sp_icon1F988::before { content: "\1F988";}
.sp_icon1F989::before { content: "\1F989";}
.sp_icon1F98A::before { content: "\1F98A";}
.sp_icon1F98B::before { content: "\1F98B";}
.sp_icon1F98C::before { content: "\1F98C";}
.sp_icon1F98D::before { content: "\1F98D";}
.sp_icon1F98E::before { content: "\1F98E";}
.sp_icon1F98F::before { content: "\1F98F";}
.sp_icon1F990::before { content: "\1F990";}
.sp_icon1F991::before { content: "\1F991";}
.sp_icon1F992::before { content: "\1F992";}
.sp_icon1F993::before { content: "\1F993";}
.sp_icon1F994::before { content: "\1F994";}
.sp_icon1F995::before { content: "\1F995";}
.sp_icon1F996::before { content: "\1F996";}
.sp_icon1F997::before { content: "\1F997";}
.sp_icon1F9C0::before { content: "\1F9C0";}
.sp_icon1F9D0::before { content: "\1F9D0";}
.sp_icon1F9D1::before { content: "\1F9D1";}
.sp_icon1F9D2::before { content: "\1F9D2";}
.sp_icon1F9D3::before { content: "\1F9D3";}
.sp_icon1F9D4::before { content: "\1F9D4";}
.sp_icon1F9D5::before { content: "\1F9D5";}
.sp_icon1F9D6::before { content: "\1F9D6";}
.sp_icon1F9D7::before { content: "\1F9D7";}
.sp_icon1F9D8::before { content: "\1F9D8";}
.sp_icon1F9D9::before { content: "\1F9D9";}
.sp_icon1F9DA::before { content: "\1F9DA";}
.sp_icon1F9DB::before { content: "\1F9DB";}
.sp_icon1F9DC::before { content: "\1F9DC";}
.sp_icon1F9DD::before { content: "\1F9DD";}
.sp_icon1F9DE::before { content: "\1F9DE";}
.sp_icon1F9DF::before { content: "\1F9DF";}
.sp_icon1F9E0::before { content: "\1F9E0";}
.sp_icon1F9E1::before { content: "\1F9E1";}
.sp_icon1F9E2::before { content: "\1F9E2";}
.sp_icon1F9E3::before { content: "\1F9E3";}
.sp_icon1F9E4::before { content: "\1F9E4";}
.sp_icon1F9E5::before { content: "\1F9E5";}
.sp_icon1F9E6::before { content: "\1F9E6";}
.sp_icon1F600::before { content: "\1F600";}
.sp_icon1F601::before { content: "\1F601";}
.sp_icon1F602::before { content: "\1F602";}
.sp_icon1F603::before { content: "\1F603";}
.sp_icon1F604::before { content: "\1F604";}
.sp_icon1F605::before { content: "\1F605";}
.sp_icon1F606::before { content: "\1F606";}
.sp_icon1F607::before { content: "\1F607";}
.sp_icon1F608::before { content: "\1F608";}
.sp_icon1F609::before { content: "\1F609";}
.sp_icon1F60A::before { content: "\1F60A";}
.sp_icon1F60B::before { content: "\1F60B";}
.sp_icon1F60C::before { content: "\1F60C";}
.sp_icon1F60D::before { content: "\1F60D";}
.sp_icon1F60E::before { content: "\1F60E";}
.sp_icon1F60F::before { content: "\1F60F";}
.sp_icon1F610::before { content: "\1F610";}
.sp_icon1F611::before { content: "\1F611";}
.sp_icon1F612::before { content: "\1F612";}
.sp_icon1F613::before { content: "\1F613";}
.sp_icon1F614::before { content: "\1F614";}
.sp_icon1F615::before { content: "\1F615";}
.sp_icon1F616::before { content: "\1F616";}
.sp_icon1F617::before { content: "\1F617";}
.sp_icon1F618::before { content: "\1F618";}
.sp_icon1F619::before { content: "\1F619";}
.sp_icon1F61A::before { content: "\1F61A";}
.sp_icon1F61B::before { content: "\1F61B";}
.sp_icon1F61C::before { content: "\1F61C";}
.sp_icon1F61D::before { content: "\1F61D";}
.sp_icon1F61E::before { content: "\1F61E";}
.sp_icon1F61F::before { content: "\1F61F";}
.sp_icon1F620::before { content: "\1F620";}
.sp_icon1F621::before { content: "\1F621";}
.sp_icon1F622::before { content: "\1F622";}
.sp_icon1F623::before { content: "\1F623";}
.sp_icon1F624::before { content: "\1F624";}
.sp_icon1F625::before { content: "\1F625";}
.sp_icon1F626::before { content: "\1F626";}
.sp_icon1F627::before { content: "\1F627";}
.sp_icon1F628::before { content: "\1F628";}
.sp_icon1F629::before { content: "\1F629";}
.sp_icon1F62A::before { content: "\1F62A";}
.sp_icon1F62B::before { content: "\1F62B";}
.sp_icon1F62C::before { content: "\1F62C";}
.sp_icon1F62D::before { content: "\1F62D";}
.sp_icon1F62E::before { content: "\1F62E";}
.sp_icon1F62F::before { content: "\1F62F";}
.sp_icon1F630::before { content: "\1F630";}
.sp_icon1F631::before { content: "\1F631";}
.sp_icon1F632::before { content: "\1F632";}
.sp_icon1F633::before { content: "\1F633";}
.sp_icon1F634::before { content: "\1F634";}
.sp_icon1F635::before { content: "\1F635";}
.sp_icon1F636::before { content: "\1F636";}
.sp_icon1F637::before { content: "\1F637";}
.sp_icon1F641::before { content: "\1F641";}
.sp_icon1F642::before { content: "\1F642";}
.sp_icon1F643::before { content: "\1F643";}
.sp_icon1F644::before { content: "\1F644";}
.sp_icon1F910::before { content: "\1F910";}
.sp_icon1F911::before { content: "\1F911";}
.sp_icon1F912::before { content: "\1F912";}
.sp_icon1F913::before { content: "\1F913";}
.sp_icon1F914::before { content: "\1F914";}
.sp_icon1F915::before { content: "\1F915";}
.sp_icon1F920::before { content: "\1F920";}
.sp_icon1F921::before { content: "\1F921";}
.sp_icon1F922::before { content: "\1F922";}
.sp_icon1F923::before { content: "\1F923";}
.sp_icon1F924::before { content: "\1F924";}
.sp_icon1F925::before { content: "\1F925";}
.sp_icon1F927::before { content: "\1F927";}
.sp_icon1F928::before { content: "\1F928";}
.sp_icon1F929::before { content: "\1F929";}
.sp_icon1F92A::before { content: "\1F92A";}
.sp_icon1F92B::before { content: "\1F92B";}
.sp_icon1F92C::before { content: "\1F92C";}
.sp_icon1F92D::before { content: "\1F92D";}
.sp_icon1F92E::before { content: "\1F92E";}
.sp_icon1F92F::before { content: "\1F92F";}
.sp_icon1F9D0::before { content: "\1F9D0";}