.item__chart{
    height: 50vh;
}
/*--------------- style scroll --------------- */
/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ddd;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #054287;
  border-radius: 10px;
  opacity: 0 !important;
}
/*--------------- style scroll END --------------- */
.base-tabs
{
    position: relative;
    display: flex;
    padding: 0px 15px;
}
.base-tabs .base-tab.active {
    color:  #054287;
    font-weight: 500;
}
.base-tabs .base-tab {
    padding: 15px 0 15px 0px;
    margin-right: 25px;
    text-transform: uppercase;
    font-size: 12px;
    color: #888;
    font-weight: 500;
    position: relative;
}
.base-tabs .base-tab.active:before {
    position: absolute;
    bottom: -1px;
    height: 2px;
    left: 0px;
    right: 0px;
    content: "";
    background-color: #054287;
}
.title_modal
{
    padding: 10px ;
    border-bottom: 1px solid #eee;
    margin: 0 !important;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    width: 100%;
}
.title_modal a
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #054287;
}
.overplay_modal
{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0 0 0 / 60%);
    z-index: 6000;
}
.wrap_modal
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    min-height: 200px;
    background: white;
    z-index: 8000;
    border-radius: 8px;
}
.wrap_modal .box__item
{
    padding: 15px;
}
.select2-container {
    z-index: 10000 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}
.title_department
{
    display: inline-block;
    padding-left: 10px;
}
.box__btn
{
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
}
.subitem a 
{
   color: #6c757d !important;
}
.cursor_tr
{
    cursor: pointer;
}

/* test */
.chart-table,.chart-table table
{
    width: 100%;
}

.chart-table tr 
{
    /* display: flex; */
    justify-content: center;

}
.mb-15-t
{
    margin-bottom: 15px;
}
.bd__top
{
    border-top: 1px solid #000 !important;
}
.bd__left 
{
    /* border-left: 1px solid #000 !important; */
}
.bd__left::before
{
    content: '' !important;
    position : absolute !important;
    width: 1px !important;
    height: 100% !important;
    background: #000 !important;
    left: 0 !important;
    z-index: 2200 !important;
    top: 0 !important;
}
.bd__right
{
    border-right: 1px solid #000 !important;
}
.chart-table tr  .box__td
{
    display: flex;
    margin: 0px 10px;
}
.box__content
{
    display: block;
    padding: 8px 10px;
    border: 1px solid #ddd;
    margin: 0 auto;
    position: relative;
    z-index: 2200;
    min-width: 100px;
    text-align: center;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 0px rgba(0 0 0 /54%));
    background: white;
    font-size: 0.85rem;
    line-height: 18px;
}
.line_after::after
{
    content: '';
    position: absolute;
    width: 0.1px;
    height: 31px;
    background: black;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}
.tr_line > td td
{
    padding: 15px;
    /* border: 1px solid #ddd; */
    position: relative;
}
.tr_line_top
{
    position: relative;
}
.tr_line_top > td td
{
    padding: 15px;
}
.chart-table table {
    border-collapse: initial;
    border-spacing: 0;
}
.chart-table td
{
    vertical-align: top;
}
.tr_line td:first-child td:first-child::after
{
    content: '';
    position: absolute;
    background:  #fff;
    width: 100%;
    height: 30px;
    left: 0;
    top: -1px;
    z-index: 2000;
}
.tr_line td:last-child td:last-child::after
{
    content: '';
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0px;
    top: -1.2px;
    height: 27px;
    z-index: 2000;
}
.sub_table .line_bd__right
{
    border-right: 1px solid #000 !important;
}
