
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*
{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif !important;
    background-color: white !important;
}
.btn {
    font-family: 'Roboto', sans-serif !important;
}
.alert_messenger
{
    color: red;
    font-weight: bold;
    margin-top: 8px;
}
.cv_alert
{
    float: right;
    margin-right: 10px;
}
.active_change
{
    font-weight: bold !important;
    color: #313a46 !important;
}
.boxname-recruit {
    display: block;
    overflow: hidden;
    box-shadow: 0 7px 9px rgb(232 232 232 / 50%);
    background: #f8fafb;
    padding: 24px;
    text-align: center;
    font-size: 25px;
}
#show_info ,#show_experience,
.wrap__experience
{
    display: none;
}
.item_recruit
{
    position: relative;
}
.item_recruit:not(:last-child)
{
    margin-bottom: 30px;
}
.icon_recruit
{
    width: 270px;
    max-width: 100%;
    filter: drop-shadow(0px 1px 0px rgba( 0 0 0 / 67%));
}
.enter-info {
    display: block;
    padding:0px 20px;
    margin: 30px auto 90px auto;
    max-width: 600px;
    font-size: 15px;
    border-left: 2px solid #4489e4;
}
.select2-container .select2-selection--single {
    height: 35px !important; 
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important; 
}
.select2-container--default .select2-selection--single {
    border: 1px solid #dee2e6 !important;
}
.show_line {
    display: block;
    overflow: hidden;
    font-size: 15px;
    padding: 0 0 8px;
    color: #cbcbcb;
    border: 0;
    font-weight: 600;
    border-bottom: 1px solid #cbcbcb;
    position: relative;
    background: 0;
    width: 100%;
    text-align: left;
}
.show_line:after {
    content: "";
    width: 6px;
    height: 6px;
    border-right: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: 5px;
}
.check-info > label {
    position: absolute;
    top: -5px;
    left: -36px;
    text-align: center;
    color: #c0c1c3;
    border: 2px solid #4489e4;
    border-radius: 50%;
    background: #fff;
    width: 29px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.it_label
{
    margin-left: 30px;
}
.cursor-pointer
{
    cursor: pointer;
}
.form-info strong {
    display: block;
    overflow: hidden;
    font-size: 15px;
    color: #333;
    padding: 10px 0;
}
.ip_text
{
    padding-left: 10px;
}
#btn_continue{
    padding: 9px;
    width: 150px;
    font-size: 17px;
}
.file_mobile
{
    position: absolute;
    opacity: 0;
    left: 12px;
    cursor: pointer;
    z-index: 1000;
    max-width: 100%;
}
.hidden_img
{
    display: none;
}
#box_img_mobile
{
    width: 73px;
    display: block;
}
.text_choice
{
    margin-left: 10px;
}
.del_red
{
    color: red;
}
.choice_green
{
    color: black;
}
.line_padding
{
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid #d6d6d6;
}
/* chọn cv*/
.content_exp input,
.content_exp textarea
{
    box-shadow: none !important;
}
.form-exp .sendcv {
    display: block;
    overflow: hidden;
    padding: 10px 0 15px;
}
.sendcv .attach {
    display: block;
    overflow: hidden;
    padding: 20px 0;
}
.sendcv .attach span {
    float: left;
    color: #0091ff;
    font-size: 15px;
    font-weight: 600;
    padding: 14px 0;
}
.choosefile {
    float: right;
    position: relative;
    width: 60%;
    border: 1px solid #0091ff;
    border-radius: 22px;
    padding: 5px;
}
.choosefile small {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 13px;
    color: #333;
    text-align: center;
}
.choosefile>a {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    padding: 8px 15px;
    background: #0091ff;
    border-radius: 22px;
    width: 97px;
    text-align: center;
}
.choosefile>span {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 110px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: none !important;
    padding: 0 !important;
}
.check-info_input input {
    display: block;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #f7b500;
    box-shadow: inset 0 1px 3px rgb(185 185 185 / 50%);
    text-indent: 10px;
    height: 45px;
    padding-right: 30px;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 1000;
}
.sendcv .attach .delfile {
    float: right;
    padding: 5px 0;
    width: 62%;
    text-align: center;
    display: none;
}
.sendcv .attach .delfile a {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #e02020;
}
.sendcv .attach .delfile a:nth-child(2) {
    color: #0091ff;
}
.sendcv .either {
    display: block;
    position: relative;
    border-top: 1px solid #cbcbcb;
}
.sendcv .either span {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -12px;
    left: 30px;
    color: #fff;
    background: #0091ff;
    font-size: 13px;
    padding: 2px 5px;
    border-radius: 20px;
}
.sendcv .linksend .inputbox {
    float: right;
    width: 64%;
}
.sendcv .linksend .inputbox input {
    display: block;
    overflow: hidden;
    border: 1px solid #0081ff;
    border-radius: 22px;
    padding: 10px;
    width: 92%;
    box-sizing: border-box;
    height: 46px;
    margin-left: auto;
}
/* nội dung công việc */
.form-exp .alotcomp {
    display: block;
 
}
.applysuccess
{
    padding: 100px;
    text-align: center;
}
.form-exp .box-company {
    display: block;
    background: #fff;
    border: 1px solid #e0e0e0;
    margin: 15px auto 30px;
    padding: 10px;
    position: relative;
}
.form-exp .box-company  .a_close_exp
{
    position: absolute;
    right: -11px;
    top: -10px;
}
.form-exp .box-company  .a_close_exp i
{
    font-size: 24px;
    position: relative;
    z-index: 100;
}
.form-exp .box-company  .a_close_exp i::after
{
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: white;
    left: 0;
    z-index: -1;
    border-radius: 100%;
}
.form-exp .box-company .delcomp {
    display: block;
    overflow: hidden;
}
.form-exp .box-company input {
    display: block;
    overflow: hidden;
    margin: 15px 0;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px rgb(185 185 185 / 50%);
    width: 100%;
    padding: 10px;
}
.form-exp .box-company input {
    display: block;
    overflow: hidden;
    margin: 15px 0;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px rgb(185 185 185 / 50%);
    width: 100%;
    padding: 10px;
}
.form-exp .box-company textarea {
    display: block;
    overflow: hidden;
    width: 100%;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px rgb(185 185 185 / 50%);
    height: 120px;
    padding: 10px;
}
.form-exp .addcomp {
    display: block;
    overflow: hidden;
    color: #0091ff;
    font-size: 15px;
    padding: 10px 0;
    margin-top: -20px;
}
.send-info .send {
    display: block;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    background: linear-gradient(
180deg
,#0091ff 0%,#0177d0 100%);
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* ==========custom radio button========= */
.radio input[type=radio] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: 0!important;
}
.radio label {
    display: inline-block;
    padding-left: 8px;
    position: relative;
    font-weight: 400;
}
.radio label::before {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #4489e4;
    content: "";
    display: inline-block;
    height: 18px;
    left: 0;
    margin-left: -18px;
    position: absolute;
    -webkit-transition: border .5s ease-in-out;
    transition: border .5s ease-in-out;
    width: 18px;
    outline: 0!important;
}
.radio input[type=radio]:checked+label::after {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}
.radio label::after {
    -moz-transition: -moz-transform .1s cubic-bezier(.8,-.33,.2,1.33);
    -ms-transform: scale(0,0);
    -o-transform: scale(0,0);
    -o-transition: -o-transform .1s cubic-bezier(.8,-.33,.2,1.33);
    -webkit-transform: scale(0,0);
    -webkit-transition: -webkit-transform .1s cubic-bezier(.8,-.33,.2,1.33);
    background-color: #4489e4;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 10px;
    left: 6px;
    margin-left: -20px;
    position: absolute;
    top: 4px;
    transform: scale(0,0);
    transition: -webkit-transform .1s cubic-bezier(.8,-.33,.2,1.33);
    transition: transform .1s cubic-bezier(.8,-.33,.2,1.33);
    transition: transform .1s cubic-bezier(.8,-.33,.2,1.33),-webkit-transform .1s cubic-bezier(.8,-.33,.2,1.33);
    width: 10px;
}
/*===========custom checkbox========== */
.container_experience {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default checkbox */
  .container_experience input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom checkbox */
  .checkmark_experience {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
  }
  .container_experience:hover input ~ .checkmark_experience {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container_experience input:checked ~ .checkmark_experience {
    background-color: #2196F3;
  }
  
  /* Create the checkmark_experience/indicator (hidden when not checked) */
  .checkmark_experience:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark_experience when checked */
  .container_experience input:checked ~ .checkmark_experience:after {
    display: block;
  }
  
  /* Style the checkmark_experience/indicator */
  .container_experience .checkmark_experience:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .recruitmentNotify{
      width: 600px;
      max-width: 100%;
      margin: 100px auto 0;
      text-align: center;
      border: 1px solid #ddd;
      padding: 15px;
  }
  .recruitmentNotify .icCheck{
    width: 120px;
    margin-bottom: 20px;
  }
/*================= BÀI KIỂM TRA ===============*/
.add_edit_question .radio label::before {
    top: -5px;
}
.add_edit_question .radio label::after {
    top: -1px;
}
.answer_txt
{
    width: 100%;
    height: 35px !important;
    resize:vertical;
    overflow: auto;
}
.body_maketest
{    
    background-color: rgb(245 245 245) !important;
}
.txt_lb
{
    margin-bottom: 0;
}
.bg_maketest
{
    width: 60%;
    margin: 0 auto;
    padding: 15px 25px;
    margin-top: 20px;
    background: white;
    filter: drop-shadow(0px 2px 2px rgba(0 0 0 /40%));
    border-radius: 4px;
}
.name_test
{
    font-size: 22px;
}
.name_stt
{
    font-size: 18px;
    text-decoration: underline;
}
.name_question
{
    font-size: 17px;
}
.wrap_question
{
    padding: 0px 20px;
}
.t-float-right
{
    margin-left: auto !important;
}
.box__btn_send
{
    padding: 20px 0px;
    text-align: center;
}
.box__btn_send button
{
    width: 100%;
    padding: 10px ;
    font-size: 18px;
}
.overplay
{
    background: rgba(0 0 0 / 60%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.box_answer label
{
    margin-bottom: 0;
}
.box_answer .radio label::before {
    top: -7px;
}
.box_answer .radio label::after {
    top: -3px;
}
.alert-form
{
    display: none;
}
.text_alert
{
    position: fixed;
    background: white;
    font-size: 22px;
    color: black;
    padding: 20px 30px;
    z-index: 1200;
    top: 0;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    border-radius: 5px;
}
.text_alert .fa-times
{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}
.t-radio-check
{
    margin-right: 0;
}
/* duyệt bài kiểm tra */
.bg_maketest_b-e
{
    padding: 20px;
}
.false_choice::after
{
    background-color: #e44444 !important;
   
}
.false_choice::before
{
    border: 2px solid #e44444 !important;
}
/*===============END BÀI KIỂM TRA ===============*/
  @media (max-width: 540px) {
    .res_mr
    {
        margin-bottom: 10px;
    }
    .check-info > label
    {
        display: none;
    }
    .enter-info
    {
        border:none;
    }
  }