@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
body{
	font-family: 'Roboto', sans-serif !important;
  font-size: 14px !important;
  padding: 0 !important;
}
.clear {
  clear: both;
}
.clear.height10 {
  height: 10px;
}
.clear.height20 {
  height: 20px;
}
.clear.height30 {
  height: 30px;
}
.clear.height50 {
  height: 50px;
}
.clear.border1 {
  border-top: 1px solid #dedede;
  margin: 15px 0px;
}
.content .card-box .select2-container .select2-selection--single{
    height: 35px;
    display: flex;
    align-items: center;
} 
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
.pull-right ul.pagination {
    width: 100%;
}
.pull-right ul.pagination a{
    padding: 5px 10px;
    cursor: pointer;
    background: #1078a8;
    margin: 0 5px;
    color: #fff;
}

.clearfix {
  display: block;
}
h5,h4{
    font-family: 'EB Garamond', serif !important;
}
/*custom scroll bar*/
/* width */
.custom_scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}
.custom_scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.custom_scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
}
.custom_scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.hr-xs {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* .navbar-custom
{
    z-index: 2300 !important;
} */
/*custom scroll bar*/
/*fixed width*/
.fixed_w_420
{
    width: 420px;
    max-width: 100%;
    padding: 0px 15px;
    margin-bottom: 20px;
}
/*color*/
.t_color_red
{
    color: red;
}
.t_color_313a46
{
  color:  #313a46; 
}
.t_color_b9b9b9
{
   color:  #b9b9b9;
}
/*border*/
.bd-right
{
    border-right: 1px solid #eee;
}
/*margin*/
.mr-bottom_mn4
{
    margin-bottom: -4px;
}
.mr_lr_fix
{
    margin-left: -20px;
    margin-right: -20px;
}
.mr_bt_0px
{
    margin-bottom: 0px;
}
.mr_bt_6px
{
    margin-bottom: 6px;
}
.mr__bt_t4px
{
    margin-bottom: -4px;
}
/*padding*/
.t_padding_right_50px
{
    padding-right: 50px;
}
.t_padding_left_50px
{
    padding-left: 50px;
}
.t_padding_left_30
{
    padding-left: 30px !important;
}
.t_padding_tb_20
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.t_padding_tb_10
{
    padding-top: 10px;
    padding-bottom: 10px;
}
/*inline*/
.t_inline_block
{
    display: inline-block;
}
/*font*/
.fs-14px
{
    font-size: 14px;
}
.fs-18px
{
    font-size: 18px;
}
.fw-500
{
    font-weight: 500;
}
.fw-bold
{
    font-weight: bold;
}
.t_bg_main
{
    background: #054287;
}
.t_color_096397
{
    color: #096397;
}
.t_color_main
{
    color: #054287;
}
.t_color_green
{
    color: #2aa90a;
}
.t_color_black
{
    color: black;
}
/*background*/
.bg-white
{
    background: white;
}
/*height*/
.height__100vh
{
    height: 100vh;
}
.height__fit_content
{
    height: calc(100vh - 385px);
}
/*width*/
.width_180
{
    width: 180px !important;
}
.width_150
{
    width: 150px;
}
.width_40
{
    width: 40px;
}
.width_3200
{
    width: 3200px !important;
}
.font-11{
    font-size: 11px !important;
}
.clear{
	clear: both;
}
.hr__0{
	margin: 0.5rem 0px !important;
}
.hr-border-weight{
    border-top: 1px solid #ccc;
}
.profile-mail{
    display: block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 3px;
}
/*bnt*/
.btn{
	font-family: 'Roboto', sans-serif !important;
}
.btn-blue {
    color: #fff;
    background-color: #054287;
    border-color: #054287;
}
/*color text*/
.text-blue{
    color: #054287 !important;
}
/*checkbox STYLE*/
.checkbox label::before{
    border: 1px solid #e2e2e2;
}
/*menu*/
.navbar-custom {
    background-color: #FFF;
    border-bottom: 1px solid #f5f5f5;
}
#sidebar-menu>ul>li>a:active, #sidebar-menu>ul>li>a:focus, #sidebar-menu>ul>li>a:hover {
    background-color: #052d5b;
}
.logo-box {
    background-color: #054287;
}
.left-side-menu {
	padding: 0px 0px 20px;
    background: #054287;
}
#sidebar-menu .menu-title {
    font-size: 13px;
    color: #FFF;
}
#sidebar-menu>ul>li>a {
	font-size: 14px;
}
.header-title{
	font-family: 'Roboto', sans-serif !important;
	font-size: 16px !important;
}
.right-bar {
	width: 380px;
	right: -395px;
}
.nav-second-level li a, .nav-thrid-level li a {
    padding: 8px 10px;
}
#sidebar-menu>ul>li>a.active {
    background-color: transparent !important;
}
/*profile*/ 
.info_name
{
    font-size: 14px;
    font-weight: 600;
}
.tabmenu_scroll
{
    height: 520px;
    overflow-y: auto;
    overflow-x: hidden;
}
.box-qrcode-profile img{
    border: 1px solid #dee2e6;
}
.profile__item__menu{
    max-height: 60px;
}
.profile__item__menu .t_inline_block{
    width: 78%;
}
.profile__item__menu .width_40{
    width: 20%;
    float: left;
    margin-top: 5px;
}
.profile__item__menu .des{
    font-size: 10px;
}
.profile__item__menu .width_40 i{
    font-size: 25px;
}
/* width */
.tabmenu_scroll::-webkit-scrollbar {
    width: 6px;
    height: 5px;
  }
.tabmenu_scroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.tabmenu_scroll::-webkit-scrollbar-thumb {
    background: #888; 
}
.tabmenu_scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.profile_tab a
{
    color: black;
    font-weight: 500px;
    font-size: 14px;
    position: relative;
}
.profile_tab i 
{
    color: gray;
}
.profile_tab .active,
.profile_tab   .active i
{
    color: #054287;
}
.profile_tab .active::after
{
    content: '';
    position: absolute;
    height: 100%;
    width: 4px;
    background: #054287;
    right: -12px;
    top: 0;
}
.tabs_scroll
{
    overflow-x: auto;
}
.fixed__width_tabs
{
    width: 1178px;
}
.profile-bg-picture.ht-profile {
    min-height: 150px;
}
.tab-content {
    padding: 0px 0 0 0 !important;
}
.content-page .content{
	padding: 0px 0px 60px;
}
/*sweetalert*/
.swal2-popup {
    width: 25em !important;
    padding: 1em !important;
}
.swal2-container .swal2-title {
    font-size: 1.1rem !important;
    font-weight: 400!important;
}
.swal2-styled.swal2-confirm,.swal2-styled.swal2-cancel {
	font-size: 0.9rem !important;
	font-weight: 400 !important;
}
.swal2-actions {
    margin: 0.5em auto 0 !important;
}

.box_center{
	padding: 0px 15px;
	margin: auto;
	height: 100%;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	margin-right: 10px;
}
.tools_index .dropdown-menu{
	transform: translate3d(0px, 0px, 0px) !important;
	position: fixed !important;
	right: 0px !important;
	width: 250px;
}
.sel_tools{
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 3px 5px;
}
/*input file*/
.upload_card {
    border: 1px dashed #eaeaea;
    border-radius: 14px;
    height: 100%;
    width: 65%;
    position: relative;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.id-front{
	width: 100%;
}
.upload_card img {
    opacity: 1;
    max-width: 200px;
    max-height: 200px;
}
.id-front img{
	max-height: 150px;
}
.upload_card_footer {
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #eee;
    
}
.upload_btn {
    border: 1px solid #eaeaea;
    padding: 8px 40px;
    margin-top: 10px;
    border-radius: 7px;
    font-weight: 500;
    background: #eee;
    color: #00487b;
    position: relative;
    display: table;
    margin: auto;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.upload_btn .custom-file-input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
/*input file END*/

/*box load data to ajax*/
#loadNotifyAjax .box{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 99999;
    background: rgba(0,0,0,0.5);
}
#loadNotifyAjax .box_body{
    width: 450px;
    max-width: 95%;
    background-color: #FFF;
    margin: 10% auto;
    border: 1px solid #ddd;
    padding: 20px;
}
/*flex justify*/
.t_justify_sb
{
    justify-content: space-between;
}
.t_justify_end
{
    justify-content: flex-end;
}
/*box load data to ajax END*/
.staff_item:not(:last-child)
{
    margin-bottom: 6px;
}
.border_right_1px_eee
{
    border-right: 1px solid #eee;
}
.border_left_1px_eee
{
    border-left: 1px solid #eee;
}
/*export*/
.t-relative
{
    position: relative;
}
.fixed_height_210
{
    height: 210px;
}
.fixed__height_168
{
    height: 160px;
    overflow: hidden;
    /* transform: translateY(14px); */
}
.t_flex_derection_col
{
    flex-direction: column;
}
.id_normal
{
    transform: rotate(-90deg);
    margin-top: -5px;
}
.box__card
{
    height: 650px;
    background: white;
    filter: drop-shadow(1px 2px 3px rgba(0 0 0 / 15%));
    position: relative;
}
.box__card .card__top
{
    background: #891818;
    color: white;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box__card .card__top .shop_name
{
    color: white;
    font-family: 'opensans';
    font-size: 44px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.box__card .card__top .shop_desc
{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 19px;
    letter-spacing: 3px;
}

.card__middle .left__box img
{
   width: 34px;
}
.card__middle .left__box .staff_id
{
    text-align: center;
    font-weight: 500;
    color: black;
    padding: 6px 1px;
}
.card__middle .left__box .staff_id .txtId
{
    display: inline-block;
    margin-right: 6px;
}
.card__middle .right__box
{
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.after_card .left__box > .fa-phone
{
    transform: rotate(89deg);
}
.after_card  .staff__title
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 95px;

}
.after_card .left__box > i
{
    font-size: 25px;
    color: #891818;
}
.right__box .staff_name
{
    font-size: 22px;
    margin: 0;
}
.right__box .staff_position
{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat';
    color: black;
}

.staff__title
{
    color: white;
    font-family: 'Montserrat';
    font-size: 40px;
}
.card__middle .position__title
{
    text-transform: uppercase;
    position: relative;
    color: #891818;
    text-align: center;
    padding: 11px;
    font-size: 21px;
    font-weight: 600;
}
.card__middle .position__title::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 1px ;
    background: #891818;
  
}
.main_id_staff
{
    transform: rotate(-90deg);
    margin-bottom: -13px;
}
.card__middle .position__title::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width:  40%;
    height: 1px ;
    background: #891818;

}
.card__middle .position_qrcode img
{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}   
.above_avatar
{
    /* transform: translateY(20px); */
    max-width: 250px;
    /* margin-top: 40px; */
}
.left__box_card
{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.after_card
{
    height: 650px;
}
.card__footer
{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__footer,.card_above
{
    
    text-align: center;
    background: #891818;
    width: 100%;
}
.card_above
{
    height: 20px;
    /* position: absolute;
    bottom: 0; */
}
.card__footer img
{
    height: 48px;
    width: 48px;
}
.card__footer h2
{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.card__middle
{
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 10px 15px;
    position: relative;
}
.box__avatar_main
{
    max-width: 250px;
}
.box__avatar_main img
{
    width: 100%;
    max-height: 250px;
    object-fit: contain;
}
.card__middle_left
{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 450px;
}
.first_card .staff_name
{
    font-size: 26px;
    color: black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    line-height: 44px;
    padding: 0px 8px;
}
.first_card .staff_position
{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
}
.card__middle .staff__position
{
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat';
}
.qrcode
{
    width: 100%;
    margin-top: -40px;
    position: relative;
}
.qrcode::after
{
    content: '';
    position: absolute;
    width: 70%;
    right: 4px;
    height: 4px;
    bottom: 0;
    transform: translateY(5px);
    background: #891818;
}
.qrcode img
{
    display: block;
    margin-left: auto;
    
}
.after_card .shop_id_card
{
    font-weight: bold;
    font-size: 17px;
    color: black;
}
.after_card .shop_desc_card
{
    line-height: 1.7;
    text-align: right;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
}
.after_card  .id_vertical
{
    width: 15px;
    display: inline-block;
    word-break: break-all;
    text-align: center;
    font-size: 15px;
}
.after_card  .right__box .ngthan
{
    display: inline-block;
    margin-right: 10px;
}
.after_card .box__lineheight
{
    width: 100%;
    padding: 0px 20px;
}
.after_card .shop__desc_top
{
    font-size: 8.35px;
    width: 100%;
    text-align: left;
    transform: translateY(10px);
    font-family: 'Montserrat';
}
.after_card .shop__desc_top p
{
    margin-bottom: 0;
}
.content_absolute
{
    position: absolute;
    bottom: 12px;
}
.box___item >.row:not(:last-child)
{
    /* margin-bottom: 20px; */
}
.after_card .right__box {
    height: 50px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    justify-content: center;
    color: black;
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    word-break: break-word;
}
.after_card .left__box
{
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100%;
}
.after_card .t-col-4
{
    width: 40%;
    display: block;
}
.after_card .t-col-8
{
    width: 80%;
    display: block;
}
.after_card .staff_logo_shop
{
    padding: 0px 0px 46px 0px;
}
.after_card .staff_logo_shop  .left__box
{ 
    padding: 34px 18px;
    color: white;
    background: #891818;
   
}
.after_card .staff_logo_shop .icon__home
{

}
.after_card .staff_logo_shop .icon__phone
{
    
}
.after_card .staff_logo_shop .icon__mail
{
    
}
.after_card .staff_logo_shop .icon__user
{
    
}
.after_card .staff_logo_shop  .right__box
{
    text-align: center;
    margin-left: 40px;
}
.after_card .staff_logo_shop .shop_name
{
    font-size: 20px;
    color: #891818;
    font-weight: bold;
    font-family: auto;
}
.after_card .staff_logo_shop .shop_desc
{
    color: #891818;
    font-size: 12px;
    font-family: auto;
    
}
.after_card .staff_support
{
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin-bottom: 8px;
}
.after_card  .staff_contact
{
    margin-bottom: 12px;
}
.after_card  .staff_contact span:nth-child(1)
{
    font-weight: bold;
}
.after_card  .staff_contact span
{
    font-size: 16px;
    color: black;
    margin-right: 16px;
}
.after_card  .box___item
{
    /* overflow: hidden; */
}
.after_card  .box___item > .row
{
    margin-bottom: 0px;
}
/* Document */
.td_img
{
    width: 100px;
    margin: 0 10px;
    cursor: pointer;
}
.td_img img 
{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.afile
{
    margin: 0 10px;
    display: inline-block;
}
#listemployee .img-thumbnail
{
    height: 40px !important;
    width: 40px !important;
    object-fit: cover;
}
/*Listemployee*/
.width_fixed_320
{
    width: 320px;
}
/* width */
.table-wrap::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }
  
/* Track */
.table-wrap::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
.table-wrap::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
.table-wrap::-webkit-scrollbar-thumb:hover {
background: #555; 
}
.table-scroll {
	position:relative;
	max-width:1570px;
	margin:auto;
	overflow:hidden;
	border-right:1px solid  rgb(180, 180, 180);
}
.table-wrap {
	width:100%;
	overflow:auto;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
}
.table-scroll td a
{
    display: inline-block;
}
.table-scroll th, .table-scroll td {
	padding:5px 10px;
	border:1px solid rgb(180, 180, 180);
	/* white-space:nowrap; */
	vertical-align:top;
}
.table-scroll thead, .table-scroll tfoot {
	background:#f9f9f9;
}
.clone {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}
.clone th, .clone td {
	visibility:hidden
}
.clone td, .clone th {
	border-color:transparent
}
.clone tbody th {
	visibility:visible;
}
.clone .fixed-side {
	border:1px solid rgb(180, 180, 180);
	background:#eee;
	visibility:visible;
}

.m-radio label::after {
    background-color: #2aa90a;
    content: " ";
    height: 17px;
    left: 16px;
    top: 0px;
    width: 17px;
}
.m-radio label::before {
    border: 1px solid  #2aa90a;
    left: 14px;
    
}
#listemployee .box__search
{
    position: relative;
}
#listemployee .box__search .ic_search_inside
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.btn_search_employee
{
    width: 110px;
}
#listemployee .box__search .btn_add:hover
{
    color: white !important;
}
#listemployee .round_status
{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}
.text_status_1
{
    color: #2aa90a;
    font-weight: bold;
}
.text_status_2
{
    color:  #0a84a9;
    font-weight: bold;
}
.text_status_3
{
    color: #F00;
    font-weight: bold;
}
.text_status_4
{
    color: #ccc;
    font-weight: bold;
}
#listemployee .round_status.bg_status_1,
#boxAvatar .round_status.bg_status_1
{
    border: 1px solid #ddd;
    background: #ddd;
}
#listemployee .round_status.round_status_color_1,
#boxAvatar   .round_status.round_status_color_1
{
    border: 1px solid #2aa90a;
    background: #2aa90a;
}
#listemployee .round_status.round_status_color_2,
#boxAvatar   .round_status.round_status_color_2
{
    border: 1px solid #0a84a9;
    background: #0a84a9;
}
#listemployee .round_status.round_status_color_3,
#boxAvatar   .round_status.round_status_color_3
{
    border: 1px solid #F00;
    background: #F00;
}
#listemployee .round_status.round_status_color_4,
#boxAvatar   .round_status.round_status_color_4
{


    border: 1px solid #ccc;
    background: #ccc;
}
#listemployee td
{
    vertical-align: middle;
}
#listemployee .page-item.active .page-link
{
    background: #054287;
    border: 1px solid #054287;
}
.remove_parent
{
    position: relative;
}
.x__item_close
{
    font-size: 22px;
    position: absolute;
    right: -5px;
    top: -11px;
    color: gray;
    z-index: 200;
    display: inline-flex;
}
/*================MENU======================*/
.enlarged .left-side-menu {
    position: fixed !important;
    height: 100vh;
}
.enlarged .left-side-menu .slimScrollDiv, .enlarged .left-side-menu .slimscroll-menu {
    overflow: hidden !important;
    height: 90vh !important;
}
/* ==============stattus account============= */
.box__avatar{
    position: relative;
    display: table;
    margin: auto;
}
.box__avatar .box__status{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    background-color: #FFF;
    color: #17B23A;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}
.box__avatar .box__status i{
    background-color: #FFF;
    border-radius: 100%;
}
/* ==============stattus account END============= */
/* ==============paging============= */
.page-item.active .page-link {
    background: #054287;
    border-color: #054287;
}
/* ==============paging END============= */
.table th {
    padding: 0.4rem .85rem 0.4rem !important;
}
.table td {
    padding: 0.2rem .85rem 0.2rem !important;
    vertical-align: middle !important;
}
.navbar-custom .button-menu-mobile,.navbar-custom .topnav-menu .nav-link {
    color: rgba(0,0,0,.8);
}
.page-title-box .page-title {
    text-transform: uppercase;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 0.6em !important;
}

/* ==============checkbox============= */
.checkbox-blue input[type=checkbox]:checked+label::before {
    background-color: #054287;
    border-color: #054287;
}
/* ==============checkbox END============= */
.histoeywork .x__item_close
{
    top: 2px;
}
.histoeywork_org .x__item_close
{
    top: -25px;
}
.bl_relative .x__item_close
{
    top: -10px;
}
/* ==============ajax============= */
#loadAjaxPage .container-ajax{
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
}
#loadAjaxPage .container-ajax .box-body-ajax{
    width: 600px;
    background-color: #FFF;
    height: 300px;
    margin: 50px auto;
    border: 1px solid #f5f5f5;
}
/* ==============ajax END============= */

/* ============== btn style ============= */
.btn-close{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    font-size: 18px;
}
/* ============== PROFILE ================ */
.item_relatives
{
    position: relative;
}
.icon_edit
{
    position: absolute;
    right: 10px;
    font-size: 15px;
    z-index: 200;
    transition: 0.3s;
    color: #dedede;
}
.item_relatives:hover  .icon_edit
{
    cursor: pointer;
    color: #7d7d7d;
}
.info_img
{
    width: 180px;
}
.info_img img
{
    width: 100%;
}
.info_img img:hover
{
    cursor: pointer;
}
.fullImage
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
}
.fullImage .x__close
{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 40px;
    color: white;
    z-index: 2200;
}
#main_fullscreen
{
    width: 50%;
}
.fullImage .fa-times
{
    z-index: 3000;
}
.fullImage .x__close:hover
{
    cursor: pointer;
}
.contain_img
{
    text-align: center;
    position: absolute;
    z-index: 2300;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.fullImage .overplay
{
    background: rgba(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.fullImage  .list_img
{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 3000;
}
.fullImage .item__img
{
    width: 200px;
}
.fullImage .item__img img:hover
{
    cursor: pointer;
}
.fullImage .item__img 
{
    margin-right: 20px;
    position: relative;
    z-index: 3000;
    width: 140px;
}
/* TIME SHEET */
.timesheet .line-weight
{
    height: 5px;
    background: #e6e6e6;
}
.alert_time
{
    color: red;
    font-weight: bold;
}

/*fullcalendar*/
.alert_time
{
    color: red;
    font-weight: bold;
}
.timesheet .fc-event-title-container
{
    /* text-align: left; */
}
.timesheet  .fc-event-title
{
    /* color: rgb(11, 148, 11) !important;
    font-size: 15px; */
}
.timesheet  .fc-daygrid-event
{
    /* background-color: white !important;
    border: none !important; */
}
.timesheet  .cr_title
{
    font-size: 25px;
    font-weight: 500;
}
.right-cr
{
    justify-content: flex-end;
}
.timesheet  .right-cr .item
{
    align-items: center;
}
.timesheet  .right-cr .item::after
{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px ;
    height: 10px;
    background:  #ddd;
}
.timesheet  .right-cr .item:hover a
{
    color: #1078a8;
    cursor: pointer;
}
.timesheet  .right-cr .item:hover
{
    color: #1078a8;
}
.timesheet .sp-icon-ar
{
    margin-right: 10px;
}
.timesheet  .triangle-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 11px solid #555;
}
.timesheet  .fa-sort-down
{
    font-size: 25px;
    transform: translateY(-7px);
}
.timesheet .ch_item_des
{
    font-size: 15px;
    font-weight: 500;
}
.timesheet .timehseet_preview .title_preview
{
    color: rgb(11, 148, 11);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.timesheet .timehseet_preview .item_preview:not(:last-child)
{
     border-bottom: 1px solid #ddd;
}
.timesheet .timehseet_preview .item_preview
{
    justify-content: space-between;
    padding: 6px 10px;
    align-items: center;
   
}
.timesheet .timehseet_preview .box_item_preview
{
    border: 1px solid #ddd;
    border-radius: 4px;
}
.timesheet .timehseet_preview .item_preview .child_date
{
    font-weight: bold;
}
.timesheet .timehseet_preview .item_preview .child_time
{
    font-weight: bold;
}
.timesheet .timehseet_preview .item_preview .child_time .sp_bg
{
    display: inline-block;
    background: #27b327;
    color: white;
    padding: 2px 0px;
    border-radius: 5px;
    width: 70px;
    text-align: center;
}
.timesheet  .pto_activity
{
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}
.timesheet  .pto_activity:hover
{
    color: #096397;
}
.list__tab th
{
    color: #2aa90a;
}
.list__tab  .box__number
{
    display: inline-block;
    padding: 6px 0px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 55px;
    text-align: center;
}
.list__tab  .box_function
{
    display: flex;
    justify-content: center;
}
.list__tab  .box_function .item_function
{
    padding: 5px 10px;
    border: 1px solid #ddd;
    cursor: pointer;

}
.list__tab  .box_function .item_function:hover
{
    background: white;
}
.list__tab  .box_function .item_function i
{
    font-size: 18px;
    transform: translateY(2px);
}
.list__tab   .office_name
{
    font-size: 18px;
    font-weight: bold;
}
/*============== EXPORT =================*/
#export_pdf 
{
    min-height: 800px;
}
#export_pdf .hr-border:not(:last-child)
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #f3f3f3;
}
/*============= ROLE ==================*/
#form_add_multiple  .overplay_role
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0 0 0 / 60%);
}
#form_add_multiple .role_add
{
    width: 50%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    z-index: 1100;
}
#form_add_multiple .role_add .role_scroll
{
    overflow: auto;
    padding: 20px;
    height: 95vh;
}
.role_scroll::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
.role_scroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
.role_scroll::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
.role_scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
#form_add_multiple .role_add .fa-times
{
    font-size: 27px;
}
#form_add_multiple .title_database
{
    display: inline-block;
    background: white;
    width: 108px;
    transform: translateY(17px);
}
#form_add_multiple  .box__check__role
{
    border: 1px solid #f4f4f4;
    padding:0px 30px;
}
#form_add_multiple .module_item
{
    padding: 30px 0px 15px 0px;
}
#form_add_multiple .module_item:not(:last-child)
{
    border-bottom: 1px solid #f4f4f4;
}
/*============= Employee================*/
.select_row
{
    width: 60px;
}
.box__404{
    width: 100%;
    background-color: #FFF;
    text-align: center;
    padding: 100px 0px;
}
/* ==============responsive============= */
@media (max-width: 812px)
{
    .profile__info .t_padding_left_50px,
    .profile__info .t_padding_right_50px
    {
        padding: 0px 15px;
    }
    .profile__info .fc-toolbar-title
    {
        font-size: 20px !important;
    }
    .current_timeSheet > .row 
    {
        flex-direction: column;
    }
    .current_timeSheet .right-cr
    {
        justify-content: right;
    }
}
@media (max-width: 760px) {
    .first_card .left__box
    {
        text-align: center;
    }
    .first_card .right__box {
        height: 55px;
    }
    .first_card .card__middle
    {
        text-align: center;
    }
    #export_pdf .fixed_height_210, 
    #export_pdf .fixed__height_203,
    .after_card .box___item
    {
        height: auto;
    }
    .after_card .box___item
    {
        margin-bottom: 10px;
    }
}
@media (max-width: 540px)
{
    .profile__info .t_padding_left_50px,
    .profile__info .t_padding_right_50px
    {
        padding: 0px ;
    }
    .profile__info .right-col
    {
        padding-top: 0;
        border-top: 1px solid #eee;
    }
    .timesheet .cr_title {
        font-size: 20px;
        font-weight: 500;
    }
    .timesheet .timehseet_preview .item_preview .child_time .sp_bg {
        width: 140px;
    }
}