/*======================== Banner ==========================*/
.banner {
    background: #0d0d0d;
    color: white;
    height: 100vh;
    border-bottom-right-radius: 275px;
    position: relative;
    filter: drop-shadow(1px 1px 2px black);
}

.banner .wrap_banner {
    padding-top: 120px;
    text-align: center;
    position: relative;
}

.banner h2 {
    font-size: 44px;
    line-height: 60px;
}

.banner .desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: #7c7c7c;
    padding: 15px 0px 35px 0px;
}

.banner .start_trading {
    padding: 20px 50px;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    border-radius: 15px;
}

.banner .banner_trading {
    bottom: -99px;
    width: 65%;
    display: inherit;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.banner .shadow_suff {
    position: absolute;
    width: auto;
    opacity: .08;
    left: -90px;
    top: 150px;
    height: 80%;
}

/* ================optimize trading============= */

.optimize_trading {
    padding-top: 140px;
}

.optimize_trading h2 {
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}


.optimize_trading .wrap_optimize {
    height: 100%;
    min-height: 321px;
    background: #f3f3f3;
    -webkit-box-shadow: 0 5px 12px rgba(26, 32, 38, .04);
    box-shadow: 0 5px 12px rgba(26, 32, 38, .04);
    border-radius: 8px;
    padding: 25px;
}

.optimize_trading .bg_outer_optimize {
    width: 73px;
    height: 73px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.optimize_trading .bg_outer_optimize .bg_inside_optimize {
    width: 62px;
    height: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.optimize_trading .bg_outer_optimize .bg_inside_optimize img {
    width: 42px;
}

.optimize_trading .item_optimize .bg_outer_optimize .bg_inside_optimize::after {
    content: '';
    position: absolute;
    width: 73px;
    height: 73px;
    border-radius: 100%;
    left: 0;
}

/* child1 */
.optimize_trading .item_optimize:nth-child(1) .bg_outer_optimize .bg_inside_optimize {
    background: #24aaf5;
}

.optimize_trading .item_optimize:nth-child(1) .bg_outer_optimize .bg_inside_optimize::after {
    content: '';
    background: rgba(100, 195, 248, .3);
}


/* child2 */
.optimize_trading .item_optimize:nth-child(2) .bg_outer_optimize .bg_inside_optimize {
    background: #f56f24;
}

.optimize_trading .item_optimize:nth-child(2) .bg_outer_optimize .bg_inside_optimize::after {
    content: '';
    background: rgba(247, 132, 67, .3);
}

/* child3 */
.optimize_trading .item_optimize:nth-child(3) .bg_outer_optimize .bg_inside_optimize {
    background: #6724f5;
}

.optimize_trading .item_optimize:nth-child(3) .bg_outer_optimize .bg_inside_optimize::after {
    content: '';
    background: rgba(114, 67, 247, .3);
}

/* child4 */
.optimize_trading .item_optimize:nth-child(4) .bg_outer_optimize .bg_inside_optimize {
    background: #29c279;
}

.optimize_trading .item_optimize:nth-child(4) .bg_outer_optimize .bg_inside_optimize::after {
    content: '';
    background: rgba(100, 248, 204, .4);
}

.optimize_trading .title_optimize {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    margin-bottom: 16px;
}

.optimize_trading .desc_optimize {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000;
}


/* ==============end optimize trading============= */
/* ==================profit_trading ==============*/

.profit_trading {
    background: #000;
    margin-top: 50px;
    position: relative;
    background-color: #0d0d0d;
    border-top-left-radius: 250px;
    padding: 90px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    filter: drop-shadow(-6px 0px 2px black);
}

.profit_trading .profit_blur2 {
    opacity: .08;
    height: 100%;
    right: 0;
    top: 40px;
    -webkit-transform: translateX(50%) rotate(170deg);
    transform: translateX(50%) rotate(170deg);
}

.profit_trading .profit_blur1 {
    position: absolute;
    width: auto;
    opacity: .06;
    left: -43px;
    height: 100%;
    -webkit-transform: translateX(-10%);
    transform: translateX(-60%);
}


.profit_trading .left_content h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
}

.profit_trading .left_content .left_desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #7c7c7c;
    padding: 15px 0px 40px 0px;
}

.profit_trading .left_content .start_trading {
    padding: 20px 60px;
    color: #000;
    font-weight: 700!important;
    font-size: 20px;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    border-radius: 12px;
    margin-right: auto;
    background: #fedd3c!important;
}

/* ==================profit_trading ==============*/
/* =================support_trading============= */

.support_trading {
    padding: 140px 0px;
}

.support_trading .left_support .bg_line {
    position: relative;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.support_trading .right_support h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 60px;
}

.support_trading .right_support .desc_support {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 80%;
    margin-bottom: 40px;
    margin-top: 10px;
}

.support_trading .right_support .start_trading {
    padding: 20px 65px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    cursor: pointer;
}


/* =================support_trading============= */

@media screen and (max-width: 1024px) {
    .banner h2 {
        font-size: 40px;
        line-height: 60px;
    }
    .banner .desc {
        font-size: 16px;
    }
    .banner {
        height: 733px;
    }
    .banner .banner_trading {
        bottom: -99px;
        width: 85%;
    }
    .resp_rows
    {
        justify-content: center;
    }
    .optimize_trading .item_optimize {
        margin-bottom: 20px;
    }
    .profit_trading .left_content h2 {
        font-size: 40px;
    }
    .profit_trading  .right_content img
    {
        width: 100%;
    }
    .profit_trading .left_content .left_desc {
        font-size: 19px;
    }
    .support_trading {
        padding: 70px 0px;
    }
    .support_trading .right_support h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .support_trading .right_support .desc_support {
        font-size: 16px;
        width: 85%;
    }
    .bottom__768sc_40px
    {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 812px) {
    .banner {
        height: 625px;
    }
    .banner h2 {
        font-size: 30px;
        line-height: 60px;
    }
    .banner .desc {
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
        color: #7c7c7c;
        padding: 0px 0px 35px 0px;
    }
    .optimize_trading h2 {
        font-size: 32px;
    }
    .profit_trading {
        border-top-left-radius: 150px;
    }
    .profit_trading .left_content .start_trading {
        padding: 18px 40px;
        font-size: 20px;
    }
    .support_trading .right_support 
    {
        text-align: center;
    }
    .support_trading {
        padding: 50px 0px;
    }
    .support_trading .right_support .desc_support {
        width: 100%;
    }
    .support_trading .pl-0
    {
        padding-left: 15px !important;
    }
    .footer_top .customer_talkabout_trading .icon_question {
        position: absolute;
        top: -36px;
        filter: drop-shadow(0px 0px 2px black);
    }
}
@media screen and (max-width: 540px) {
    header .wrap_header {
        padding: 0px;
    }
    header .wrap_header .right_register_login .sp_register {
        margin-right: 6px;
    }
    header .wrap_header .right_register_login span {
        padding: 8px 16px;
        font-size: 12px;
    }
    .same_form {
        width: 100%;
    }
    .banner {
        height: 580px;
        border-bottom-right-radius: 140px;
        filter: drop-shadow(0px 0px 3px black);
    }
    .banner h2,.banner .desc  {
        line-height: 30px;
    }
    
    .banner h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .banner .wrap_banner {
        padding-top: 92px;
    }
    .banner .desc {
        font-size: 13px;
    }
    .banner .start_trading {
        padding: 15px 20px;
        border-radius: 8px;
        font-size: 15px;
    }
    .banner .banner_trading {
        bottom: 0;
        width: 85%;
    }
    .optimize_trading {
        padding-top: 60px;
    }
    .optimize_trading h2 {
        font-size: 18px;
    }
    .optimize_trading .title_optimize h3
    {
        text-align: center;
        font-size: 18px;
    }
    .optimize_trading .bg_outer_optimize {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
    }
    .optimize_trading .wrap_optimize {
        height: auto;
        min-height: auto;
    }
    .profit_trading {
        border-bottom-right-radius: 50px;
    }
    .profit_trading {
        border-top-left-radius: 50px;
        padding: 24px 0;
        filter: drop-shadow(0px -1px 3px black);
    }
    .profit_trading .left_content h2 {
        font-size: 24px;
    }
    .profit_trading .left_content .left_desc {
        font-size: 15px;
        padding-top: 0px;
        line-height: 30px;
    }
    .res_bottom_40px
    {
        margin-bottom: 40px;
    }
    .profit_trading .left_content .start_trading {
        padding: 16px 25px;
        font-size: 18px;
    }

    .support_trading .left_support .bg_line {
        height: 120px;
        background-size: cover;
    }
    .support_trading .right_support h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .support_trading .right_support .desc_support {
        font-size: 15px;
    }
    .support_trading .right_support .start_trading {
        padding: 15px 24px;
        font-size: 15px;
        line-height: 24px;
        filter: drop-shadow(0px 0px 2px black);
    }
}
@media screen and (max-width: 414px) {
    .banner {
        height: 500px;
    }
}
@media screen and (max-width: 375px) {
    header .wrap_header .left_logo img {
        width: 85px;
    }
    header .wrap_header .right_register_login span {
        font-size: 11px;
    }
    .banner {
        height: 444px;
    }
    .banner h2 {
        font-size: 16px;
    }
    .banner .desc {
        line-height: 24px;
    }
    .banner h2 {
        line-height: 36px;
    }
}