@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/*----------------------------USE SAME------------------------*/
/*-------------------------END USE SAME------------------------*/
/*---------------------------- General ------------------------*/

.same_bg_btn {
    background: #fedd3c;
}

.support_bg {
    background: #1f1e1e;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.t-justify-content-flexend {
    justify-content: flex-end;
}

.t-justify-content-space-between {
    justify-content: space-between;
}

ul {
    margin-bottom: 0px !important;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

*:focus {
    outline: 0 !important;
}

.mr-top-90px {
    margin-top: 90px;
}

.mr-top-60px {
    margin-top: 60px;
}

.mr-top-50px {
    margin-top: 50px;
}

.mr-top-30px {
    margin-top: 30px;
}

.mr-top-20px {
    margin-top: 20px;
}

.mr-bottom-30px {
    margin-bottom: 30px;
}

.mr-bottom-20px {
    margin-bottom: 20px;
}

.mr-tb-80px {
    margin: 80px 0px;
}

.margin_lr_0px {
    margin-left: 0px !important;
    ;
    margin-right: 0px !important;
    ;
}


/*-----padding-----*/

.pl-0 {
    padding-left: 0 !important;
}

.padding_tb_40px {
    padding: 40px 0px;
}

.padding_tb_20px {
    padding: 20px 0px;
}

.padding_bottom_20px {
    padding: 20px 0px;
}

/*---end padding----*/

.clear {
    clear: both;
}

.clear.height10 {
    height: 10px;
}

.clear.height20 {
    height: 20px;
}

.clear.height30 {
    height: 30px;
}

.clear.height50 {
    height: 50px;
}

.clear.border1 {
    border-top: 1px solid #dedede;
    margin: 15px 0px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

.clearfix {
    display: block;
}

a:hover {
    text-decoration: none !important;
}

a:focus {
    outline: none !important;
}

a:link {
    text-decoration: none;
}

html,
body {
    margin: 0px;
    padding: 0px !important;
    font-family: Public Sans, sans-serif!important;
    font-size: 14px !important;
    font-weight: 400 !important;
    overflow-x: hidden;
}

button {
    text-decoration: none;
    outline: 0;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.row_space_around {
    justify-content: space-around;
}

/*======================== header ========================*/

.bar_mobile {
    display: none;
}

header {
    background: black;
    padding: 14px 0px;
    position: fixed;
    width: 100%;
    z-index: 2000;
    top: 0px;
}

header .wrap_header {
    display: flex;
    padding: 0px 20px;
}

header .wrap_header .left_logo {
    display: flex;
    align-items: center;
}

header .wrap_header .left_logo img {
    width: 132px;
}

header .wrap_header .right_register_login {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header .wrap_header .right_register_login .sp_register {
    background: #fedd3c!important;
    color: #000000;
    margin-right: 20px;
}

header .wrap_header .right_register_login .sp_login {
    color: #fff;
    background: #414141;
}

header .wrap_header .right_register_login span {
    color: white;
    display: inline-block;
    padding: 8px 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

/*========================end header ========================*/
/*------------------------ menu mobi ------------------------*/

.menuMobi {
    background: transparent;
    position: absolute;
    z-index: 9999;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.menuMobi a:before,
.menuMobi a:after,
.menuMobi a span {
    background: #333 !important;
}

.header a span {
    margin: 5px 0 !important;
}

.menuMobi a:before,
.menuMobi a:after {
    height: 2px;
    transition: 0.6s;
}

.menuMobi a span {
    height: 2px;
    width: 100%;
    transition: 0.6s;
}

.menuMobi a:hover span {
    width: 100%;
    transition: 0.6s;
}

.mm-panel_has-navbar .mm-navbar {
    background: #333;
}

.mm-navbar__title {
    color: #fff !important;
    font-weight: 500;
    text-transform: uppercase;
}

.mm-listitem {
    background: #fff;
}

.mm-listitem__text {
    font-weight: 500;
    color: #111;
    text-transform: uppercase;
}

.mm-btn_prev:before {
    border-color: #fff;
}

.mm-btn_next:after {
    border-color: #888;
}

.mm-panel:not(.mm-hidden) {
    background: #fff;
}

.mm-menu_offcanvas {
    max-width: 300px !important;
}

.mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout {
    transform: translate3d(300px, 0, 0) !important;
}

/*------------------------ End menu mobi ------------------------*/
/*======================== End header ========================*/
/*========================  footer =========================*/

footer {
    background: #000;
    border-top-right-radius: 250px;
}

/* .footer_top */

.footer_top .customer_talkabout_trading .icon_question {
    position: absolute;
    top: -36px;
}

.footer_top .customer_talkabout_trading .wrap_talkabout {
    padding: 90px 0px;
    color: white;
}

.footer_top .customer_talkabout_trading .wrap_talkabout h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 40px;
    margin-bottom: 55px;
}

.footer_top .customer_talkabout_trading .content_talkabout {
    padding: 30px;
    background: #1f1e1e;
    -webkit-box-shadow: 0 30px 90px rgba(0, 0, 0, .1);
    box-shadow: 0 30px 90px rgba(0, 0, 0, .1);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_top .customer_talkabout_trading .content_talkabout .desc_talkabout {
    font-size: 18px;
    line-height: 30px;
    color: #7c7c7c;
    /* height: 275px; */
}

.footer_top .customer_talkabout_trading .content_talkabout .user_trading {
    padding-top: 40px;
    display: flex;
}

.footer_top .customer_talkabout_trading .content_talkabout .user_trading img {
    margin-right: 28px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.footer_top .customer_talkabout_trading .content_talkabout .user_trading .name_job_user .name {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.footer_top .customer_talkabout_trading .content_talkabout .user_trading .name_job_user .job {
    font-size: 15px;
    line-height: 30px;
    color: #7c7c7c;
    opacity: .7;
}

/* footer_bottom */

.footer_bottom .same_cols:not(:first-child) {
    justify-content: center;
    display: flex;
    justify-content: center;
}

.footer_bottom .same_cols:not(:last-child) {
    margin-right: 10px;
}

.footer_bottom .box_content img {
    max-width: 100%;
}

.box_content {
    color: white;
    position: relative;
    z-index: 2;
}

.footer_bottom .box_content .copy__right {
    color: #fff;
    opacity: .6;
    font-size: 12px;
}

.footer_bottom .box__height {
    height: 80px;
}

.footer_bottom .box__height span {
    font-size: 16px;
    display: inline-block;
    padding-top: 20px;
}

.footer_bottom .__text a {
    color: #fff!important;
    opacity: .6;
    line-height: 30px;
}

.footer_bottom .box_content .email {
    margin-top: 2px;
}

.footer_bottom .box_content .email .sp_email {
    color: #fedd3c;
}

.footer_bottom .box_content .email .text_email {
    color: white;
}

.footer_bottom .choose_language {
    position: relative;
    display: flex;
    background: #1f1e1e;
    align-items: center;
    width: 160px;
    padding: 11px 0px 11px 15px;
    cursor: pointer;
    transition: 0.3s;
}

.footer_bottom .choose_language::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 45%;
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.footer_bottom .choose_language .flag_icon img {
    width: 18px;
}

.footer_bottom .choose_language .nation {
    font-size: 13px;
    margin-left: 10px;
}

.footer_bottom .bottom_content_top {
    padding-bottom: 60px;
    border-bottom: 1px solid #464646;
}

.footer_bottom .bottom_content_bottom {
    color: #fff;
    opacity: .6;
    padding: 60px 0px;
    font-size: 15px;
}

/*----option language-----*/

.select ul .option:hover {
    background: #B8B8B8;
}

.select ul .option {
    z-index: 1;
    list-style: none;
}

.select ul .option .same_item {
    display: inline-block;
}

.select ul .option:not(:first-child) {
    display: none;
}

.select ul li {
    cursor: pointer;
}

/*======================= end footer ========================*/
/*========================slide form==========================*/

.overplay_form {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 45%);
    top: 0;
    right: -100%;
    z-index: 1999;
    transition: 0.3s;
}

.same_form {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100%;
    background: black;
    z-index: 2000;
    width: 428px;
    padding: 2em;
    filter: drop-shadow(2px 28px 11px black);
    transition: 0.4s;
    overflow-y: auto;
}

.active_register {
    right: 0;
}

.same_form .header_form {
    margin-bottom: 15px;
}

.same_form .header_form img {
    height: 60px;
}

.same_form .header_form i {
    font-size: 40px;
    margin-left: auto;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.same_form .header_form i::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: white;
    z-index: -1;
}

.same_form .bottom_form {
    color: white;
}

.same_form .bottom_form h2 {
    font-size: 24px;
    padding: 15px 0px 15px 0px;
}

.same_form .bottom_form input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.same_form .bottom_form label {
    display: block;
    color: #7c7c7c;
    position: static;
    opacity: 1;
}

.same_form .item_form:not(:first-child) {
    margin-top: 20px;
}

.same_form .btn_register {
    width: 100%;
    border: none;
    padding: 10px 0px;
    border-radius: 6px;
    margin-top: 60px;
    font-weight: bold;
}

.same_form .link_check {
    margin-top: 12px;
}

.same_form .link_check a {
    color: #fedd3c;
}


/*======================end slide form==========================*/
/*======================== End copyright ========================*/

.copy_right {
    text-align: center;
    background-color: #d9e6ed;
    padding: 15px 0px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.copy_right span {
    font-weight: bold;
}
/*======================== copyright ========================*/
/*======================== go to top ========================*/

.go__top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    padding: 1em 1.4em;
    display: none;
    opacity: 0.5;
    z-index: 9999999;
    background-color: #333;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    border-radius: 100%;
}

.go__top i {
    color: white;
}

.go__top:hover {
    opacity: 1;
    color: #fff;
}
/*======================== go to top End ========================*/
/*======================== for resposive screen ========================*/
@media (min-width: 1025px) {
    .container {
        max-width: 1200px !important;
    }
    .footer_bottom .my-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20.666667%;
        flex: 0 0 18.666667%;
        max-width: 18.666667%;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}
@media screen and (max-width: 1024px) {
    header {
        filter: drop-shadow(1px 1px 3px black);
    }
    .footer_top .customer_talkabout_trading .content_talkabout .user_trading .name_job_user .name {
        font-size: 16px;
        line-height: 25px;
    }
    .footer_top .customer_talkabout_trading .content_talkabout .desc_talkabout {
        font-size: 16px;
        line-height: 30px;
    }
    .footer_top .customer_talkabout_trading .wrap_talkabout {
        padding-bottom: 45px;
        color: white;
    }
    footer {
        border-top-right-radius: 180px;
    }
    .footer_top .customer_talkabout_trading .wrap_talkabout h2 {
        font-size: 35px;
        line-height: 30px;
    }
    .footer_bottom .same_cols:not(:last-child) {
        margin-right: 0px;
    }
}
@media screen and (max-width: 812px) {
    .footer_bottom .bottom_content_top {
        padding-bottom: 24px;
    }
    .footer_bottom .bottom_content_bottom {
        padding: 45px 0px;
        font-size: 15px;
        text-align: center;
    }
}
@media screen and (max-width: 540px) {
    footer {
        border-top-right-radius: 120px ;
        filter: drop-shadow(1px 4px 6px black);
    }
    .footer_top .customer_talkabout_trading .wrap_talkabout h2 {
        font-size: 24px;
        line-height: 10px;
        margin-bottom: 45px;
    }
    .footer_top .customer_talkabout_trading .wrap_talkabout {
        padding-bottom: 45px;
    }
    .footer_bottom .__text {
        line-height: 20px;
    }
    .footer_bottom .box__height {
        height: 65px;
    }
    .same_form .bottom_form h2 {
        font-size: 20px;
    }
}


/*====================== for resposive screen end ======================*/